.ddsmoothmenu { font-family: CenturyGothic; width:940px; position:absolute; bottom:0; right:0; background: url(../images/backgrounds/menu-bg.png) repeat-x;}
.ddsmoothmenu ul { z-index:100; margin:0; padding:0; list-style-type:none; float:left; position: relative; }

/*Top level list items*/
.ddsmoothmenu ul li { float: left; display:inline-block; position: relative; }

/*Top level menu link items style*/
.ddsmoothmenu ul li a {
	display:block; padding:0 37px !important; padding:0 36px\9 !important; height:40px; line-height:40px; color:#fff; 
	font-size:14px; position:relative;text-transform: uppercase;
	background:url(../images/backgrounds/nav-li-a-bg.png) top right no-repeat;
}
.ddsmoothmenu ul li.page-item-113 a{background: none;}
	.ddsmoothmenu ul li.current_page_parent a { background:url(../images/backgrounds/menu-hover.png) repeat-x; color:#fff !important; }
	.ddsmoothmenu ul li.current_page_parent ul li a { background:none; }
	.ddsmoothmenu ul li.current_page_parent ul li.current_page_item a { background:#3f3f3f; color:#fff !important; }

/*IE6 hack to get sub menu links to behave correctly*/
* html .ddsmoothmenu ul li a { display: inline-block; }
/*.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited { color: white; }*/

/*CSS class that's dynamically added to the currently active menu items' LI A element*/
.ddsmoothmenu ul li a.selected {}
.ddsmoothmenu ul li a:hover { color: #eb048b; text-decoration: none; }
	
/*1st sub level menu*/
.ddsmoothmenu ul li ul {
	display:none; visibility:hidden; position:absolute; left:0 !important; width:240px !important; padding:0 1px 1px; 
	background:url(../images/backgrounds/smoothmenu-ul-ul-inset.png) 0 0 repeat-x #eb048b; 
	-moz-box-shadow:0 0 5px rgba(0,0,0,.5); -webkit-box-shadow:0 0 5px rgba(0,0,0,.5); box-shadow:0 0 5px rgba(0,0,0,.5); 
}

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li { margin:0; }

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul {top: 0;}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a {
	width:230px; height:30px; line-height:30px; margin:0; padding:0 5px 0 5px !important; position:static;
	color:#fff !important; font-size:12px !important; font-weight:normal !important;
	text-transform:capitalize; background:url(../images/backgrounds/arrow-nav.png) 10px center no-repeat; border-bottom: 1px solid #F730A6;
}
	.ddsmoothmenu ul li ul li:last-child a { border-bottom: none;}
	
	.ddsmoothmenu ul li ul li a:hover, 
	.ddsmoothmenu ul li ul li a.selected, 
	.ddsmoothmenu ul li ul li.current_page_parent a, 
	.ddsmoothmenu ul li ul li.current_page_ancestor a,
	.ddsmoothmenu ul li ul li.current_page_ancestor ul li.current_page_parent a,
	.ddsmoothmenu ul li ul li.current_page_ancestor ul li.current_page_parent a:hover,
	.ddsmoothmenu ul li ul li.current_page_ancestor ul li a:hover {
		background:#3f3f3f; color:#fff !important; 
	}
	.ddsmoothmenu ul li ul li.current_page_parent ul li a,
	.ddsmoothmenu ul li ul li.current_page_ancestor ul li a,
	.ddsmoothmenu ul li ul li.current_page_ancestor ul li.current_page_parent ul li a { background: #f57f54; }
	.ddsmoothmenu ul li ul li.current_page_parent ul li a:hover { background: #d83b20; border-bottom: solid 1px #fff; }
	
/* Holly Hack for IE \*/
* html .ddsmoothmenu { height: 1%;} /*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow images  ######### */
/*.downarrowclass:hover { background:url(../images/backgrounds/smoothmenu-arrow.png) center bottom no-repeat; }*/
.downarrowclass { 
	display:none; position:absolute; bottom:0; left:31%; width:24px; height:13px; z-index:101;
}
.ddsmoothmenu ul li:hover .downarrowclass { display:block; }
.rightarrowclass {}

/* ######### CSS for shadow added to sub menus  ######### */
.ddshadow { position: absolute; left: 0; top: 0; width: 0; height: 0; background: silver; }

.toplevelshadow { /*shadow opacity. Doesn't work in IE*/ opacity: 0.8; display: none !important; }
