.footerwrap .footer-links-gtranslate { *width:360px; }
.footerwrap .gtranslate { width:150px; overflow:hidden; }
table.property td.listCont .listWrap { *height:306px; }
body#property #content, body#property #sidebar { *display:inline-block; }


