.ddsmoothmenu { background:url(../images/ie/ddsmoothmenu.png) 0 0 repeat-x; }
#search_results #map_search_result div.gmnoprint div.gmnoprint { height:335px !important; background:#fff; }
#search_results #map_search_result .info-window-wrap { width:300px; height:300px; }