/*
Title:      Styles hacks for the abomination that is Internet Explorer 7
Author:     Jen Germann // http://ginga.com.au/
Updated:    September 22, 2009
*/

#nav ul li { /*position: relative;*/ }
#nav ul li a { /*width: 50px;clear: both;*/ }
#nav ul li ul { clear: both; }
#nav ul li:hover ul {z-index:999; /*left: 0;*/ }
#nav ul li a div {  }
