/* Custom Login styles */

h1 a {
	width: 326px;
	height: 83px;
}
a, a:link, a:visited, .login #nav a { -webkit-transition: color .4s ease-in-out; }

/* set in login-colors.php by theme options page */
.login form {  }
label {  }
input, select {  }
.login .message {  }
.login #nav a {  }
.login #nav a:hover {  }


#login form .submit input {
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-position: left top !important;
	color: #fff;
	cursor: pointer;
	border: 0;
	-webkit-transition: background-color .4s ease-in-out;
}

#login form .submit input:hover, #login form .submit input:active {
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-position: left top !important;
	color: #fff;
}