body { color:#000000; background:#ffffff; font-family:"Times New Roman", Times, serif; font-size:12pt; }
a { text-decoration : underline; color : #0000ff; }
.ddsmoothmenu, .follow, #footer , #page_nav_buttons{ display:none; }
#header { width:100%; height:94px; }
#header .logo { float:left; margin:10px 0 0 10px; }
#header .phone { float:right; margin:30px 10px 0 0; font-size:18pt; color:#fff; }
#container { clear:both; }
h1.page-title { font-size:18pt; }
table { width:100%; margin:0 0 20px; border-top:solid 1px silver; border-left:solid 1px silver; }
th, td { padding:5px; border-right: solid 1px silver; border-bottom: solid 1px silver; }
th { text-align:left;  color:white; }
td.auction_time, td.time_cell { width:150px; }
td.place_cell { width:100px; }
td.suburb_cell { width:100px; }
td.address_cell { width:150px; }
td.property_type_cell { width:100px; }
td.bedrooms_cell { text-align:center; }
td.price_cell { text-align:right; }
td.property_link {}