@font-face { 
	font-family:"MetaPlus Roman"; 
	src:url('http://www.placensw.com/dekky/wp-content/themes/place/fonts/metaplus_roman.eot');
}

@font-face { 
	font-family:"MetaPlus Italic"; 
	src:url('http://www.placensw.com/dekky/wp-content/themes/place/fonts/metaplus_italic.eot');
}

@font-face { 
	font-family:"MetaPlus Bold"; 
	src:url('http://www.placensw.com/dekky/wp-content/themes/place/fonts/metacond_bold.eot');
}

.follow { bottom:3px; }
.sorter_search_quick { width:119px; }
.sorter_search_quick select {}
