/***** Typography *****/
table.maintable h3 { color: #093E56;}

/***** Forms *****/
table.maintable input[type=radio] { width: 250px; }
table.maintable input.radio { width: auto; margin: 0 0 0 3px; }
table.maintable textarea { width:600px; height: 200px; }
table.maintable textarea.small_textarea { width:600px; height: 50px; }
table.maintable select { width:258px; }
table.widefat td, table.widefat th { vertical-align:top !important; } 

td.followme label { width: 70px; margin: 2px 20px 0 0; padding: 20px 0 30px; /*float: left;*/ }

td.followme label input { vertical-align: middle !important; }

.leftside { width: 75%; margin-right: 20px; float: left; }
.wrap table {
	margin:0 0 20px;
}
thead th { font-size: 1em !important; text-transform: uppercase !important; }
th.rowheader { width: 20% !important; }
td.field { width: 40% !important; }
td.instruction { padding-left: 5px; }

#poststuff { width: 200px !important; min-width: auto !important; float: left; }
.postbox { width: 200px !important; min-width: 108px !important; }
.inside { width: 200px !important; }

#overlay {
	z-index:1000;
	position:absolute;
	top:1020px;
	bottom:0;
	left:0;
	width:75%;
	height:400px;
	background:#000;
	opacity:0.45;
	-moz-opacity:0.45;
	filter:alpha(opacity=45);
	visibility:hidden;
}