.uploadifyQueueItem { margin:20px 0; }
.uploadifyError {}
.uploadifyQueueItem .cancel { float:right; }
.uploadifyQueue .completed { color:#C5C5C5; }
.uploadifyProgress { background-color:#E5E5E5; margin-top:10px; width:100%; }
.uploadifyProgressBar { background-color:#0099FF; height:3px; width:1px; }
.custom-queue {}ul.image_list {    float: left;    margin: 0 0 15px;    width: 100%;}ul.image_list li {    border: 1px solid #EEEEEE !important;    cursor: pointer;    float: left;    height: 190px;    margin: 0 5px 5px 0;    padding: 5px !important;    position: relative;}
ul.image_list li a.delete-image {    background: url("delete_data.png") no-repeat scroll 2px 0 #FFFFFF;    display: block;    height: 16px;    padding: 0 0 2px;    position: absolute;    right: 5px;    top: 5px;    width: 18px;}