/***** Typography *****/
table.maintable h3 { color: #093E56;}

/***** Forms *****/
table.maintable input { width: 250px; }
	table.maintable input.radio { width: auto; margin: 0 0 0 3px; }
table.maintable textarea { width:600px; height: 400px; }
table.maintable select { width:258px; }

td.followme label { width: 70px; margin: 2px 20px 0 0; padding: 20px 0 30px; float: left; }
td.followme label span { display: none; }
td.followme label input { vertical-align: middle !important; }

/*.red { background-color: #d1361b; }
.yellow { background-color: #fda700; }
.teal { background-color: #178b8c; }
.olive { background-color: #8aa106; }
.magenta { background-color: #aa154d; }
.orange { background-color: #eb6000; }
.blue { background-color: #008bbe; }
.green { background-color: #5cae02; }
.tan { background-color: #b96900; }
.silver { background-color: #7c98ae; }
.purple { background-color: #644973; }
.dkblue { background-color: #0f4b96; }
.black { background-color: #121212; }
*/

.leftside { width: 75%; margin-right: 20px; float: left; }
/***** Tables *****/
/* tables still need 'cellspacing="0"' in the markup */
.wrap table {
	margin:0 0 20px;
}
thead th { font-size: 1em !important; text-transform: uppercase !important; }
th.rowheader { width: 20% !important; }
td.field { width: 40% !important; }
td.field input{background:#fff;padding:3px;border:1px solid #ccc;}
td.instruction { padding-left: 5px; }

#poststuff { width: 188px !important; min-width: auto !important; float: left; }
.postbox { width: 188px !important; min-width: 108px !important; }
.inside { width: 181px !important; }