/* B2 - Typography Styles 1 */

/*
EXPLANATION FOR HEADER PLACEMENT

These header tags have been styled with SEO in mind:
H1: Logo. It's not really intended to be used elsewhere, but it is styled here since clients tend to use whatever they want in posts.
H2: Page titles or really important main points on a page
H3: Sidebar headers and other subheaders under the main points
H4: Less important subheadings
H5 and H6: Pretty much just for some emphasis

*/

/* global settings
---------------------------------------------------------- */
body { font: normal 14px/20px Arial, Helvetica Neue, Helvetica, sans-serif; }

/***** Headers *****/
#content h1, h2, h3, h4, legend, blockquote p, p.headline, #sidebar p.property_headline, #content td.thumbCont p.suburb {
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
}

#content h1, h2 {
	margin: 5px 0 4px;
	font-size:24px;
	letter-spacing: -1px;
	line-height: 27px;
}
#content h2 { text-shadow: 2px 2px 1px #bbb; }
h2.post_title { margin: 0 0 4px; }
h2.post_title a, h2.section_title { border-bottom-width: 1px; border-bottom-style: solid; }
h2.section_title { margin-bottom: 10px; padding-bottom: 4px; }

#content h3, #content #property_description h4 {
	margin: 6px 0 5px;
	font-size: 21px;
	line-height: 24px;
}

#sidebar h3 {
	margin: 0 0 3px;
	font-size:15px;
	line-height: 21px;
	text-shadow: 0 1px 0 #fff;
}

h4, #sidebar p.property_headline {
	margin: 7px 0 3px;
	font-size: 18px;
	line-height: 21px;
}

h5, caption {
	margin: 8px 0 3px;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 20px;
	text-transform: uppercase;
}

h6, legend { /* H6 basically gives the user another bold element */
	margin: 6px 0 3px;
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
}

/***** Tabbed sections *****/
ul.shadetabs, ul.ui-tabs-nav, ul#listing_tabs { font-size: 11px !important; }
ul.shadetabs li a, ul.ui-tabs-nav li a, ul#listing_tabs li a { font-weight: bold; color: #fff; text-align: center; text-transform: uppercase; }
ul.shadetabs li a:hover, ul.shadetabs li a.selected, ul.ui-tabs-nav li.ui-tabs-selected a, ul#listing_tabs li.current a { text-decoration: none; }

.realty_widget_stamp_duty_and_mortgage_calculator ul.shadetabs li a { 
	font-weight: bold; color: #535353; text-align: center; text-transform: capitalize;
}

/***** p, ul, ol, dl *****/
#contact_info p { font-size: 12px; line-height: 17px; text-align: center; }

#content p, #content ul, #content ol, #content dl { font-size:14px; }
#content p.postdate, #content p.postmetadata { font-size: 12px; font-weight: bold; }
#content p.flag { font-size: 11px; }
#content p.headline {
	margin: 7px 0 3px;
	font-size: 16px;
	line-height: 21px;
}
#content td.thumbCont p.suburb { font-size: 16px; line-height: 21px; }

#content .post p.wp-caption-text { font-size: 11px; line-height: 14px; text-align: center; }
#content .post .wp-caption { font-style: italic; }

#content div.comment-author p, #content .land_building_size p, #sidebar p, #sidebar ul, #sidebar label, #extra ul, #extra p { font-size:12px; }
#sidebar #tagcloud p { line-height: 39px; }

#footer p { font-size:12px; }
#footer p a { font-weight: bold; }
#footer_nav ul li.page_item_top { font-size: 15px; }

/* spacing */
p { padding:0 0 20px; }
	#contact_info p, #sidebar p.property_headline { padding: 0; }
	#sidebar #tagcloud p { padding: 0 0 21px; }
	#content blockquote p { padding: 0 0 8px !important; }
	#content p.postmetadata { padding: 5px !important; }
	#content p.headline { margin: 0; padding: 0; }
	#content td.thumbCont p.suburb { margin: 0; padding: 10px 0 0; }
	#content td.descCont p.description { padding: 0 0 9px; }

ul, ol, dl { margin: 0 15px; padding: 0 15px 15px; }
ul li, ol li, dl dd { padding-bottom: 5px; }
	blockquote ul li, blockquote ol li, blockquote dl dd { padding-bottom: 5px; }
	#sidebar ul li, #sidebar ol li, #sidebar dl dd { padding-bottom: 0; }
ul ul, ol ol { padding: 0; }
ol.alpha { list-style: lower-alpha; } /* gives the client the option to have alpha lists */

/* other elements */
blockquote { margin-top: 0; margin-bottom: 27px; }
#content blockquote p, #content blockquote ol, #content blockquote ul {
	font-style: italic;
	font-weight: normal;
}
#content ul blockquote p { font-size: 13px !important; }

strong, em 	{ font-family: Arial, Helvetica Neue, Helvetica, sans-serif; }
strong, dt, cite { font-weight: bold; }
em { font-style: italic; }

small { font-size:12px; }
acronym, abbr { cursor:help; letter-spacing:1px; border-bottom:1px dashed; }

/***** Forms *****/
input, select, textarea { font-size: 12px; }
textarea { line-height:21px; }

input#s { font-size: 14px; font-weight: bold; }
form#searchform input#searchsubmit { font-size: 14px; font-weight: bold; text-align: center; }

#formpart ol.cf-ol li { font-size: 11px; line-height: 14px; }
#formpart input, #formpart textarea { font-size: 11px; }
#formpart select { font-size: 11px; }
#formpart p.requi { text-align: right; font-size: 11px; line-height: 14px; }

/***** Tables *****/
table { font-size: 14px; }
.field { font-weight: bold; }
	#details table td.field { font-weight: normal; }

/***** Links *****/
p.button.big a.btn { font-size: 14px; }

/***** Buttons *****/
p.button, p.cf-sb, p.quick_search_btn, .action_buttons p, p.submit_btn { font-size: 11px !important; }
a.btn, input.btn, input.Buttons, input.sendbutton {
	color: #fff; font-size: 11px; font-weight: bold; text-align: center; text-transform: uppercase;
}

/* Nav
---------------------------------------------------------- */
#nav ul { font-size:14px; }
#nav ul li ul { font-size: 12px; }

/* Sidebar
---------------------------------------------------------- */
#subscribe_block ul li a { font-size: 14px; font-weight: bold; }
#quick_search p.instruction { padding: 0 0 6px; font-size: 11px; }
#quick_search label, .realty_widget_sold_listings table, .realty_widget_sold_listings2 table, #recent_sales ul, .sim_content ul { font-size: 12px; }

/* Content
---------------------------------------------------------- */
p.postmetadata a, .more-link { font-weight: bold; }
#team_member .tdContent p { font-size: 11px; line-height: 12px; text-align: center; }
#other_properties a { font-weight: bold; }
#content p.property_type { font-weight: bold; }
#content td.descCont p.price { font-weight: bold; }
table.sales_data_table { font-size: 9px; line-height: 12px; }
table.sales_data_table th { font-weight: bold; text-align: center; }

/* Property
---------------------------------------------------------- */
#content td.descCont p.price, #content p.property_type, #content ul.rooms { font-size: 12px; }
#details .block_bottom p { font-size: 15px; font-weight: bold; }
#calc_results, #calc_result { font-size: 14px; line-height: 21px; font-weight: bold; }
#street_view_button{ font:small Arial, Helvetica, sans-serif; line-height: 1em; text-align:center; }
#content #property_stats table { font-size: 11px; }
#content #property_stats table tr.DataTableHeader td { font-size: 12px; line-height: 15px; text-align: center; }
p.location_info { font-weight: bold; }
p.location_info span { font-weight: normal; }
.interesting_location p { padding: 0; text-transform: capitalize; }
