html {}
html body.login { 
	padding:0 !important; 
	background: #F3F3F3;
}

html body.login #login { position:relative; width:470px; padding:75px 0 0; }

html body.login #login > h1 { margin:0 0 0px; }
html body.login #login > h1 a { width:470px; height:98px; margin:0 auto; padding:0; background:url(../img/logo.jpg) center center no-repeat; }

html body.login form { 
	margin:0px 0; padding:30px 30px 55px; background:#fff; border:1px solid #DADADA; 
	box-shadow:0 0 5px rgba(0, 0, 0, .15), 0 0 1px #FFFFFF inset; border-radius:0;
}

html body.login p#nav, html body.login p#backtoblog { margin:0; padding:0 0 5px; text-align:right; }

html body.login p#nav a, html body.login p#backtoblog a { color:#66BCD1 !important; text-shadow:none; text-decoration:none; }
html body.login p#nav a:hover, html body.login p#backtoblog a:hover { color:rgba(20, 133, 161, 1) !important; text-decoration:underline; }

html body.login p.submit input[type="submit"] {
	line-height: 0px;
	/*padding:3px 15px; cursor:pointer; color:#ccc; */ /*font:300 15px/normal 'Oswald', Arial, Helvetica, sans-serif;*/ 
	font-family:inherit;
	border:1px solid #222222; border-radius:2px; box-shadow:0 0 1px rgba(255, 255, 255, 0.5) inset;
	-moz-transition: all 0.5s; -webkit-transition: all 0.5s; -o-transition: all 0.5s; 
	background:#222222;
	background:-moz-linear-gradient(top, #2C2C2C 0%, #222222 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#2C2C2C), color-stop(100%,#222222));
	background:-webkit-linear-gradient(top, #2C2C2C 0%,#222222 100%);
	background:-o-linear-gradient(top, #2C2C2C 0%,#222222 100%);
	background:-ms-linear-gradient(top, #2C2C2C 0%,#222222 100%);
	background:linear-gradient(top, #2C2C2C 0%,#222222 100%);
} 
html body.login p.submit input[type="submit"]:hover {
	color:#fff; text-decoration:none;
}

html body.login p.message { margin:0; padding:0; border:none; border-radius:0; background:none; text-align:center; color:#fff; }

html body.login #login_error { margin:0; padding:0; background:none; border:none; text-align:center; font-style:italic; color:#fff; }
html body.login #login_error a { color:#fff; }

html body.login #pass-strength-result { float:none; margin:0 0 15px; width:97%; }

