/*@import url(http://fonts.googleapis.com/css?family=Oswald:300,400,700|Lobster|Lobster+Two:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Oswald:300,400,700);*/
/*@import url(http://fonts.googleapis.com/css?family=PT+Sans);*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

/* GLOBAL
==================================================================================================== *****/
/***** LAYOUT *****/

body {  font:400 10pt/1.5 Open Sans, 'Oswald', Arial, Helvetica, sans-serif; color:#797572; -webkit-text-size-adjust: 100%; }
body#home {background-image:none}
body > .wrap  {padding-top: 0px}

.red {color: red;#manage_profile ol.cf-ol div.prop_alerts_ul > div.opt_lease}

#header {background-color: #FFFFFF;width: 100%;z-index: 2;top: 0; margin-top: -45px;}
#headerwrap {height: 85px;margin: 80px auto 0px;position: relative;width: 980px;}
#headerwrap .site-description .social.left {float: right;}
#nav { height:41px}
.red-space {background:#AA0000;
	background:-moz-linear-gradient(top, #DA0000 0%, #AA0000 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#DA0000), color-stop(100%,#AA0000));
	background:-webkit-linear-gradient(top, #DA0000 0%,#AA0000 100%);
	background:-o-linear-gradient(top, #DA0000 0%,#AA0000 100%);
	background:-ms-linear-gradient(top, #DA0000 0%,#AA0000 100%);
	background:linear-gradient(top, #DA0000 0%,#AA0000 100%);height: 300px;display: none;}
body#home .red-space{display: none;}
#main_body {margin: 0px auto 0px;padding: 20px 0 0 0;;position: relative;width: 980px;z-index: 1; background-color: #FFFFFF; min-height: 400px;}
#main_body > a {display:none;}
body#home #main_body {margin-top: 0px; margin-bottom: 0px; width: 100%;}
body#home.blog #main_body{margin: 30px auto;position: relative;width: 980px;z-index: 1;}
#content {padding: 0 0 0 0px;width: 690px; float: left;}
body#selling #content, body#landlord #content, body#careers #content {
    float: left;
    margin-top: 20px;
    padding: 0;
    width: 100%;
}
#sidebar {background-color: #f3f3f4;
    border: 1px solid #e2e3e4;
    float: right;
    height: 288px;
    padding: 9px 19px;
    width: 240px;}
body#selling #sidebar, body#landlord #sidebar, body#careers #sidebar {
    height: 280px;
    margin-top: 20px;
    position: absolute;
    right: 0;
    width: 240px;
}
#sidebar .side_block {border: 1px solid #F0F0F0; border-top:none; margin-bottom:15px}
body#property #sidebar .side_block {border: 0px solid #F0F0F0}
body#property #sidebar #property_tools a.btn {background-color: transparent !important; border: 0px solid #fff !important}
body#home #sidebar {width: 240px}
body #sidebar .gform_wrapper {}
body#home #sidebar #gform_wrapper_2 {height:278px}
#renting #sidebar .gform_wrapper {min-height: 281px}
#selling #sidebar .gform_wrapper {min-height: 279px}

body#property #content {position: relative; box-sizing: border-box; padding: 0 12px 0 0;}
body#property #content .media_div.with_scroller{height: auto; top: 10px; margin-bottom: 30px}
body#property #content .media_div.with_scroller table.media_table {width: 100%;}
body#property #sidebar ul li {padding:0px; text-align: center;}
body#property #sidebar ul li span {float: none;}
body#property #sidebar ul li a{float: left;padding: 1px 5px;background-color: #66BCD1;margin-right: 2px;color: #fff}
body#property #sidebar {height: auto; width: 248px; position: relative; padding-bottom: 30px; margin-top:29px; }
body#property #sidebar a{float: none}
body#property #sidebar a.btn {box-shadow: none}
body#property #sidebar #realty_widget_contact_agent h2.section_title,
body#property #sidebar h4.title,
body#property #sidebar #details h4.title,
body#property #realty_widget_action_buttons .title {
	width:100%;font-size:18px;color:#2E3192;border-bottom:1px solid #E2E3E4;
	background-color:transparent;margin-bottom: 10px
}
body#property #sidebar #realty_widget_contact_agent #agentinfo a:hover {text-decoration: none}
body#property #sidebar #realty_widget_contact_agent #agentinfo p.agent_photo a img{float: left; padding-right: 10px; width: 100px;height: auto;}
body#property #sidebar ul li a:hover{background-color: rgba(39, 146, 173, 1); text-decoration: none}
body#property #sidebar ul {padding-bottom: 20px;}
body#property #sidebar #property_tools a.btn:hover{color: #666}
body#property #sidebar #main_body .content #sidebar ul li a{float: left}

body#property #realty_widget_action_buttons {
    height: auto;
    width: 246px;
    position: relative;
    padding-bottom: 30px;
    margin-top: 7px;
    float: right;
    padding: 9px 20px;
    background-color: #f3f3f4;
    border: 1px solid #e2e3e4;
}
body#property #sidebar #realty_widget_action_buttons {width: 226px;}

.wrap #property_tools p.button a {border: none; box-shadow: none;}

body#property #content .media_div.with_scroller table.media_table td.td_slider_photo {position: relative;top: 0px;left: 0px;overflow: hidden;width: 678px;height: 397px; padding: 0px; display: block;}
body#property #content .media_div.with_scroller table.media_table td.td_slider_photo a img {width: 100%; position: absolute; bottom: 0;}
body#property #content .media_div.with_scroller table.media_table td.td_photo_scroller {display: block; padding: 5px 0; height: 79px;}
body#property #content .media_div.with_scroller table.media_table td.td_slider_photo a#slide_photo_ref img{width: 100%;height: 100%; margin-top: 0px !important;}
.homepage-search h4.title, #sidebar h4.title {color: #2E3192;}
		
.homepage-content h4.title {text-transform:none}
#comments h4.title { border-bottom:none; }
.linkcat .blogroll, .homepage-content .wrap, .side_block .textwidget { padding:20px; background:url("../img/wrap-shad.png") repeat-x scroll 0 0 #FFFFFF; }
body#home .news-media .wrap, body#home #subscribe_rss .wrap {border-bottom: medium none;}
.block.home-text .wrap, .single #content .block .wrap { border-bottom:none; }

#footer  {margin-bottom: 20px; margin-top: 10px;}
#footerwrap {color: #555;font-size: 14px;margin: 0 auto;text-shadow: 1px 1px 0 #FFF;width: 980px; text-align:right;}
#footerwrap .footer-menu {position: relative;}
#footerwrap .footer-credit {padding-right: 113px;font-size: 7pt;}
#footerwrap .footer-credit p{ color: #AAA}

/***** DEFAULT *****/
h1, h2, h3, h4, h5, h6 { color:#797572; line-height:normal}
h1 { font-size:12px; font-weight: 600}
h2 { font-size: 14px; font-weight: 600}
h3 { font-size:20px}
h4 { font-size: 12px; font-weight: 700}
h5 { font-size:16px}
h6 { font-size:14px}
h1.page-title { margin:0 0 10px; font-weight: 600;font-size: 16pt; } 
.popup-form h1.page-title { margin:0 0 20px; text-align:center; } 
.agents h1.page-title span { padding:0 0 0 10px; font:300 13px/normal 'Oswald',Arial,Helvetica,sans-serif; color:#666; }

#blog .entry > h1 {display:none}
#blog .entry > h2 {display: block !important;float: none !important;margin: 0}

#headerwrap .subtitle h1{display: none}
strong { font-weight:600}
em { font-style:italic}
img { display:block}
hr { width:100%; margin:0 0 20px; border:0 none; border-top:1px solid #f0f0f0; clear:both}
a { /*color:#66BCD1;*/ color: #2E3192; text-decoration:none; outline:0 none; -moz-transition:all 0.5s; -webkit-transition:all 0.5s; -o-transition:all 0.5s; transition:all 0.5s}
a:hover { text-decoration:none; color: #2E3192;}
#lightbox a, #scroll-controls a, #agent ul.agent-tabs li a,
.block.home-image #slide-paging a {-moz-transition:none;-webkit-transition:none;-o-transition:none; transition:none}

input[type="text"], input[type="tel"], input[type="email"], select, textarea { 
	padding:2px; border:1px solid #EAEAEA; font-family:inherit; font-size:inherit; 
	-moz-transition: all 0.5s; -webkit-transition: all 0.5s; -o-transition: all 0.5s; 
}
input[type="text"]:hover, input[type="tel"]:hover,
input[type="email"]:hover, select:hover,
textarea:hover { color:#888; background:#EEE; border:1px solid #DDD; box-shadow:0 0 5px rgba(0, 0, 0, 0.075) inset}
input[type="radio"], input[type="checkbox"] {float: left;margin: 4px 5px 0 0; width: 13px; height: 13px;}
input[type="submit"], input[type="button"], a.btn, #search_results_container .link-back a {
	padding:5px 22px; cursor:pointer; color:#ccc; 
	font-family:inherit;
	border:1px solid #565E5F; border-radius:2px; box-shadow:0 0 1px #565E5F inset;
	-moz-transition: all 0.5s; -webkit-transition: all 0.5s; -o-transition: all 0.5s; 
	background:#797572;
	background:-moz-linear-gradient(top, #3C3C3C 0%, #797572 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#3C3C3C), color-stop(100%,#797572));
	background:-webkit-linear-gradient(top, #3C3C3C 0%,#797572 100%);
	background:-o-linear-gradient(top, #3C3C3C 0%,#797572 100%);
	background:-ms-linear-gradient(top, #3C3C3C 0%,#797572 100%);
	background:linear-gradient(top, #3C3C3C 0%,#797572 100%);
}
a.btn { display:inline-block; text-decoration:none}
input[type="submit"]:hover, input[type="button"]:hover, a.btn:hover, #search_results_container .link-back a:hover { color:#fff; text-decoration:none}

.ui-tabs-nav li { float:left; margin:0 20px 0 0}
.ui-tabs-nav a { display:block; color:#666}
.ui-tabs-nav .ui-state-active a, .ui-tabs-nav a:hover { color:#66BCD1; text-decoration:none;  text-shadow:1px 1px 0 rgba(0, 0, 0, 0.1)}
.ui-tabs-nav .ui-state-active a { text-shadow:1px 1px 0 rgba(0, 0, 0, 0.1)}
.ui-tabs-panel { clear: both}
.ui-tabs-hide { display:none}

table { border-collapse:separate}
table th, table td { padding:5px}

/***** CLASSES *****/
.last { margin-bottom:0 !important; padding-bottom:0; border-bottom:none !important; }
.aquo { font-family:Georgia, "Times New Roman", Times, serif}
.req-sign { color:red; }
.clearer, .clear { clear:both}
.left, .float-left, .alignleft { float:left}
.alignleft { float:left; margin:0 20px 20px 0}
/* .right, .float-right, .alignright { float:right} */
.alignright { float:right; margin:0 0 20px 20px}
.alignnone { float:none}
.aligncenter { margin:0 auto; display:block}
.text-left { text-align:left}
.text-right { text-align:right}
.text-center, .center { text-align:center}
.text-justify { text-align:justify}
.uppercase { text-transform:uppercase}
.capitalize { text-transform:capitalize}
.bold { font-weight:400}
.italic { font-style:italic}
.underline { border-bottom:1px solid}
.highlight { background:#ffc}
img.alignleft { float:left; margin-right:20px}
img.alignright { float:right; margin-left:20px}
img.aligncenter { float:none}

.nomargin { margin:0 !important}
.nopadding { padding:0 !important}
.noborder { border:0 none}
.noindent { margin-left:0; padding-left:0}
.nobullet { list-style:none; list-style-image:none}
.nodisplay, .hide, .hidden {display:none}
.default-post .post .entry .wp-caption p.wp-caption-text { margin:10px 0 0; text-align:center; font-size:14px}

/* HEADER 
==================================================================================================== *****/
.logo { position: absolute; left: 0px; /*top: 75px*/}
.logo img { width: 300px;height: auto; position: absolute; z-index: 999; top: 26px;}
.nav { position:relative; width:980px; height:30px; margin:0 auto; padding-top:0; border-bottom: solid 12px #0CB14B; z-index: 998}
#bottom_pagination {margin: 20px 0; clear: both;}
.nav ul { float: right}
#header .nav ul.sub-menu li {border-bottom: solid 1px rgba(225, 225, 225, 1); text-align: center;}
.nav ul li { position:relative}
.nav > ul > li { float:left; padding:0; background:none; padding-bottom: 13px;}
.nav ul li a { display:block; padding:7px 10px; color:#797572; text-decoration:none; text-shadow:-1px -1px 1px rgba(255, 255, 255, 0.25)}
.nav ul li a i.fa-angle-down {display: none;}
.nav > ul > li > a { line-height:30px; padding:0 6px; font-size: 9pt}
.ie9 .nav > ul > li > a, .ie8 .nav > ul > li > a {padding:0 15px}
.nav ul li:hover > a, .nav ul li.current_page_item > a, .nav ul li.current_page_parent > a, .nav ul li.current_page_ancestor > a { /*color: #66bcd1;*/ color: #2E3192;}
.nav > ul > li > span.separator {
	display:block; position:absolute; top:0; right:0;
	width:1px; height:50px; background:url(../img/nav-a.png?v=1.0) 0 center no-repeat; display:none;}
.nav > ul > li.last { padding:0}
.nav > ul > li.last > span.separator { display:none}

.site-description {color: #FFF;position: absolute;right: 0;top: 40px; width: 290px}
.site-description .search-content { padding-top: 29px;  text-transform: lowercase}
.site-description .search-content h4.title { float: left; padding-top: 6px; color: #66bcd1; font-weight: bold}
.site-description .search-content p.keywords input[type="text"] { font-size: 12px;width: 179px;margin-top: 5px}
.site-description .search-content h4.title span{ color: #58585a; font-weight: normal;}
.site-description .search-content .wrap {float: right}
.site-description .search-content .wrap p.search_btn.button {display: none}
.site-description p { text-align:right}
.site-description p.tagline { font-size:130%}
.site-description .search-phone {color: #000000;float: left;margin:3px 20px 0 0; font-size:16px}
.site-description .reit {float: left;margin-right: 20px;}
.site-description .search-form {float: right;margin-top: 10px;}
.site-description .search-form input#s{background-color: #fff;float: left;height: 22px;line-height: 22px;width: 200px;}
.site-description .search-form p.button{float: left;}
.site-description .search-form p.button input{
	background: url("../img/search-button.png") no-repeat scroll center center #E6E7E8;
    border: medium none;
    border-radius: 0;
    height: 30px;
    overflow: hidden;
    padding: 0;
    text-indent: -999px;
    width: 30px;
}

/* PAGES
==================================================================================================== *****/
/***** HOMEPAGE *****/
.homepage-header {padding: 0px 0px 0px}
.homepage-header-wrap{margin: 0 auto;width: 980px}
.homepage-header .homepage-search{float: right;background-color: #FFF; width: 30%;}

.homepage-header .homepage-search .footer-icons {display: none;}
.homepage-header .homepage-search #side_realty_widget_quick_search h2.section_title {margin-bottom: 15px; margin-top: 4px}
.homepage-header .homepage-search #side_realty_widget_quick_search form fieldset input.btn {margin: 13px 5px 9px 0;} 

.homepage-search select {width: 100%;}

.homepage-search ul li {padding: 1px !important}
.homepage-search ul li.location {margin-bottom: 19px;}
label.gfield_label { float: left; width: 90px; font-size: 9pt;padding-top: 3px}
.homepage-search .gform_heading {margin: 0px 0 10px; line-height: 19px;padding-bottom: 5px}
.homepage-search .gform_heading h3.gform_title {font-size: 24px}
body#renting .homepage-search .gform_heading h3.gform_title , body#landlord .gform_heading h3.gform_title  {}
.homepage-search .gform_heading h3.gform_title .blue{ color: #66bcd1}
.homepage-search .gform_fields input[type="text"] {width:156px}
.homepage-search .gform_fields input[type="text"]:hover {background: none;	background-color: #fff}
.homepage-search .gform_footer.top_label {text-align: right; padding: 10px 0px 10px 0px}

.homepage-search .realty_widget_quick_search {clear: both; padding: 5px; background: #C2C2C2; min-height: 314px;}
.homepage-search .realty_widget_quick_search div#quick_search {width: 100% !important;}
.homepage-search .search_property_types div {width: 50%; box-sizing: border-box; float: left; padding-left: 0px; padding-right: 5px;}
.homepage-search .search_property_types div:last-child {padding-right: 0;}
.homepage-search .search_quick-wrap ul.qs-ul li#price_for_sale.price .prices {width: 50% !important; margin: 0 !important; padding: 4px; box-sizing: border-box; float: left;}
.homepage-search fieldset li.house_rooms .numberofrooms {width: 50%; box-sizing: border-box; padding: 4px; margin: 0;}
.homepage-search .search_quick-wrap .suburb_select {/*padding: 5px;*/padding: 5px 0; clear: both;}
.homepage-search .search_quick-wrap .suburb_select select {height: 78px;}
.homepage-search .search_quick-wrap p.quick_search_btn {text-align: right;}
.homepage-search .search_quick-wrap ul.qs-ul li#price_for_sale div {padding-left: 0px!important; padding-right: 5px!important;}
.homepage-search .search_quick-wrap ul.qs-ul li#price_for_sale div:last-child {padding-right: 0px!important;}

#realty_widget_featured_listings h4 {padding: 10px 0}

.gform_fields input[type="text"]:hover {background: none;background-color: #fff}
body#home ul.contact-list li  {padding: 0px;}
body#home ul.contact-list li a:hover {color: #000000 !important}
body#home ul.contact-list li a h3:hover {color: #66BCD1 !important}
ul li  {padding: 1px;}
label.gfield_label { float: left; width: 90px; color: #9E9B99;}

.gform_heading {margin: 0px 0px 10px;line-height: 19px; text-transform: lowercase !important;}
.gform_heading h3.gform_title {font-size: 24px;}
.gform_heading h3.gform_title .blue { color: #66bcd1}
.gform_fields input[type="text"]{width: 130px !important;}
.gform_footer.top_label {text-align: right; padding: 10px 0px 10px 0px;}
#sidebar #gform_wrapper_2 .gform_fields select{ width:135px; }
#sidebar #gform_wrapper_4 .gform_fields select{ width:135px; }

.content .default-post .entry .t_img {float: left;
    height: 300px;
    margin-top: -20px;
    overflow: hidden;
    width: 690px;}
.content .default-post .entry .t_img img {max-width:100%; height:auto}
.content .default-post .entry .desc_page .nn {padding-top: 20px; padding-bottom: 10px; float: left;}
.content .default-post .entry .desc_page h2 {color: #66bcd1; margin-top: 18px; padding-bottom: 25px; margin-bottom: 0px;}
.content .default-post .entry .col_page .col_left {background-color: #fff;
    float: left;
    padding: 0 5px;
    width: 470px;}
.content .default-post .entry .col_page .col_right {background-color: #fff;
    float: right;
    padding: 0 5px;
    width: 470px;}
.content .default-post .entry .col_page .col_right h4 , 
.content .default-post .entry .col_page .col_right h4 ,
.content .default-post .entry .col_page .col_left h4 , 
.content .default-post .entry .col_page .col_left h4 {padding: 0px !important;margin: 0px;color: #66BCD1;}

.homepage-header .homepage-image{float: left;width: 69%;overflow: hidden; /*height:300px;*/}
.block.home-image .wrap { background: none repeat scroll 0 0 transparent;border: medium none;padding: 0;position: relative}
.block.home-image .wrap .shadow-inset { display:block; position:absolute; top:0; left:0; width:100%; height:100%; border-radius:3px; box-shadow:0 0 10px rgba(0, 0, 0, 0.5) inset}
.block.home-image .slideshow {height: 0; padding-bottom: 47.79%;position: relative; width: 100%; z-index: 0; background-color: #fff;}
.block.home-image .slideshow img {height: 100% !important;width: 100% !important;}
.block.home-image #slide-paging {display: none; position:absolute; z-index:1; bottom:20px; left:20px; }
.block.home-image #slide-paging a { float:left !important; width:16px; height:16px; margin:0 5px 0 0; text-indent:-9999px; background:url(../img/slides_paging.png) 0 0 no-repeat}
.block.home-image #slide-paging a:hover, .block.home-image #slide-paging a.activeSlide { background-position:0 -16px; }
.block.home-text .left { width:445px}
.block.home-text .news-media { border-top:solid 1px #f0f0f0}
.block.home-text .news-media li { padding:3px 0; border-bottom:1px dotted #F0F0F0}
.block.home-text .news-media li.first { padding:0 0 3px}
.block.home-text .news-media li a { float:left}
.block.home-text .news-media li span { float:right}
.block.home-text .news-media p { margin:10px 0 0; text-align:right}
.block.home-text .right { width:224px}
.block.home-text .right h4.title { border-left:1px solid #EAEAEA}
.linkcat .blogroll { border-bottom:none; }
.linkcat .blogroll li { padding:0 0 6px; margin:0 0 3px; border-bottom:1px dotted #F0F0F0}
.linkcat .blogroll li a { color:#666}
.linkcat .blogroll li a:hover { color:#D81E05; text-decoration:none}
.block.home-text p { margin:0 0 10px}
.homepage-middle{margin: 0 auto 20px;width: 980px}
.homepage-sidebar {float: left}
#sold_sale table {text-align: left;width: 100%; margin-bottom:20px}
#sold_sale table th{font-weight: 400;padding: 5px 0}
#sold_sale table td{padding: 5px 0;}
.homepage-content {float: right;width:660px}
.homepage-content .news-media a {color:#555}
.homepage-content .news-media a:hover {color:#F03126}
.homepage-content #featured_Both.block,
.homepage-content .company-profile,
.homepage-content .news-media {border-bottom: 1px solid #F0F0F0;border-left: 1px solid #F0F0F0;border-right: 1px solid #F0F0F0;margin-bottom: 15px}
.homepage-content #news_media span.post_date {float: right}
.homepage-footer {margin: 0 auto;padding: 10px 0px 0px;width: 100%}
.homepage-footer h3 {font-size: 10pt;font-weight: 400}
.homepage-footer .homepage-contact {margin: 0 auto;width: 980px}
.homepage-footer .homepage-contact ul.contact-list .image{height: 143px; overflow: hidden}
.homepage-footer .homepage-contact ul.contact-list img{width: 100%; height: 100% !important; position: absolute; bottom: 0;}
.homepage-footer .homepage-contact ul.contact-list li{float: left;margin-right: 20px;width: 313px; margin-bottom: 12px;}
.homepage-footer .homepage-contact ul.contact-list li .clcl {
	background-color: #F3F3F4;height: 18px; overflow: hidden; font-size: 9pt;
	padding: 20px 19px; width: 273px; border: 1px solid #E2E3E4;color: rgba(158, 155, 153, 1); transition: all 0.1s ease 0s;}
.homepage-footer .homepage-contact ul.contact-list li.last{margin-right: 0}
body#home ul.contact-list li .image_office {position:relative}
body#home ul.contact-list li .image_office h3 {color:#fff}
body#home ul.contact-list li .image_office a {border-radius: 100%;display: block;height: 30px;position: absolute;width: 30px}
body#home ul.contact-list li .image_office a.townsville {right: 42.1%;top: 39.5%}
body#home ul.contact-list li .image_office a.mackay {right: 33%;top: 57.1%}

body#home ul.contact-list li.feature_photo {position: relative; height: 0; padding-bottom: 22%; box-sizing: border-box;}

#follow ul li { margin:0 0 5px; padding:0 0 5px; /*border-bottom:1px dotted #F0F0F0;*/ width: auto; }
#follow ul li a {background-repeat: no-repeat;color: #666666;display: block;line-height: 32px;padding: 0 0 0 40px;background-position: 0px 0px}
#follow ul li a:hover { color:#D81E05; text-decoration:none; }
#follow .facebook a {background-image: url(../img/facebook.png)}
#follow .linkedin a {background-image: url(../img/linkedin.png)}
#follow .twitter a {background-image: url(../img/twitter.png)}
#follow .youtube a {background-image: url(../img/youtube.png)}
#follow .instagram a {background-image: url(../img/instagram.png)}

#subscribe_rss p { margin:0 0 10px; }
#subscribe_rss ul li { margin:0 0 5px; padding:0 0 5px 23px; border-bottom:1px dotted #F0F0F0; background:url(../img/rss_16.png) 0 0px no-repeat; }
#subscribe_rss ul li a { color:#666; }
#subscribe_rss ul li a:hover, #side_text-2 .textwidget a:hover { color:#D81E05; text-decoration:none; }

#side_text-2 .textwidget a {background: url("../img/form-icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);border-bottom: 1px dotted #F0F0F0;color: #666;display: block;height: 20px;line-height: 20px;margin: 0 0 5px;padding: 0 0 5px 23px;}
#side_text-2 br {display:none}

/***** DEFAULT POSTS / PAGE *****/
.default-post {float: left;
    padding: 20px 0;}
.default-post a {float: unset !important}
.default-post .post .post_data { clear:both; font-size:90%; }

/** POSTS INDEX **/
.posts-index .post { margin:0 0 20px; padding:0 20px 20px 0; border-bottom:dotted 1px #f0f0f0; }
.posts-index .post h2.post_title { font-size:17px; font-family:'Oswald',Arial,Helvetica,sans-serif; }
.posts-index .post h2.post_title a { color:#666; }
.posts-index .post h2.post_title a:hover { color:#D81E05; text-decoration:none; }
.posts-index .post .entry { margin:10px 0; }
.default-post.posts-index .post .entry p { margin:0; }
.default-post.posts-index .post .entry img { float:left; max-width:150px; height:auto; margin:0 10px 10px 0; }
	
/** POST SINGLE **/
.single .post { margin:0 0 20px; }
.single .post .post_data { margin:0 0 10px; }
.single #content .block { margin:20px 0 0; border-top:solid 1px #f0f0f0; }

/** Formatting **/
.default-post .post .entry h1, .default-post .post .entry h2, .default-post .post .entry h3,
.default-post .post .entry h4, .default-post .post .entry h5, .default-post .post .entry h6, 
.agent-intro h1, .agent-intro h2, .agent-intro h3, .agent-intro h4, .agent-intro h5, .agent-intro h6 { margin:0 0 15px}
.default-post .post .entry p, .default-post .post .entry ol, .default-post .post .entry ul, 
.agent-intro p, .agent-intro ul, .agent-intro ol, .homepage-content .wrap p { margin:0 0 15px}
.default-post .post .entry ol, .agent-intro ol { list-style:decimal outside none}
.default-post .post .entry ul ul, .agent-intro ul ul{ list-style: circle outside none;}
.default-post .post .entry ol li, .agent-intro ol li { margin:0 0 0 20px} 
.default-post .post .entry ul li, .agent-intro ul li { margin:0 0 0 20px}
.default-post .post .entry ul ul li, .agent-intro ul ul li { margin:0 0 0 30px}
.default-post .post .entry .box {background-color: #F7F7F7;border: 1px solid #F0F0F0;margin-bottom: 20px;padding: 20px;}
.default-post .post .entry address {margin-bottom: 20px;}
.default-post .post .entry abbr{margin-right: 5px;}
.default-post .post .entry blockquote {border-left: 5px solid #F0F0F0; margin-bottom: 15px;padding: 5px 20px;}
.default-post .post .entry blockquote.pull-right {border-left: none; border-right: 5px solid #F0F0F0;margin-bottom: 15px;padding: 5px 20px; text-align:right;}
blockquote footer:before, blockquote small:before, blockquote .small:before {content: "- ";}
blockquote footer:after, blockquote small:after, blockquote .small:after {content: " -";}
blockquote footer, blockquote small, blockquote .small {color: #999999;display: block;font-size: 80%;}

.default-post .post .entry ul.list-inline {list-style: none outside none;padding-left: 0}
.default-post .post .entry ul.list-inline > li {display: inline-block;padding-left: 5px;padding-right: 5px;margin:0}
.lead {font-size: 22px;font-weight: 200;line-height: 1.4;margin-bottom: 20px}
dl {margin-bottom: 15px;margin-top: 0}
dt {font-weight: 600}
dd { margin-left: 20px}
ul ul, ol ul, ul ol, ol ol {margin-bottom: 0!important}
.text-warning {color: #8A6D3B}
.text-info {color: #31708F}
.text-error {color: #FF0000}
.text-success {color: #3C763D}
.muted {color: #999}

/** Comments :: Form **/
#respond { position:relative; }
#respond .logged-user { position:absolute; top:8px; right:20px; padding:0; font-size:13px; }
#commentform p, .cancel-comment-reply { padding:0 0 10px}
#commentform label { float:left; width:200px}
#commentform input.textbox { width:250px}
#commentform textarea { width:400px; height:200px}

/** Comments :: List **/
ul#commentlist ul.children { margin:0 0 0 40px; }
ul#commentlist li div.comment { margin:0 0 20px; padding:20px; border-top:1px solid #EAEAEA; background:url("../img/wrap-shad.png") repeat-x 0 0}
ul#commentlist li .comment .comment-author { float:left; margin:0 10px 10px 0}
ul#commentlist li .comment .comment-author-name { position:relative; margin:0 0 10px}
ul#commentlist li .comment .comment-author-name .fn { font-weight:400}
ul#commentlist li .comment .comment-author-name .comment-meta { position:absolute; top:0; right:0; font-size:13px}
ul#commentlist li .comment .reply { padding:10px 0 0; text-align:right; }
ul#commentlist li .comment .reply a { display:inline-block; padding:0 0 0 27px; background:url(../img/comment_reply.png) 0 4px no-repeat}

/** SITEMAP **/
.sitemap .block { width:33%; }
.sitemap .block ul li { margin:0 0 0 17px !important}
.sitemap .section-pages { width:auto; margin:0 0 20px}
.sitemap .section-pages ul { margin:0 !important}
.sitemap .section-pages ul li { float:left; width:30%}
.sitemap .block a { color:inherit; font-size:90%}
.sitemap .block a:hover { color:#D81E05}

/* FOOTER
==================================================================================================== *****/
#footer a { color:#aaa}
#footer a:hover { color:#66bcd1; text-decoration:none}
#footer .nav { border-top: 1px solid #C0C0C2; border-bottom: 0px solid #fff}
#footer .footer-menu img{ position: absolute;right: 0px;top: 8px}
#footer ul.menu { display:inline-block; width:100%; margin: 11px 109px 0px}
#footer ul.menu li { display:inline; float:none}
#footer ul.menu li a { display: inline; padding: 0px 4px 0px; color: #555}
#footer ul.menu li.last a {background:none}
#footer ul.menu li a:hover {color: #66bcd1}
#footer ul ul {display:none}
#footer ul.menu li a i {display:none}

/*calendar
==================================================================================================== *****/
.page-id-251 .entry ul#gform_fields_1 li.gfield > label {float: left;margin: 0 10px 0 0;width: 200px}
.page-id-251 .entry ul#gform_fields_1 li.gfield > .ginput_container {float: left}
.page-id-251 h2.gsection_title, .page-id-253 h2.gsection_title {margin:10px 0 0 !important}
.page-id-251 .ginput_container {position: relative}
.page-id-251 .ginput_container img.ui-datepicker-trigger {left:237px;position: absolute;top:8px}
.page-id-251 .entry ul#gform_fields_1 li.gfield > .ginput_container > ul {margin:0; display:inline-block}
.page-id-251 .entry ul#gform_fields_1 li.gfield > .ginput_container > ul#input_1_18 > li,
.page-id-251 .entry ul#gform_fields_1 li.gfield > .ginput_container > ul#input_1_19 > li,
.page-id-251 .entry ul#gform_fields_1 li.gfield > .ginput_container > ul#input_1_20 > li {float: left;margin: 0 !important;width: 65px}
.page-id-251 .entry ul#gform_fields_1 li#field_1_16 > label, .page-id-251 .entry ul#gform_fields_1 li#field_1_16 > .ginput_container {float:none}
.page-id-251 li#field_1_16 textarea {height: 150px;width: 620px}
.page-id-251 li#field_1_24 > label, .page-id-251 li#field_1_26 > label, .page-id-251 li#field_1_27 > label {float: none !important}
.page-id-251 li#field_1_28 .gsection_description {margin: 0 0 20px}
.page-id-253 .entry ul#gform_fields_2 > li#field_2_15, .page-id-253 .entry ul#gform_fields_2 > li#field_2_16,
.page-id-253 .entry ul#gform_fields_2 > li#field_2_21, .page-id-253 .entry ul#gform_fields_2 > li#field_2_22 {padding-left:210px}
.page-id-253 .entry ul#gform_fields_2 > li#field_2_137 {margin: 20px 0 0px !important}
.page-id-253 .entry ul#gform_fields_2 > li .clear-multi {float: left}
.page-id-253 li .gfield_time_hour, .page-id-253 li .gfield_time_minute, .page-id-253 li .gfield_time_ampm {margin: 0 0 5px}
.page-id-253 li .gfield_time_ampm > select {width:108px}
.page-id-253 li .gfield_time_minute label {margin: 0 0 0 9px}
.page-id-253 .entry ul#gform_fields_2 > li {margin:0 0 5px; display:inline-block; width:100%}
.page-id-253 .entry ul#gform_fields_2 > li.gfield > label {float: left;margin: 0 10px 0 0;width: 200px}
.page-id-253 .entry ul#gform_fields_2 > li.gfield > .ginput_container {float:left}
.page-id-253 .entry ul#gform_fields_2 > li ul li {margin: 0 0 10px}
.page-id-253 .entry ul#gform_fields_2 > li#field_2_17 input[type="text"], .page-id-253 .entry ul#gform_fields_2 > li#field_2_19 input[type="text"],
.page-id-253 .entry ul#gform_fields_2 > li#field_2_20 input[type="text"],
.page-id-253 .entry ul#gform_fields_2 > li#field_2_156 input[type="text"] {width:100px}
	
	
#ui-datepicker-div {
	background:#C00103;
    background: -moz-linear-gradient(center top , #FE0003 0%, #C00103 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#FE0003), color-stop(100%,#C00103));
	background:-webkit-linear-gradient(top, #FE0003 0%,#C00103 100%);
	background:-o-linear-gradient(top, #FE0003 0%,#C00103 100%);
	background:-ms-linear-gradient(top, #FE0003 0%,#C00103 100%);
	background:linear-gradient(top, #FE0003 0%,#C00103 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#FE0003', endColorstr='#C00103',GradientType=0 );
    border: 1px solid #C5122F;border-radius:4px;
    padding: 5px 5px 27px;width:225px !important;z-index: 1;
}
.ui-datepicker-control, #rates .ui-datepicker-control {bottom: 5px;left: 7px;position: absolute;width: 221px;z-index: 1}
.ui-datepicker-clear {float: left}
#ui-datepicker-div a {color: #FFFFFF;cursor: pointer;text-decoration: none;font-size:13px}
.ui-datepicker-current a {left: 85px;text-indent: -9999px;top: 201px}
.ui-datepicker-close {float: right}
.ui-datepicker-links a {display: block;position: absolute;top: 4px;}
.ui-datepicker-prev a, .ui-datepicker-next a {
	background-image: url(../images/icons/arrow-lr-24.png);
	background-repeat: no-repeat;
	height: 29px;
	text-indent: -9999px;
	width: 24px;
	color:#fff;
	cursor:pointer;
	text-decoration:none
}
.ui-datepicker-prev a {background-position: 0 1px;left: 3px}
.ui-datepicker-next a {background-position: -27px 1px;right:0}
.ui-datepicker-links, #rates .ui-datepicker-links {position: relative;z-index: 2}
.ui-datepicker-new-row {clear: both;position: relative;z-index: 0}
.ui-datepicker-header {background: #FFF;border-radius:2px;display: inline-block;margin: 0 0 5px;padding: 3px;width:221px}
.ui-datepicker-header select {box-shadow: none;float: left;padding: 1px;width:85px}
.ui-datepicker-header select.ui-datepicker-new-month {margin: 0 2px 0 25px}

table.ui-datepicker {border-spacing: 2px;clear: both;margin: 0;width: 100%}
table.ui-datepicker tr td {text-align: center}
table.ui-datepicker thead tr td {padding: 0 0 5px}
table.ui-datepicker a {display: block}
table.ui-datepicker tbody tr td {background:rgba(255, 255, 255, 0.15);border-radius:2px;line-height:normal;width:16px;font-size:12px}
table.ui-datepicker tbody tr td.ui-datepicker-today, table.ui-datepicker tbody tr td:hover {background:#FF003C}

body#email_subscribe #main_body {margin: 0;padding: 20px;position: relative;width: auto;z-index: 1}
body#email_subscribe h2 {margin-bottom: 15px}
body#email_subscribe #return {display:none;}
body#email_subscribe .button.submit_btn {padding-left: 200px}

#box_map h2.map-address {display:none;}
.search_wrap > h2 {float: left;margin: 0 0 10px}
.search_wrap .register {float: right;margin: 0 0 10px}

#side_realty_widget_quick_search_2 {background:#F4F4F4;
	background:-moz-linear-gradient(top, #FAFAFA 0%, #F4F4F4 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#F4F4F4));
	background:-webkit-linear-gradient(top, #FAFAFA 0%,#F4F4F4 100%);
	background:-o-linear-gradient(top, #FAFAFA 0%,#F4F4F4 100%);
	background:-ms-linear-gradient(top, #FAFAFA 0%,#F4F4F4 100%);
	background:linear-gradient(top, #FAFAFA 0%,#F4F4F4 100%);
    border: 1px solid #EAEAEA;
    padding: 10px;margin-bottom: 20px;position: relative;
    z-index: 10;}
#side_realty_widget_quick_search_2 h2.section_title {display:none;}
#side_realty_widget_quick_search_2 form#search_quick{}
div#side_realty_widget_quick_search_2 ul.qs-ul{float: left;position: relative; width: 90%}
#side_realty_widget_quick_search_2 ul.qs-ul > li{float: left;position: relative;}
div#side_realty_widget_quick_search_2 ul.qs-ul > li.price {width: 32%;}
#side_realty_widget_quick_search_2 .suburb_select{float: left;position: relative;margin-right: 5px;}
#side_realty_widget_quick_search_2 .suburb_select #suburb_list{}
#side_realty_widget_quick_search_2 .suburb_select #suburb_list input{padding:4px; border:1px solid #EAEAEA; font-family:inherit; font-size:inherit; color:#ccc; 
	-moz-transition: all 0.5s; -webkit-transition: all 0.5s; -o-transition: all 0.5s; width:100px;}
#side_realty_widget_quick_search_2 .suburb_select #suburb_list input:hover{color:#888; background:#EEEEEE; border:1px solid #DDDDDD; box-shadow:0 0 5px rgba(0, 0, 0, 0.075) inset; }
#side_realty_widget_quick_search_2 ul.qs-ul .property_type{margin-right: 5px;}
#side_realty_widget_quick_search_2 ul.qs-ul .property_type > select {width: 150px;}
#side_realty_widget_quick_search_2 fieldset li.house_rooms .numberofrooms,
#side_realty_widget_quick_search_2 fieldset li.price .prices {float: left;margin-right: 7px;width: 120px}
#side_realty_widget_quick_search_2 .suburb_select #select_suburb{
	background-color: #FFF;
    border: 1px solid #CCC;
    height: 100px;
    overflow: auto;
    padding: 5px;
    position: absolute; z-index: 99;
    width:195px;display:none
}
#side_realty_widget_quick_search_2 p.instruction{display:none;}
#side_realty_widget_quick_search_2 p.button.quick_search_btn {float: left;position: relative;}
div#side_realty_widget_quick_search_2 p.button.quick_search_btn {width: 10%;}

.lightbox-wrap #return{display: none;}
.lightbox-wrap ol.cf-ol li label {float: left;width: 162px;margin-top: 5px}
.lightbox-wrap p.requi {margin: 0 auto !important;width: 400px}
div.pp_default .pp_content_container .pp_details {position:absolute; height:30px; bottom:0;z-index: 9999;}
.lightbox-wrap ol.cf-ol {}
.lightbox-wrap h2 {
    background: -moz-linear-gradient(center top , #FAFAFA 0%, #F4F4F4 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #EAEAEA;
    border-top: 1px solid #F0F0F0;
    font-size: 18px;
    margin:0 auto 20px;
    padding: 7px 20px;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}

body#property #content #realty_widget_property_description h2{width: 500px}
span.reload-captcha {left: 288px;position: absolute;top: 0}
span.reload-captcha a.btn {
    background-image: url("../img/reload.jpg");
    background-repeat: no-repeat;
    border: medium none;
    display: block;
    height: 40px;
    overflow: hidden;
    padding: 0;
    text-indent: -999px;
    width: 40px;
    box-shadow: none
}
.default-post .post .entry ul.gform_fields {list-style: none outside none;margin: 0 0 20px}
.default-post .post .entry ul.gform_fields li {margin: 0 0 10px}
h2.gsection_title {font-size: 18px;padding-top: 10px;}
.gform_fields input[type=text]{width: 300px;}
.gform_fields textarea {width: 90%;}
.gform_fields select{width: 308px;}

/* for buying page*/
#main_body .content .content .homepage-header .homepage-header-wrap .homepage-image{background-color: #ffffff !important;}
.page-template-realty-php .entry {position:relative}
#main_body .content div div h2{float: left;/*background-color: #FFF*/}
body#home #main_body .content div div a{float: none;} 
body#home #main_body .content div div a:hover{text-decoration: none} 
.page-template-realty-php .entry > h2 {position: absolute;right: 0;top: -33px;width: auto}

.search_quick-wrap ul.qs-ul li#price_for_sale.price div label {padding-top: 5px;float: left;padding-right: 5px}
.search_quick-wrap ul.qs-ul li label {/*padding-top: 5px*/;float: left;padding-right: 5px}
.search_quick-wrap ul.qs-ul li#price_for_sale.price .price_min.prices{width: 100px}
.search_quick-wrap ul.qs-ul li#price_for_sale.price .price_max.prices{width: 100px}

/* for team page*/
body#our-people #content {width: 670px;float: left; padding: 0px;}
body#our-people .content , body#about-us  .content, 
body#contact-us  .content, body#property .content, 
body#team-2 .content{margin-top: 20px}
body#our-people #sidebar {float: right;}
body#our-people .default-post .post .entry p {margin: 0px 0px 0px;}

/*about us*/
body#about-us #sidebar, body#townsville #sidebar, body#mackay #sidebar {float: right; position: relative; height:auto}
body#about-us #sidebar #gform_wrapper_2 {height:auto}
body#about-us #sidebar a, body#townsville #sidebar a, body#mackay #sidebar a{ display:block; margin:20px 0}
body#townsville #sidebar a, body#mackay #sidebar a {margin-top:25px}
body#about-us #sidebar a img, body#townsville #sidebar a img, body#mackay #sidebar a img {width:100%}
body#contact-us #sidebar {float: right; height: auto;padding-bottom: 0px !important;}
body#about-us #sidebar #gforms_confirmation_message.gform_confirmation_message_2 {margin-bottom: 250px;padding: 5px;}
#gforms_confirmation_message.gform_confirmation_message_2, #gforms_confirmation_message.gform_confirmation_message_4 { padding: 5px; font-size: 10pt;}
body#about-us #sidebar  h3.gform_title {font-size: 24px  !important ; color: #797572;}
body#about-us #sidebar  a h3, body#contact-us #sidebar a h3,
body#townsville #sidebar a h3, body#mackay #sidebar a h3 {font-size: 10pt; color: #66bcd1; color: #797572;font-weight: 400; margin-bottom: 5px;}
body#contact-us #sidebar a h3:hover {color: #66BCD1; text-decoration: none !important;}
body#about-us #sidebar a:hover , body#contact-us #sidebar a:hover  {color: #66BCD1, text-decoration: none !important;}
body#about-us #sidebar a h3:hover {color: #66BCD1; text-decoration: none !important;}
body#contact-us #content .entry form.contact_form.form_email_subscription .buttons.signup_button{margin-left: 200px;}
body#contact-us #content .entry form.contact_form.form_email_subscription li.site_alerts {display: none}
body#contact-us #sidebar {background-color: #ffffff; border: 0px solid #E2E3E4;}
body#contact-us #sidebar .agent_scroll{}
body#contact-us #sidebar .agent_scroll #flow.imageflow{height: 190px !important; position: relative;}
body#contact-us #sidebar .imageflow .caption {position: absolute;bottom: 0px;width: 190px !important; left: 30px;top: 140px;}
body#contact-us #sidebar .imageflow .slider {background: none}
body#contact-us #sidebar ul {margin-bottom: 20px; position: relative;font-size: 9pt;font-weight: 400;}
body#contact-us #sidebar ul li {padding: 0px 0px 0px 15px;}
body#contact-us #sidebar ul li strong{color: #66bcd1;padding-right: 0px;position: absolute;left: 0px;}
body#contact-us #sidebar ul li span{display: block;
padding-left: 4px;}
body#contact-us #sidebar img {width: 100%;height: auto;}
body#property-search .homepage-header .homepage-image img, 
body#buying .homepage-header .homepage-image img, 
body#recent-sales .homepage-header .homepage-image img,
body#renting .homepage-header .homepage-image img,
body#recently-leased .homepage-header .homepage-image img,
body#currently-for-lease .homepage-header .homepage-image img,
body#search-results .homepage-header .homepage-image img {margin-top: -100px ;}

body#property-search #main_body .content p.page_numbers a, 
body#buying #main_body .content p.page_numbers a, 
body#recent-sales #main_body .content p.page_numbers a,
body#renting #main_body .content p.page_numbers a,
body#recently-leased #main_body .content p.page_numbers a,
body#currently-for-lease #main_body .content p.page_numbers a,
body#search-results #main_body .content p.page_numbers a {float: left;}

input[type="submit"]#gform_submit_button_2 ,
input[type="submit"]#gform_submit_button_4,
body#login a.btn {color: #66BCD1; border: none;background: none; box-shadow:none; font-weight: 400;font-size: 10pt}
.site-description .search-content p.keywords input[type="text"],
ol.cf-ol li input[type="text"], ol.cf-ol li select, ol.cf-ol li textarea {background: none; box-shadow:none; }

#contact-us input[type="submit"] {color: #66BCD1; border: none;background: none; box-shadow:none; font-weight: 400;font-size: 10pt; margin-left: 180px;}
body#property #sidebar #realty_widget_feeds ul li a {font-size: 10pt;}
body#property-search h1.page-title,
body#renting h1.page-title, body#buying h1.page-title,
body#recent-sales h1.page-title , body#search-results h1.page-title{margin: 0px 0px 10px;font-weight: 600;font-size: 12pt}

/* at login page */ 
body#login p.button.email_btn {float: left; margin-left: 270px}
body#login ol.cf-ol li label {width: 100px;}
body#search-results .content, body#buying .content, body#renting .content { margin-bottom: 20px}
.ie8 #thumbnail_format .details P.price {color: #797572 !important}
body#team-2 span.italic-description {font-style: italic;}
body#subscribe .buttons.signup_button {margin-left: 200px !important; margin-bottom: 100px;}
body#townsville #main_body .content #content {width: 690px !important; margin-top: -20px !important;}
body#our-people .default-post {float: none !important; padding:0}
body#explore-the-townsville-region #sidebar {margin-top: 20px}
body#explore-the-townsville-region p a {float: none !important;}

/*Property Detail*/
#property_stats .ui-tabs-panel object {
    position: relative;
    display: block;
    height: 0 !important;
    overflow: hidden;
    width: 100% !important;
    padding-bottom: 67%;
}
#property_stats .ui-tabs-panel object embed {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
}



div#scroll-container {width: 100%;}
#scroll-container #scroll-content a {float: left;}
.realty_widget_property_description {position: relative;}
#property .realty_widget_property_description ul.rooms {display: none;}

input:focus {outline: none}
textarea:focus {outline: none}
select:focus {outline: none}
input:focus, textarea:focus, select:focus {outline: none}
:focus {outline: none}
#subscribe input[type="submit"],
#subscribe input[type="submit"]:hover {color: #66BCD1;border: medium none;background: none;box-shadow: none;font-weight: 400;font-size: 10pt;}
.hidden {display: none;}
#home #slide-paging { display: none}

#landlord .default-post ul {list-style: outside none disc;margin:0 0 20px}
#landlord .default-post ul li {padding:0}
#landlord .default-post ul li p {margin:0 0 10px}

.link-content, .default-post ul {list-style:disc}

#thumbnail_format div.image img {height: 100%;}
.item-wrap ul.rooms li span.room_type {margin: .5px 0 0 10px}

#list_format .list-wrap .details p.street-address a {background-color: #2E3192;}
#list_format .list-wrap .details p.headline {color: #2E3192;}
div.image_overlay {background: #2E3192;}

#thumbnail_format div.image_overlay {top: 16px; z-index: 101}
body ul.rooms li span {margin-top: 4px;}



span.inbox-border {display: block !important; z-index: 999;}
.listing.column .container:hover .inbox-border {
    opacity: 1;
    padding: 7px;
}

#manage_profile ol.cf-ol ul.prop_alerts_ul > li.first .bold, #manage_profile ol.cf-ol ul.prop_alerts_ul > li#list4 .bold {
    color: #797572;
    font-size: 10pt;
    font-weight: normal;
}
#manage_profile ol.cf-ol ul.prop_alerts_ul > li.first .checkbox, #manage_profile ol.cf-ol ul.prop_alerts_ul > li#list4 .checkbox {margin: 4px 5px 0 0;}
#manage_profile ol.cf-ol div.prop_alerts_ul {float: left; width: 490px;}
#manage_profile ol.cf-ol ul.prop_alerts_ul > li#list4 {border-top: 0px;margin: 0;padding: 0;width: auto;}

.site-alerts-wrap p {width: 200px; float: left;}
.site-alerts-wrap ul {width: 486px; float: left;}

.listing.column {clear: both;}
.listing.column .container {width: 32.3334%; float: left; box-sizing: border-box; margin: 1% 0% 0% 1%; background: #f4f4f4;}
.listing.column .container:first-child {margin-left: 0}
.listing.column .container .tdContent {padding: 11px; height: 100px;}
.listing.column .container .tdContent ul li.first {margin-left: 0}
.listing.column .container .center span {cursor: pointer;}

#property .pp_content {/*height: auto !important;*/}
#property .lightbox-wrap ol.cf-ol {padding: 0 38px;}

.opt_sale, .opt_lease {clear: both;}
.opt_sale_Wrap, .opt_lease_Wrap {
    width: 50%;
    float: left;
}
ol.cf-ol li .opt_sale_Wrap select, ol.cf-ol li .opt_lease_Wrap select {width: 90%;}

.site-alerts-wrap fieldset ul {width: 100%;}
.opt_sale_Wrap fieldset li.house_rooms .numberofrooms, .opt_sale_Wrap fieldset li.price .prices,
.opt_lease_Wrap fieldset li.house_rooms .numberofrooms, .opt_lease_Wrap fieldset li.price .prices {width: 107px;}
fieldset li.house_rooms .numberofrooms.bathrooms:nth-of-type(2), fieldset li.price .prices.price_max:nth-of-type(2) {
    margin-right: 0;
}



/*Menu*/
@font-face {
        font-family: 'icomoon';
        src:url('../fonts/icomoon.eot?-wk24bb');
        src:url('../fonts/icomoon.eot?#iefix-wk24bb') format('embedded-opentype'),
            url('../fonts/icomoon.woff?-wk24bb') format('woff'),
            url('../fonts/icomoon.ttf?-wk24bb') format('truetype'),
            url('../fonts/icomoon.svg?-wk24bb#icomoon') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    [class^="icon-"], [class*=" icon-"] {
        font-family: 'icomoon';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .icon-menu:before {content: "\e603"}
    .icon-arrow-down:before {content: "\e600"}
    .icon-arrow-down2:before {content: "\e601"}
    .icon-arrow-down3:before {content: "\e602"}
    .icon-arrow-down4:before {content: "\e604"}


/* adjustment */
.realty_widget_property_table td {position: relative;}
.property_details_table tr.floorplans td.value a {    position: absolute; left: 0; top: 8px;}

/* about us */
#home #main_body .content div h2 {float: none}

/* property page */
body#property #sidebar .block_content {word-break: break-all;}

/* rent page*/
body#properties-for-rent #search_results_tab {padding: 5px 0}
body#properties-for-rent .page_toolbar {line-height: 10px}
body#properties-for-rent #thumbnail_format, body#properties-for-rent #list_format, body#properties-for-rent #map_search_result {margin-top: 10px} 
body#properties-for-rent #thumbnail_format, body#properties-for-rent #map_search_result {border-top: 1px solid rgba(219, 219, 219, 1)}

div.page_toolbar a {color: #666}
div.page_toolbar a:hover, div.page_toolbar a.current_page_link {color: #66BCD1}


/*Obligation Free Appraisal*/
#obligation-free-appraisal ol.cf-ol li:nth-of-type(9) select {width: 32%;margin-left: 1%;}
#obligation-free-appraisal ol.cf-ol li label {width: 90%;}
#obligation-free-appraisal ol.cf-ol li input[type="text"], #obligation-free-appraisal ol.cf-ol li textarea, #obligation-free-appraisal ol.cf-ol li.subscribe_referrer select {width: 100%;}
#obligation-free-appraisal ol.cf-ol li input[type="text"], #obligation-free-appraisal ol.cf-ol li select, #obligation-free-appraisal ol.cf-ol li textarea {border: 0; border-bottom: 1px solid #ccc; padding: 5px; box-sizing: border-box;}

#obligation-free-rental-appraisal ol.cf-ol li:nth-of-type(9) select {width: 32%;margin-left: 1%;}
#obligation-free-rental-appraisal ol.cf-ol li label {width: 90%;}
#obligation-free-rental-appraisal ol.cf-ol li input[type="text"], #obligation-free-rental-appraisal ol.cf-ol li textarea, #obligation-free-rental-appraisal ol.cf-ol li.subscribe_referrer select {width: 100%;}
#obligation-free-rental-appraisal ol.cf-ol li input[type="text"], #obligation-free-rental-appraisal ol.cf-ol li select, #obligation-free-rental-appraisal ol.cf-ol li textarea {border: 0; border-bottom: 1px solid #ccc; padding: 5px; box-sizing: border-box;}