.ie9 body { font:400 16px/1.5 'Archivo Narrow', Arial, Helvetica, sans-serif; }
.ie9 input, .ie9 select, .ie9 textarea { font:400 16px/normal 'Archivo Narrow', Arial, Helvetica, sans-serif; }

.lt-ie9 body { font:normal 13px/1.5 Arial, Helvetica, sans-serif; }
.lt-ie9 input, .lt-ie9 select, .lt-ie9 textarea { font:normal 13px/normal Arial, Helvetica, sans-serif; }

.ie9 input[type="radio"], .ie9 input[type="checkbox"] { margin-top:2px; }
.ie8 input[type="radio"], .ie8 input[type="checkbox"] { margin-top:1px; }
.ie7 input[type="radio"], .ie7 input[type="checkbox"] { margin-top:0; }

.ie9 strong, .ie9 .listing-map-details p.headline, .ie9 .listing-map-details .agent p.agent-name,
.ie9 .realty_widget_contact_agent .details p.agent-name { font-weight:700; }
.lt-ie9 strong, .lt-ie9 .listing-map-details p.headline, .lt-ie9 .listing-map-details .agent p.agent-name,
.lt-ie9 .realty_widget_contact_agent .details p.agent-name  { font-weight:bold; }

/*.lt-ie9 #nav { border-bottom:1px solid #464646; }
.ie9 .nav {}
.lt-ie9 .nav > ul > li.last > a { padding:0 33px 0 33px; } 
.ie9 .nav > ul > li.last > a { padding:0 31px 0 31px; }
.ie10 .nav > ul > li.last > a { padding:0 38px 0 37px; }
.lt-ie9 .site-description { top:30px; }*/

.lt-ie9 #realty_widget_featured_listings .tooltips { border:solid 1px #f0f0f0; }
.ie7 #realty_widget_featured_listings li:hover .tooltips { bottom:148px; }

.lt-ie9 #subscribe_rss ul li { background-position:0 1px; }

.ie9 #search_results .tools .view_option, .ie9 #search_results .tools .page_toolbar { margin-top:2px; }
.ie7 #search_results .tools .view_option, .ie7 #search_results .tools .page_toolbar { margin-top:1px; }
.lt-ie9 #search_results .tools .ui-tabs-nav { padding-left:15px; }
.lt-ie9 #search_results .tools .ui-tabs-nav a:hover { text-decoration:underline; }
.lt-ie9 #search_results .tools .ui-tabs-nav .ui-state-active a { padding:0; background:none; font-weight:bold; text-decoration:underline; }
.lt-ie9 #search_results .tools .page_toolbar a:hover, .lt-ie9 #search_results .tools .page_toolbar a.current_page_link { color:#fff; text-decoration:underline; }
.lt-ie9 #search_results .tools .page_toolbar a.current_page_link { font-weight:bold; }

.ie9 #thumbnail_format .details p.suburb, .listing-map .details p.street_address { height:25px; }
.lt-ie9 #thumbnail_format .details p.suburb, .listing-map .details p.street_address { height:18px; }

.ie7 .listing-map { width:303px; }

.ie8 #scroll-content a { width:126px; }

.lt-ie9 .realty_widget_map_and_walkscore ul.sales_data li.ui-state-active a { font-size:16px; }

.ie9 .realty_widget_contact_agent .details p.email_agent a { background-position:0 5px; }
.lt-ie9 .realty_widget_contact_agent .details p.email_agent a { background-position:0 4px; }

.ie9 ol.cf-ol * { font-size:16px; }
.lt-ie9 ol.cf-ol * { font-size:13px; }
.die ol.cf-ol li select { /*width:258px;*/ }

.ie9 .sm-page .alerts ul.alert-type > li .check-title input[type="checkbox"] { margin-top:2px; }
.lt-ie9 .sm-page .alerts ul.alert-type > li .check-title input[type="checkbox"] { margin-top:0; }
.ie9 .sm-page .alerts ul.check-options {}
.lt-ie9 .sm-page .alerts ul.check-options { border:solid 1px #eaeaea; }

	.ie7 .sm-page .alerts ul.alert-type li.alert-type-1 { z-index:9; }
	.ie7 .sm-page .alerts ul.alert-type li.alert-type-2 { z-index:6; }
	.ie7 .sm-page .alerts ul.alert-type li.alert-type-3 { z-index:7; }
	.ie7 .sm-page .alerts ul.alert-type li.alert-type-4 { z-index:8; }
	.ie7 .sm-page .alerts ul.alert-type li.alert-type-5 { z-index:5; }
	.ie7 .sm-page .alerts ul.alert-type li.alert-type-6 { z-index:4; }
	.ie7 .sm-page .alerts ul.alert-type li.alert-type-7 { z-index:3; }
	.ie7 .sm-page .alerts ul.alert-type li.alert-type-8 { z-index:2; }
	.ie7 .sm-page .alerts ul.alert-type li.alert-type-9 { z-index:1; }
	.ie7 .sm-page .alerts ul.alert-type li.house_rooms, .ie7 .sm-page .alerts ul.alert-type li.price { width:210px; } 

.ie7 .sm-page .cancel-subscription input[type="text"] { width:510px; }

.ie9 #footerwrap { font-size:13px; }
.lt-ie9 #footerwrap { font-size:11px; }











