
@media screen and (min-width:980px) {

	body#property-search .homepage-header .homepage-image ul, 
	body#buying .homepage-header .homepage-image ul, 
	body#recent-sales .homepage-header .homepage-image ul, 
	body#renting .homepage-header .homepage-image ul, 
	body#recently-leased .homepage-header .homepage-image ul, 
	body#currently-for-lease .homepage-header .homepage-image ul,
	body#search-results .homepage-header .homepage-image ul 
	{width: 100% !important; height: auto !important;}

	body#property-search .homepage-header .homepage-image ul li, 
	body#buying .homepage-header .homepage-image ul li, 
	body#recent-sales .homepage-header .homepage-image ul li, 
	body#renting .homepage-header .homepage-image ul li, 
	body#recently-leased .homepage-header .homepage-image ul li, 
	body#currently-for-lease .homepage-header .homepage-image ul li,
	body#search-results .homepage-header .homepage-image ul li 
	{width: 100% !important; height: auto !important;}

	body#property-search .homepage-header .homepage-image img, 
	body#buying .homepage-header .homepage-image img, 
	body#recent-sales .homepage-header .homepage-image img, 
	body#renting .homepage-header .homepage-image img, 
	body#recently-leased .homepage-header .homepage-image img, 
	body#currently-for-lease .homepage-header .homepage-image img,
	body#search-results .homepage-header .homepage-image img ,
	#realty_widget_featured_listings #featured_.featured img
	{width: 100% !important; height: auto !important}

	#realty_widget_featured_listings ul {/*height: 308px !important*/;width: 100% !important}

}

@media screen and (min-width: 1024px) {
	.nav ul ul { position:absolute; top:42px; left:0; width:200px; visibility:hidden; opacity:0; /*-moz-transition: all 0.5s; -webkit-transition: opacity 0.5s; -o-transition: opacity 0.5s;*/ background-color:#EEE; z-index: 9999}
	.nav ul li:hover > ul { visibility:visible; opacity:1; }
}

@media screen and (max-width: 1024px) {
	.nav ul li a i.fa-angle-down {display: block!important; top: 10px; position: absolute; right: 0px;}
	.nav > ul > li > a {padding: 0px 10px}
	.safari input[type="radio"], .safari input[type="checkbox"] {margin: 2px 5px 0 0;}
}

@media screen and (max-width:1023px) { 

	body#home .wrap{overflow: hidden}
	body#home, body#about-us, body#contact-us, body#login {margin-left: 0px !important}
	#headerwrap {margin: 0px !important; width: 100% !important}
	#header {width: auto !important; margin: 10px 0 0 0 !important; padding: 10px !important}
	.logo img {position: relative !important; width: 250px !important}
	.logo {position: relative; !important; top: 0px !important}
	.site-description {/*position: unset !important; left: 0px !important*/}
	.nav ul {float: left !important}
	.nav ul ul { position:relative; background-color:#EEE; z-index: 9999}

	#nav {margin:0 !important; height:auto}
	.nav {height:auto}
	.toggle-menu.menu-icon {clear: both;margin: 0px auto;border-radius: 5px;background: #66BCD1;width: 60px;padding: 5px 10px;padding: 5px 10px;margin: 0px 0 -5px;color: #fff; float: right;}
	.toggle-menu { cursor:pointer; display: block !important; }
	.main-nav { max-height:0; overflow:hidden; transition-duration:.3s; clear: both; }
	.main-nav.shrink { max-height:1000px; transition-duration:1s; padding-top: 25px}
	.nav .menu {display: inline-block;float: none !important;width: 100%}
	.nav .menu li {float:none; padding-bottom: 0}
	.nav .menu li a {background:#f3f3f4;border-bottom: 1px solid #fff; padding-left: 15px}
	.nav .menu li .sub-menu {float:none !important; max-height:0;transition-duration:1s; -webkit-transition-duration:1s; -0-transition-duration:1s; overflow: hidden; width: 100%}
	.nav .menu li .sub-menu li {border: medium none !important;padding: 0; text-align: left !important;}
	.nav .menu li .sub-menu li a { position:relative; background: #f3f3f4;border-bottom: 1px solid #fff;height: 30px;line-height: 30px;padding: 0 15px; height: auto !important;}
	.nav .menu li.shrink ul.sub-menu {max-height: 1000px;}
	.nav .menu li a i.fa-angle-down {background:#66bcd1;color: #fff;font-size: 24px;line-height: 30px;position: absolute;right: 0;text-align: center;width: 30px; z-index:100; top: 0;}
	.nav .menu li a i.fa-angle-down:hover {background:#5c6a61}
	.nav .menu li .sub-menu.slide {max-height: 500px}
	.hidden {display: block !important}

	.site-description .search-content {padding-top: 10px !important}
	.nav {width: auto !important; border: 0px !important}
	#nav {  margin-left: -5px !important}
	.homepage-header-wrap {width: auto !important}
	#main_body {width: 100% !important; padding: 20px 10px 0 10px; box-sizing: border-box;}
	.block.home-image .slideshow {width: 100% !important; padding-bottom: 60%;}
	.homepage-header .homepage-image  {width: 100% !important; height:auto}
	#home #sidebar { width: 100% !important; float: none !important}
	.homepage-header .homepage-search {float: left !important; width: 100% !important; margin-top: 19px;}
	.homepage-search .gform_footer.top_label {width: 100%; padding: 10px 0px 0px 100px !important;text-align: left !important}
	.homepage-footer .homepage-contact {margin-top: 10px !important;width: auto !important}
	.homepage-footer .homepage-contact ul.contact-list li {width: 32.6531%}
	.homepage-footer .homepage-contact ul.contact-list li .clcl {width: auto !important; height: auto !important} 
	.homepage-footer {width: auto !important; padding: 10px !important}
	.homepage-search .gform_heading {width: 100%}
	.homepage-search .gform_body {width: 300px}
	.default-post {padding: 0px !important}
	body#selling #content, body#landlord #content, body#careers #content { margin-top: 0px !important}
	#footerwrap {width: auto !important}
	#footer {padding: 10px !important}
	#footer ul.menu {margin: 0; text-align: center;}
	#footerwrap {text-align: left !important}
	#footer .footer-menu img {/*left: 0px !important;*/ position: relative; margin: auto; top: 0; width: 130px;}
	#footerwrap .footer-credit {/*margin-left: 55px !important*/ padding: 6px 0; text-align: center; font-size: 11px;}
	#footer .nav {height: auto !important}
	#main_body .content .content, body#login .content, body#subscribe .content, body#townsville .content {margin-top: 0px !important}
	.homepage-footer .homepage-contact ul.contact-list img {  width: 100% !important;  height: 100% !important;}
	.content .default-post .entry .desc_page h2 {margin-top: 0px !important; padding: 10px !important}
	body#selling #sidebar, body#landlord #sidebar,
	body#careers #sidebar { float: left;position: relative !important;width: 100% !important;left: 0px !important;margin-top: 10px !important}
	.gform_footer.top_label {text-align: left !important;padding: 10px 0px 0 100px !important}
	 #content {overflow: hidden !important; width: 100% !important }
	#sidebar {padding: 0px !important; margin: 0px !important; }
	#sidebar #gform_wrapper_2, #sidebar #gform_wrapper_4{padding:10px}
	.content .default-post .entry .col_page .col_left {width: unset !important; padding: 0px !important; width: 95% !important;}
	.content .default-post .entry .col_page .col_right { float: left !important; width: unset !important; padding: 0px !important; width: 95% !important; }
	.content .default-post .entry .t_img  {height: auto !important;width: 100% !important; margin-top: 0px !important}
	.content .default-post .entry .t_img img  {width: 100% !important; height: auto !important;}
	.content .default-post .entry .col_page {padding: 10px !important;}
	#main_body .content div div h2 { padding: 10px 0 !important; float: none !important;float: unset !important}
	body#our-people #sidebar {width: 100% !important; float: left !important}
	body#our-people #content {width: 100% !important}
	body#our-people #agents_list {padding: 10px !important; margin-top: 20px}
	body#about-us #sidebar { clear:both; float:none}
	body#about-us #sidebar a { margin:10px}
	#about-us #content {min-height: unset !important}
	body#about-us #content, body#explore-the-townsville-region #content {width: auto !important;padding: 10px !important}
	body#contact-us #content {width: 100% !important}
	body#contact-us #sidebar {width: 100% !important}
	body#contact-us #sidebar img {width: 250px !important; height: auto !important;}
	body#contact-us .content {padding: 10px !important}
	.homepage-footer .homepage-contact ul.contact-list .image {height: auto !important; height: auto !important}

	#main_body .content div div a  {}
	#main_body {overflow: hidden;}
	body#property-search .homepage-header .homepage-image img, 
	body#buying .homepage-header .homepage-image img, 
	body#recent-sales .homepage-header .homepage-image img, 
	body#renting .homepage-header .homepage-image img, 
	body#recently-leased .homepage-header .homepage-image img, 
	body#currently-for-lease .homepage-header .homepage-image img, 
	body#search-results .homepage-header .homepage-image img {width: 100% !important; margin-top: 0px !important}
	body #sidebar {width: 100% !important}

	.entry #listings #thumbnail_format .list-row .clear {clear: none !important}
	#footer {clear: both;}
	.search_quick-wrap p.button.quick_search_btn  {clear: both; margin: 10px 0 0 107px !important;}
	#search_results {padding: 10px;}

	body#property-search h1.page-title, body#renting h1.page-title, body#buying h1.page-title,
	body#recent-sales h1.page-title, body#search-results h1.page-title {padding: 0 10px}
	#listings #list_format.ui-tabs-panel.ui-widget-content.ui-corner-bottom .list-wrap .details {width: auto !important;}

	body#property-search #bottom_pagination, body#buying #bottom_pagination, body#recent-sales #bottom_pagination, body#renting #bottom_pagination, body#recently-leased #bottom_pagination, body#currently-for-lease #bottom_pagination {float: left !important; margin-top: 10px;}
	#list_format .list-wrap .details p.headline {width: 100% !important; clear: both;}
	#list_format .list-wrap ul.rooms {position: unset !important; position: relative !important; float: left !important; margin: 10px 0 0 0 !important; top: unset !important;
	right: unset !important;}
	#list_format .list-wrap .details .rooms-wrap ul.rooms li.bedrooms.first {margin: 0px 0px 0px 0px !important;}
	#list_format .list-wrap .details .rooms-wrap {clear: both !important; }
	#thumbnail_format .list-wrap.alt {margin: 0px !important;}
	#search_results .tools .view_option {margin: 3px 0px 0px 10px !important;}
	.realty_widget_property_description ul.rooms {/*position: unset !important; position: none !important*/ left: 0px !important;}
	body#property #content .media_div.with_scroller table.media_table td.td_slider_photo {width: 100% !important;}
	body#property #content {width: 100% !important}
	body#property #content .media_div.with_scroller table.media_table td.td_slider_photo a#slide_photo_ref img {margin-top: 0px !important}
	body#property #content .media_div.with_scroller  {top: 0px !important;overflow: hidden;}

	body#property #content #realty_widget_property_description h2 { width: auto !important; margin: 0px 0 -20px 0;}
	body#property .realty_widget_property_description {padding: 0 0px 20px 0;}
	#realty_widget_property_description.realty_widget_property_description.block.widget.widget-3 #property_description {padding: 0 10px}
	.realty_widget_map_and_walkscore ul.sales_data {padding: 0px 10px !important;}
	body#property #sidebar {width: 100% !important;padding: 10px !important;float: left !important; box-sizing: border-box;}
	.realty_widget_property_table p.link-back  {left: 10px !important}
	#subscribe #content {padding: 0 10px !important}

	.homepage-search .search_quick-wrap ul.qs-ul li label {width: auto;}
	.search_quick-wrap ul.qs-ul li label {width: 100px}
	#agent ul.agent-tabs li { margin: 0px 20px 0px 0px !important}
	#agent ul.agent-tabs {padding: 0 10px !important}
	#agent .agent-details {  padding: 0 10px !important}
	#agent .socials {position: relative !important; margin: 0 0 10px 0 !important}
	#agent .page_toolbar { padding: 20px 0px 20px !important}

	#footer ul.menu li {height: 20px;display: inline-block;}
	td.td_photo_scroller #scroll-container #scroll-content a img {float: left; border-top: 1px solid #fff;}
	body#property #sidebar #realty_widget_feeds ul li {float: left;}
	body#home ul.contact-list li .image_office a {height: 95px;width: 95px}
	body#home ul.contact-list li .image_office a.townsville {right: 42.1%;top: 30.5%}
	body#home ul.contact-list li .image_office a.mackay {right: 33%;top: 52.1%}
	body#home #sidebar #gform_wrapper_2 {height:auto}

	.listing.column {clear: none;}
	.listing.column .container {width: 32.3334%}

	body#property #realty_widget_action_buttons {width: 100%; float: left;}
}

@media screen and (max-width:768px){
	.homepage-footer .homepage-contact ul.contact-list .image {height: auto !important}
	body#home ul.contact-list li .image_office a {height: 73px;width: 73px}
}

@media screen and (max-width:769px){ 
	#property_tools p.button.btnmap {display: none}
	#property_tools p.button.btnwalkscore {display: none}
	#property .pp_pic_holder.pp_default iframe{width: 100% !important; height: 300px !important}
	#property .pp_pic_holder.pp_default .pp_top {display: none}
	div.pp_default .pp_content_container .pp_left {background: transparent !important}
	div.pp_default .pp_content_container .pp_right {background: transparent !important}
	div.pp_default .pp_bottom {display: none}
}

@media screen and (min-width:605px) { 
	#header .nav ul.sub-menu li a {font-size: 100% !important;}
}

@media screen and (max-width:604px) { 
	

	/*MENU*/

	ol.cf-ol li input[type="text"] {  width: 250px;  display: block;  clear: both;}
	ol.cf-ol li select { width: 258px;   clear: both;  display: block;}
	#subscribe ol.cf-ol ul.prop_alerts_ul fieldset {padding-left: 0px !important}
	body#subscribe .default-post .post .entry ol.cf-ol ul.prop_alerts_ul li input[type="checkbox"] { margin-left: 0px !important}
	body#property #content .media_div.with_scroller  {/*height: 250px !important; */}
	body#property #content .media_div.with_scroller table.media_table td.td_slider_photo { height: 0 !important; padding-bottom: 69%;}
	#contact-us ol.cf-ol li label {width: 100% !important} 
	body#contact-us #content .entry form.contact_form.form_email_subscription .buttons.signup_button {margin-left: 0px !important}
	/*.block.home-image .slideshow { height: 240px !important;}*/
	

}

@media screen and (max-width:767px){ 

	#property.page-template-property-php div.ppt {display: none !important;}
	#property.page-template-property-php .pp_pic_holder.pp_default {width: 100% !important; left: 0px !important;}
	#property.page-template-property-php .pp_pic_holder.pp_default .pp_content_container .pp_left .pp_right .pp_content {width: auto !important; height: auto !important;}
	#property.page-template-property-php .pp_pic_holder.pp_default .pp_content_container .pp_left .pp_right .pp_content .pp_fade #pp_full_res .pp_inline .lightbox-wrap ol.cf-ol{width: auto !important;
	margin-left: 20px;}
	#property.page-template-property-php .pp_pic_holder.pp_default .pp_content_container .pp_left .pp_right .pp_content .pp_fade #pp_full_res .pp_inline .lightbox-wrap h2{border: none !important}
	#property.page-template-property-php .pp_pic_holder.pp_default .pp_content_container .pp_left .pp_right .pp_content .pp_fade .pp_details{ width: 91% !important}
	#property.page-template-property-php .pp_pic_holder.pp_default .pp_content_container .pp_left .pp_right .pp_content .pp_fade #pp_full_res img#fullResImage{ width: 100% !important; height: auto !important;}
	#property.page-template-property-php .pp_pic_holder.pp_default .pp_content_container .pp_left .pp_right .pp_content .pp_fade a.pp_expand {display: none !important;}
	#property.page-template-property-php .pp_pic_holder.pp_default .pp_content_container .pp_left .pp_right .pp_content .pp_fade  .pp_gallery {display: none !important;}




	/* header*/
	#header {margin: 0 !important;}
	.logo img {width: 100% !important; top: 0;}
	.site-description {position: relative; display: block; top: 20px}
	#headerwrap .site-description .social.left {float: left;}
	.toggle-menu.menu-icon {position: relative; top: -20px}
	.nav > ul > li > a {font-size: inherit}
	.nav .menu li .sub-menu li a {padding-left: 25px}
	.nav .menu li.shrink ul.sub-menu {max-height: 300px}

	.listing.column {clear: none;}
	.listing.column .container {width: 100%}
	
	.has-account {padding: 0 10px}
	.form_email_subscription {padding: 0 5%; width: 90%}
	ol.cf-ol li input[type="text"] {width: 98%}
	.cf-ol.right {float:none}
	ol.cf-ol ul.prop_alerts_ul > li {padding:0}
	ol.cf-ol ul.prop_alerts_ul fieldset {padding:0}
	ol.cf-ol ul.prop_alerts_ul > li#list4 {margin: 20px 0 0;width: 100%}
	ol.cf-ol li select {width: 99%}
	fieldset li.house_rooms .numberofrooms, fieldset li.price .prices {float: none;margin: 0 0 10px;width: 100%}
	fieldset li.house_rooms .numberofrooms select, fieldset li.price .prices select {width:100%}

	/* search box */	
	.search_quick-wrap p.button.quick_search_btn {margin: 0!important}
	.homepage-footer {padding: 0!important}
	.homepage-header .homepage-search #side_realty_widget_quick_search h2.section_title {margin-bottom: 0}
	.homepage-search .search_quick-wrap .suburb_select {padding: 0}
	.homepage-search ul li.location {margin-bottom: 15px;}
	.homepage-header .homepage-search #side_realty_widget_quick_search form fieldset input.btn {margin: 5px 5px 9px 0!important}
	.homepage-search ul li {padding: 0 0 0px !important}

	/* contents */
	body#property #content {padding: 0}
	#main_body {padding: 0 10px}
	body#our-people .content, body#about-us .content, body#contact-us .content, body#property .content, body#team-2 .content {margin-top: 0}

	/* search result */
	body#property-search h1.page-title, body#renting h1.page-title, body#buying h1.page-title, body#recent-sales h1.page-title, body#search-results h1.page-title {padding: 0}
	.listing.column .container {margin-left: 0}

	/* property details */
	body#property #sidebar #realty_widget_action_buttons {width: 100%;}
	body#property #content .media_div.with_scroller {/*height: 315px!important*/}
	div#scroll-container {width: 100%}

	/* property sidebar */
	body#property #realty_widget_action_buttons {padding: 0}
	body#property #sidebar .block_content {padding-bottom: 10px}
	.page-template-realty-php .search_wrap {margin: 0}
	.page-template-realty-php #search_results {padding: 10px 0}

	/* footer */
	#footerwrap .footer-menu .footer-logo {margin: 10px 0}

	/*Property List*/
	#list_format .details {width: 100%; float: none}
	#list_format div.image {width: 100% !important; float: none; padding: 1% 0 !important;}

	#obligation-free-appraisal ol.cf-ol li:nth-of-type(9) select, #obligation-free-rental-appraisal ol.cf-ol li:nth-of-type(9) select {width: 32.5%; margin: 0; clear: none; display: inline;}

	body#contact-us input[type="submit"] {width: auto; padding: 5px 23px;}
	#contact-us #captcha-image {margin: auto; width: 123px;}
	#contact-us .reload-captcha {margin-top: 4px; left: inherit; right: 0;}
	.opt_sale_Wrap, .opt_lease_Wrap {width: 100%; float: none;}
	#manage_profile ol.cf-ol div.prop_alerts_ul {width: 100%;}
	ol.cf-ol li .opt_sale_Wrap select, ol.cf-ol li .opt_lease_Wrap select {width: 100%;}
	.opt_sale_Wrap fieldset li.house_rooms .numberofrooms, .opt_sale_Wrap fieldset li.price .prices, .opt_lease_Wrap fieldset li.house_rooms .numberofrooms, .opt_lease_Wrap fieldset li.price .prices {width: 50%; float: left; padding-right: 8px; box-sizing: border-box;}
	fieldset li.house_rooms .numberofrooms.bathrooms:nth-of-type(2), fieldset li.price .prices.price_max:nth-of-type(2) {padding-right: 0;}

	form#commentform p.button label {display: none;}
} 

@media screen and (max-width: 600px) {
	body#home ul.contact-list li.feature_photo {width: 100%; padding-bottom: 66%;}
}

@media screen and (max-width:481px) {
	body#explore-the-townsville-region #content {padding: 10px !important}
	td.td_photo_scroller #scroll-container {background: #ffffff}
	body#property-search .homepage-header .homepage-image, body#buying .homepage-header .homepage-image, body#recent-sales .homepage-header .homepage-image, body#renting .homepage-header .homepage-image, body#recently-leased .homepage-header .homepage-image, body#currently-for-lease .homepage-header .homepage-image, body#search-results .homepage-header .homepage-image {height: auto !important; }
	/*.block.home-image .slideshow { height: 180px !important;}*/
	body#home ul.contact-list li .image_office a {height: 42px;width: 42px}
	body#home ul.contact-list li .image_office a.townsville {top:34.5%}
	body#home ul.contact-list li .image_office a.mackay {top:54.1%}

	.ui-tabs-nav li {margin: 0 10px 0 0;}

	#footer .nav ul.menu, #footer #footerwrap .footer-credit {margin: 0 !important;}

}
@media screen and (max-width:360px) { 
	body#home ul.contact-list li .image_office a {height: 30px; width: 30px}
}
@media screen and (max-width:321px) { 
	.search_quick-wrap ul.qs-ul li#price_for_sale.price div label {width: 100% !important}
	#side_realty_widget_quick_search_2 .suburb_select {clear: both !important;}
	#side_realty_widget_quick_search_2 .suburb_select #suburb_list input  {width: 197px !important;}
	#side_realty_widget_quick_search_2 fieldset li.house_rooms .numberofrooms {clear: both !important; width: 208px !important;}
	.search_quick-wrap p.button.quick_search_btn {   margin: 10px 0px 0px !important;}

	#agent ul.agent-tabs { height: 77px !important; }
	#explore-the-townsville-region .default-post .post .entry p {width: 250px !important}
	#thumbnail_format .image img {/*width: 290px !important; height: auto !important;*/}
	/*.block.home-image .slideshow { height: 120px !important}*/
} 

@media screen and (min-width: 600px) and (max-width: 767px) { 
	/*.block.home-image .slideshow { height: 270px !important; }*/
}

@media screen and (max-width: 767px) and (orientation: landscape) {
	#property.page-template-property-php .pp_pic_holder.pp_default {margin-top: -57px;}
	#property.page-template-property-php .pp_pic_holder.pp_default .pp_content_container .pp_left .pp_right .pp_content {width: 100% !important; height: 0 !important; padding-bottom: 53%;}
	#property.page-template-property-php .pp_pic_holder.pp_default .pp_content_container .pp_left .pp_right .pp_content .pp_fade #pp_full_res img#fullResImage {width: 100% !important; height: 100% !important; position: absolute;}
	#property div.pp_default .pp_content_container .pp_left, #property div.pp_default .pp_content_container .pp_right {padding: 0;}
	#property.page-template-property-php .pp_pic_holder.pp_default .pp_content_container .pp_left .pp_right .pp_content .pp_fade .pp_details {width: 99% !important;}
}