/* LISTINGS
==================================================================================================== *****/
.page-template page-template-realty-php .entry > p {display:none;}
#search_results { position:relative; }
#search_results .number_properties { padding:0 0 10px;}
#search_results .tools { 
	padding:5px; border: 1px solid #EAEAEA; text-shadow:1px 1px 0 rgba(255, 255, 255, 0.75); 
	background:#F4F4F4;
	background:-moz-linear-gradient(top, #FAFAFA 0%, #F4F4F4 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#F4F4F4));
	background:-webkit-linear-gradient(top, #FAFAFA 0%,#F4F4F4 100%);
	background:-o-linear-gradient(top, #FAFAFA 0%,#F4F4F4 100%);
	background:-ms-linear-gradient(top, #FAFAFA 0%,#F4F4F4 100%);
	background:linear-gradient(top, #FAFAFA 0%,#F4F4F4 100%);
}
#search_results .tools .view_option { float:left; margin:3px 0 0 20px; }
#search_results .tools .ui-tabs-nav .ui-state-active a { text-shadow:none}
#search_results_container .link-back {position: absolute;right: 0;top: -5px;}
#search_results_container .link-back a{display: block;line-height: 20px;}	
#search_results .tools .paging-sorter { float:right}
#search_results .tools select#sorter { float:left; border:1px solid #E9E9E9}
.page_toolbar p { float:left}
.page_toolbar p.page_numbers { margin:0 5px}
.page_toolbar p a { float:left; padding:0 5px}
.page_toolbar a:hover, .page_toolbar a.current_page_link { text-decoration:none; color:#666}
#search_results .tools .page_toolbar { float:left; margin:3px 10px 0 0}
#search_results .tools .page_toolbar a { color:#666666}
#search_results .tools .page_toolbar a:hover, #search_results .tools .page_toolbar a.current_page_link {color:#66BCD1}

#map_search_result { border-top:1px solid #F0F0F0}
#map_search_result .property_map { border-top:solid 1px #fff}
#map_search_result .property_map .gm-style-iw {width: 280px}
#map_search_result .property_map .gm-style-iw .infoaddress h5{font-size: 16px;background-color: #66BCD1;color: #FFF;padding: 3px}
#map_search_result .property_map .gm-style-iw ul.rooms {position: absolute;right: 0px}
#map_search_result .property_map .gm-style-iw ul.rooms li {margin: 0px}
#map_search_result .property_map .gm-style-iw .info_img a{position: absolute;right: 0px;bottom: 0px;}
#map_search_result .property_map .gm-style-iw .info_img img{height: 80px; width: auto; margin-top: 10px;}

.bottom-section { margin:20px 0 0; }

ul.rooms {display: inline-block;list-style: none outside none !important;margin: 0 !important;}
ul.rooms li { float:left; margin:0 0 0 15px; }
ul.rooms li span { float:left}
ul.rooms li span.room_type {
	background-image: url("../img/rooms.png");background-repeat: no-repeat;height: 20px;
	margin: 5px 0 0 10px;overflow: hidden;text-indent: -999px;width: 20px
}
ul.rooms li.bedrooms span.room_type { background-position:0 0}
ul.rooms li.bathrooms span.room_type { background-position:0 -20px}
ul.rooms li.carspaces span.room_type { background-position:0 -40px}

#list_format .details p.price, .listing-map-details .details p.price { 
	float:left; padding:0 0px 0 0; margin:0 10px 0 0; 
	background:url(../images/icons/bullet.png) no-repeat right center; 
	font-size: 15px;font-weight: bold;
}
#list_format .details p.property_type, .listing-map-details .details p.property_type { float:left; font-size: 15px; }
#thumbnail_format .details p.suburb, .listing-map .details p.street_address {margin:0 0 0px; overflow:hidden;font-weight: 600;padding: 0px 0px 0px 0px}

.image_overlay { position:absolute; top:12px; left:7px; padding:5px 10px 3px; background:#66BCD1; box-shadow:2px 2px 2px rgba(0, 0, 0, 0.25); color:#fff; }
.image_overlay a {height: 100%;left: 0;line-height: 18px;position: absolute;top: 0;width: 100%;}
.image_overlay span {display: block;line-height: 18px;}
	
/***** LIST VIEW *****/
#list_format .list-wrap {
	position:relative;padding:10px;background:#fefefe url("../img/wrap-shad.png") repeat-x 0 0; border-top:1px solid rgba(219, 219, 219, 1)
}
body#buying #bottom_pagination {float: right}
#list_format .image { position:relative; float:left; width:200px; padding:7px; background:#fff; border:1px solid #F4F4F4; font-size:15px; }
#agent #list_format .image { position:relative; float:left; width:150px; padding:7px; background:#fff; border:1px solid #F4F4F4; font-size:15px; }
#list_format .image a { display:block}
#list_format .image img { max-width:200px; margin-top: 0px !important}
	
#list_format .details { float:right; width:720px; position: relative}
#list_format .details a{ float: none !important}
#agent #list_format .details { float:right; width:455px; padding: 2px 0px}
#list_format .details p.headline { font-weight:400; color: #66BCD1;font-weight: bold; font-size: 18px; width: 70%}
body#team-2 #list_format .details p.headline {width: 60%}
#list_format .details p.street-address  {padding: 5px 0px}
body#team-2 #list_format .details p.price  {margin-right: 15px}
#list_format .details p.street-address a { background-color: #66BCD1;color: #fff;padding: 3px}
#list_format .details p.street-address a:hover { text-decoration: none ; background-color: #46A5BC}
#list_format ul.rooms { float:right; position: absolute;top: 0px;right: 0px}
	
/***** AGENT LIST VIEW *****/
#agent #list_format .list-wrap, #agent #list_format .list-wrap {border-top: 1px solid rgba(192, 192, 192, 1);background-color: rgba(242, 242, 242, 1); }
#agent .page_toolbar { padding:20px 0}
body#team-2 .default-post .post .entry ul {margin: 0px}

/* -misc- */
span.inbox-border { opacity:0; display:none; position:absolute; top:0; left:0; width:100%; height:100%; padding:2px; transition-duration:.2s; box-sizing:border-box; }
span.inbox-border span { display:block; width:100%; height:100%; border:solid 1px #fff; box-sizing:border-box; }
.list-wrap:hover span.inbox-border{ opacity:1;display:block; }
.list-wrap span.inbox-border{ transition-duration: .5s; width:50%; height:50%; top:25%; left:25%; }

/***** THUMBNAIL VIEW *****/
#thumbnail_format .list-row { padding: 10px 0 0px}
#thumbnail_format .list-wrap { position:relative; float:left; width:303px; padding:7px; background:#FFFFFF; border:0px solid #F4F4F4;  }
#thumbnail_format .list-wrap.alt { margin: 0 10px}
#thumbnail_format .image {position:relative; height: 200px;overflow: hidden;width: 303px;}
#thumbnail_format .image a {position: absolute;}
#thumbnail_format .image img {bottom: 0px;margin: auto;width: 303px;height: auto;top: 0px;right: 0px;position: absolute;left: 0px;margin: 0px !important}
#thumbnail_format .image img.portrait { max-width:inherit; max-height:200px; margin:0 auto !important; }
#thumbnail_format .image_overlay { top:40px; left: 0;}
#thumbnail_format .details { margin-top: 10px;}
#thumbnail_format .details p.suburb a{color: #66BCD1;padding-right: 10px;}
#thumbnail_format .details p.price {font-size: 15px;
font-weight: bold;color: #797572;line-height: 20px;padding: 0px 0px 0px 0px; }
#thumbnail_format .details p.property_type {padding: 0px 0px 5px 0px;color: #797572;right: 20px}
#thumbnail_format .details ul.rooms {position:absolute;left:7px;top:12px;padding:0px 15px 3px 0;background:#fff;box-shadow:2px 2px 2px rgba(0, 0, 0, 0.25)}

/***** MAP VIEW *****/
#map_canvas {width: 100% !important;height: 600px}
#map_search_result #map_canvas {height: 600px}
.listing-map { position:relative}
.listing-map .image { width:303px; margin:17px 0 7px}
.listing-map .image span { display:block; width:303px; height:200px; overflow:hidden; background:#f0f0f0 url(../img/no-image.png) center center no-repeat}
.listing-map .image img { max-width:303px}
.listing-map p.price { float:left}
.listing-map p.property_type { float:right}
.listing-map ul.rooms { position:absolute; left:0; top:5px; padding:0px 15px 3px 0; background:#fff; box-shadow:2px 2px 2px rgba(0, 0, 0, 0.25); }

/***** MAP VIEW ::Listing Details *****/
.listing-map-details .image .main-image { width:670px; height:377px; overflow:hidden}
.listing-map-details .image .main-image img { max-width:670px}
.listing-map-details .image .thumbs a { float:left; width:133px; height:75px; overflow:hidden; margin:1px 1px 0 0}
.listing-map-details .image .thumbs img { width:133px}
.listing-map-details .details { margin:1px 0 0; padding:20px; background:url("../img/wrap-shad.png") repeat-x 0 0; border-top:1px solid #F0F0F0; }
.listing-map-details .details p { margin:0 0 10px}
.listing-map-details p.headline { font-weight:400}
.listing-map-details .agent-info { position:relative; border-top:1px solid #F0F0F0}
.listing-map-details .agent-wrap { padding:20px; background:url("../img/wrap-shad.png") repeat-x 0 0}
.listing-map-details .agent { float:left; width:50%}
.listing-map-details .agent p.agent-name { margin:0 0 10px; font-weight:400}
.listing-map-details .agent p.agent-image { float:left; width:70px; height:88px; overflow:hidden}
.listing-map-details .agent p.agent-image img { max-width:70px}
.listing-map-details .agent p.agent-details { float:left; width:205px; padding:0 20px}
.listing-map-details .agent p.agent-details span { display:block}
.listing-map-details .agent p.agent-details strong { display:inline-block; width:25px; font-weight:400}
.listing-map-details p.contact-agent { position:absolute; top:5px; right:20px}
.listing-map-details p.contact-agent a { display:block; padding:0 0 0 21px; background:url(../img/email_16.png) 0 5px no-repeat}
.listing-map-details .link-back { position:absolute; bottom:2px; right:0}
.listing-map-details .link-back a { display:block; padding:0 0 0 21px; background:url(../img/back_curve.png) 0 center no-repeat}

/* TEAMS
==================================================================================================== *****/
.agent-intro { margin:0 15px 30px 0}
.agents { position:relative}
.agents .agent-image { width:100px; margin:0 20px 0 0}
.agents .agent-image .agent-frame { display:block; width:100px; height:125px; overflow:hidden}
.agents .agent-image img { max-width:100px}
.agents .socials { padding:7px 0 0}
.agents .socials a.network { float:left; width:16px; height:16px; margin:0 5px 0 0;background-image:url(../img/socials_16.png); background-repeat:no-repeat}
.agents .socials a.facebook { background-position:0 0}
.agents .socials a.twitter { background-position:0 -16px}
.agents .socials a.linkedin { background-position:0 -32px}
.agents .agent-details strong { display:inline-block; width:25px}

#agents_list .wrap { display:inline-block; width:100%; padding:0}
#agents_list .agent { width: 200px;border-right: 6px solid #FFF;margin: 0px 24px 30px 0px;height: 300px; float: left;}
#agents_list .agent-details { width:195px; padding:0 20px 0 0; }
#agents_list .agent-details ul {list-style: none outside none;}
#agents_list .agent-details ul.agent_name.first {}
#agents_list .agent-details ul li {margin-left: 0px;  clear: both;}
#agents_list .agent-details ul li.agent_mobile.last {float: left}
#agents_list .agent-details ul li.agent_name a {color: #66BCD1; font-size: 12pt;padding-top: 5px; float: left;}
#agents_list .agent-details ul li.agent_name a:hover { color:#1687A2; text-decoration:none; }
.agent-details strong { font-weight: 400;display: inline-block;width: 25px}
#agents_list .agent-image {height: 250px;position: relative;width: 214px; overflow:hidden;}
#agents_list .agent-image a{position: absolute;width: 214px;height: 250px;}
#agents_list .agent-image a img{bottom: 0;bottom: 0px;left: 0px;margin: auto;position: absolute;right: 0px;top: 0px;width: 214px;height: auto;}
#agent .agent-details { margin:0 0 20px; }
body#team-2 #content {position: relative;}
#agent ul.agent-info { display:inline-block; width:100%; margin:0 0 0px; padding:0 0 0px;list-style: none outside none}
#agent ul.agent-info li { float:left; margin:0 20px 0 0; }
#agent .socials {}
#agent .socials p a.back{ padding: 2px 15px 1px 15px;background-color: #66BCD1;color: #fff; margin-top: -4px;  } 
#agent .socials p a.back:hover{ text-decoration: none; background-color: #3C9EB6 }
body#team-2 .default-post .post .entry p { margin: 0px}
#agent .socials p{ margin: 0px; float: right;}
#agent .socials #agent_contact_form { float:left; margin:0px; padding: 0px 0px 0}
#agent .socials #agent_contact_form a { display:block; width:16px; height:16px; background:url(../img/email_16_square.png?v=0.1) 0 0 no-repeat; }
#agent .agent-image { margin: 0px 10px 10px 0px}
#agent .agent-image span.agent-frame img {width: 185px;height: auto;}
#agent #tabbed_listings { border-top:1px solid #F0F0F0}
#agent ul.agent-tabs { 
	height:37px; line-height:34px; border-top:solid 1px #fff; border-bottom:1px solid #EAEAEA; text-shadow:1px 1px 0 rgba(0, 0, 0, 0.1);
	background:#F4F4F4;
	background:-moz-linear-gradient(top, #FAFAFA 0%, #F4F4F4 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#F4F4F4));
	background:-webkit-linear-gradient(top, #FAFAFA 0%,#F4F4F4 100%);
	background:-o-linear-gradient(top, #FAFAFA 0%,#F4F4F4 100%);
	background:-ms-linear-gradient(top, #FAFAFA 0%,#F4F4F4 100%);
	background:linear-gradient(top, #FAFAFA 0%,#F4F4F4 100%);
	list-style: none outside none;
}
#agent ul.agent-tabs li { margin:0 0 0 20px; }
#agent ul.agent-tabs li.ui-state-active a {font-weight: bold; font-family:'Oswald',Arial,Helvetica,sans-serif; font-weight:400; text-shadow:1px 1px 0 rgba(255, 255, 255, 0.3); }
#agent ul.agent-tabs li a:hover { text-shadow:1px 1px 0 rgba(255, 255, 255, 0.3)}
#agent #testimonial_team { padding:20px; background:url("../img/wrap-shad.png") repeat-x 0 0}
#testimonial_team ul li {list-style: none outside none; margin: 0px 0px 20px;padding: 10px;border: 1px solid #E2E3E4;font-style: italic;background-color: #F3F3F4; }


/* AUCTIONS / OPENS
==================================================================================================== *****/
.listings_table table { margin:0 0 20px; border-top:solid 1px #f0f0f0; border-left:solid 1px #f0f0f0}
.listings_table table caption { padding:0 0 10px}
.listings_table table tr.alt { background:#FDFDFD}
.listings_table table th {
	padding:7px 5px;
	border:solid 1px #f0f0f0; border-top:solid 1px #fff; border-left:none; text-shadow:1px 1px 0 rgba(0, 0, 0, 0.1);
	background:#F4F4F4;
	background:-moz-linear-gradient(top, #FAFAFA 0%, #F4F4F4 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#F4F4F4));
	background:-webkit-linear-gradient(top, #FAFAFA 0%,#F4F4F4 100%);
	background:-o-linear-gradient(top, #FAFAFA 0%,#F4F4F4 100%);
	background:-ms-linear-gradient(top, #FAFAFA 0%,#F4F4F4 100%);
	background:linear-gradient(top, #FAFAFA 0%,#F4F4F4 100%);
}
.listings_table table td { padding:7px 5px; font-size:15px; border-bottom:1px solid #F0F0F0}
.listings_table table td.cell_address { background:#FAFAFA}
.listings_table td.rooms { text-align:center}
.listings_table td.cell_price { text-align:right}
.listings_table table tr:hover td { background:#fafafa}
.listings_table table tr:hover td.cell_address { background:#f6f6f6}

.site-alerts-wrap {margin-bottom:20px}
ol.cf-ol.bottom { margin:0 0 10px}
ol.cf-ol * { font-size: 10pt}
ol.cf-ol li { display:inline-block; width:100%; padding:0 0 10px; position: relative}
.default-post .post .entry ol.cf-ol li {margin: 0}
body#subscribe .default-post .post .entry ol.cf-ol ul.prop_alerts_ul li input[type="checkbox"] {}
body#subscribe .default-post .post .entry ol.cf-ol ul.prop_alerts_ul fieldset {margin: 10px 0}
body#subscribe #main_body .content div div a {float: none !important}
ol.cf-ol li.requi { font-size:13px}
ol.cf-ol li label { float:left; width:200px}
ol.cf-ol li input[type="text"], ol.cf-ol li select, ol.cf-ol li textarea { color:#888}
ol.cf-ol li input[type="text"] { width:250px}
ol.cf-ol li select { width:258px}
.sm-page ol.cf-ol li select { width:258px}
ol.cf-ol li textarea { width:250px; height:100px; resize:none}
ol.cf-ol li .btn { float:left; text-decoration:none}
ol.cf-ol ul.prop_alerts_ul fieldset{padding-left: 200px}
ol.cf-ol ul.prop_alerts_ul > li {padding: 0 0 0 200px}
ol.cf-ol ul.prop_alerts_ul > li#list4 {border-top: 1px solid #c0c0c2;margin: 20px 0 0 200px;padding: 10px 0;width: 257px}
ol.cf-ol ul.prop_alerts_ul > li.first .bold, ol.cf-ol ul.prop_alerts_ul > li#list4 .bold {color: #6fcde4;font-size: 18px;font-weight: bold;width: auto}
ol.cf-ol ul.prop_alerts_ul .checkbox {background: none; border: medium none; margin: 4px 5px 0 0}
ol.cf-ol ul.prop_alerts_ul > li#list4 .checkbox {margin:7px 5px 0 0; background:none; border:none}
ol.cf-ol ul.prop_alerts_ul > li.first .checkbox {margin-top: 7px}

fieldset li.house_rooms, fieldset li.price{margin-bottom: 0 !important;padding-bottom: 0 !important;}
fieldset li.house_rooms .numberofrooms, fieldset li.price .prices{float: left;margin-right: 7px;width: 125px;}
fieldset li.house_rooms .numberofrooms.bathrooms, fieldset li.price .prices.price_max{}
fieldset li.house_rooms .numberofrooms select, fieldset li.price .prices select{width: 100%;}

#return { margin:0 20px 20px 0}
#return p{margin: 0px}
body.popup-form #return { margin:0 0 20px}
body#email_subscribe ol.cf-ol li select { width:250px}
div.pp_default .pp_description {display:none!important}

/***** SUBSCRIPTION MANAGER *****/
.sm-page p.has-account { margin:0 0 20px}
.sm-page .sign-subscription { padding:0 0 20px; border-bottom:1px solid #F0F0F0}
.sm-page .alerts { padding:15px 0 0; }
.sm-page .alerts p.check-type { float:left; width:200px}
.sm-page .alerts ul.alert-type { float:left; width:470px}
.sm-page .alerts ul.alert-type > li { float:left; width:50%; position:relative}
.sm-page .alerts ul.alert-type > li .check-title input[type="checkbox"] { margin:8px 10px 0 0}
.sm-page .alerts ul.check-options { 
	position:absolute; top:-139px; left:23px; z-index:1; padding:25px 20px 10px; 
	border:1px solid #fff; box-shadow:0 0 5px rgba(0, 0, 0, 0.1);
	background:#F4F4F4;
	background:-moz-linear-gradient(top, #FAFAFA 0%, #F4F4F4 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#F4F4F4));
	background:-webkit-linear-gradient(top, #FAFAFA 0%,#F4F4F4 100%);
	background:-o-linear-gradient(top, #FAFAFA 0%,#F4F4F4 100%);
	background:-ms-linear-gradient(top, #FAFAFA 0%,#F4F4F4 100%);
	background:linear-gradient(top, #FAFAFA 0%,#F4F4F4 100%);
}
.sm-page .alerts ul.check-options li {display:block}
.sm-page .alerts ul.check-options li.button {position:absolute; top:5px; right:2px; width:auto; padding:0}
.sm-page .alerts ul.check-options li.button a.btn-close {display:block; width:16px; height:16px; background:url(../img/btn_close.png) 0 0 no-repeat}
.sm-page .alerts ul.check-options select { width:210px}
.sm-page .alerts ul.check-options .floated select { width:100px}
.sm-page .alerts ul.check-options select.select_suburb { height:95px}
.sm-page .alerts ul.check-options .floated { float:left; width:100px}
.sm-page .alerts ul.check-options .floated.left { margin:0 10px 0 0}
.sm-page .cancel-subscription { border-bottom:none}
.sm-page .cancel-subscription input[type="text"] { width:540px; margin:0 5px 0 0; padding:4px}

#contact-us .sm-page .contact_form { margin:30px 0 0}
#contact-us .sm-page .contact_form ol li { margin:0}
#contact-us .sm-page #return { margin:25px 20px 20px 0}

/***** REALTY LIGHTBOX *****/
.filter_lightbox { display:none; position:fixed; z-index:1000; left:0; width:100%; top:0; height:100%; opacity:0.9; background-color:#454545; }
.box_lightbox { display:none; position:absolute; z-index:1001; left:50%; top:15%; width:670px; margin:0 0 0 -335px; background:#fff; box-shadow:0 0 5px rgba(0, 0, 0, 0.5); }
.box_lightbox .boxtitle_lightbox {
    display:block; height:40px; line-height:40px;background-color: #6FCDE4; color:#FFFFFF;
    font-family:'Oswald',Arial,Helvetica,sans-serif; font-weight:400;
    font-size:18px; text-align:center; text-shadow:1px 1px 0 rgba(0, 0, 0, 0.25);
}
.box_lightbox .frame { padding:10px; position:relative; }
.box_lightbox .frame input[type="button"] { 
	position:absolute; top:-29px; right:10px; width:16px; height:16px; padding:0; 
	background:url("../img/close.png") no-repeat 0 0 transparent; border:none; box-shadow:none;
}
body#property .box_lightbox .frame input[type="button"] { top: 10px}
#load_form_map, #load_form_walk { height:354px; background:url(../img/loading.gif) center center no-repeat}
#load_form_walk { height: 304px;margin-top: -40px;padding-top: 40px;overflow: hidden}
body.popup-form .content { margin:20px; padding:20px; background:#fff; border:1px solid #F0F0F0; border-radius:5px; }

/***** JS LIGHTBOX *****/
#lightbox {	position:absolute;	left:0; width:100%; z-index:100; text-align:center; line-height:0}
#lightbox img { width:auto; height:auto;margin:0}
#lightbox a img { border:none}
#outerImageContainer { position:relative; background-color:#fff; width:250px; height:250px; margin:0 auto}
#imageContainer { padding:10px}
#loading { position:absolute; top:50%; left:50%; height:32px; width:32px; margin:0 0 0 -16px}
#hoverNav { position:absolute; top:0; left:0; height:100%; width:100%; z-index:10}
#imageContainer > #hoverNav { left:0}
#hoverNav a { outline:none}
#prevLink, #nextLink { width:49%; height:100%; background-image:url(data:image/gif;base64,AAAA); display:block}
#prevLink { left:0; float:left}
#nextLink { right:0; float:right}
#prevLink:hover, #prevLink:visited:hover { background:url(../img/lightbox/prevlabel.gif) left 15% no-repeat}
#nextLink:hover, #nextLink:visited:hover { background:url(../img/lightbox/nextlabel.gif) right 15% no-repeat}
#imageDataContainer { font:10px Verdana, Helvetica, sans-serif; background-color:#fff; margin:0 auto; line-height:1.4em; overflow:auto; width:100%	; }
#imageData { padding:0 10px; color:#666; }
#imageData #imageDetails { width:70%; float:left; text-align:left; }	
#imageData #caption { font-weight:bold;	}
#imageData #numberDisplay { display:block; clear:left; padding-bottom:1.0em;	}			
#imageData #bottomNavClose { width:66px; float:right;  padding-bottom:0.7em; outline:none; }	 	
#overlay{ position:absolute; top:0; left:0; z-index:90; width:100%; height:500px; background-color:#000}

/***** FEATURED *****/
#realty_widget_featured_listings h4, #home-text .news-media > h4 {text-transform:uppercase}
#realty_widget_featured_listings li.feature { float:left; width:199px; position:relative; text-align:center}
#realty_widget_featured_listings a.image { display:block; width:199px; height:130px; overflow:hidden; }
#realty_widget_featured_listings a.image img {height: 100%; width: auto;}
#realty_widget_featured_listings span.suburb {display:block; padding:10px 0 0}
#realty_widget_featured_listings .tooltips { display:none; 
	position:absolute; bottom:-93px; left:50%; z-index:1; opacity:0; width:260px; padding:20px; margin:0 0 0 -150px;
	background:#fff; box-shadow:0px 3px 8px rgba(0,0,0,0.1); border-radius:3px; filter: alpha(opacity=0);
	-webkit-transform:scale(0.2); -moz-transform:scale(0.2); -o-transform:scale(0.2); -ms-transform:scale(0.2); transform:scale(0.2);
	-webkit-transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out; -o-transition:all 0.3s ease-in-out; -ms-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
#realty_widget_featured_listings .tooltips h4 {margin:0 0 5px}
#realty_widget_featured_listings .tooltips p {margin:0 0 5px}
#realty_widget_featured_listings .tooltips p.headline { font-weight:400}
#realty_widget_featured_listings .tooltips p.price-type { margin:10px 0 5px; padding:5px 0; border-top:dotted 1px #F0F0F0; border-bottom:dotted 1px #F0F0F0}
#realty_widget_featured_listings .tooltips p.street_address { margin:0}
#realty_widget_featured_listings .tooltips ul.rooms {position:absolute;bottom:0;right:0;padding:5px 15px 5px 0;background:#000; border-radius:5px 0 5px 0}

/***** QUICK SEARCH *****/
#realty_widget_quick_search { height:290px; border-bottom:1px solid #F0F0F0}
#realty_widget_quick_search .wrap { border-bottom:none; padding-top:10px}
#home #realty_widget_quick_search .wrap {border-bottom: medium none;height: 240px;padding-bottom: 0;padding-top: 10px}
.homepage-search #realty_widget_quick_search li.qs-suburbs > p {display:none}
.homepage-search #realty_widget_quick_search li.button {margin:0}
.qs ul li { padding:0 0 5px}
.qs ul li select { width:100%}
.qs ul li.floated select, .qs ul li.floated .prices { width:127px}
.qs ul li.floated select.left , .qs ul li.floated .prices.price_min { width:127px; margin:0 5px 0 0}
.qs ul li.floated .prices, .qs ul li.floated .prices.price_min {float:left; margin-bottom:5px}
.qs ul li.qs-type label { float:left; margin:0 15px 0 0}
.qs ul li.qs-suburbs p { padding:5px 0; font-size:12px}
.qs ul li.button { text-align:right}

#realty_widget_quick_search .adv-search-option {position: relative;}
#realty_widget_quick_search .adv-search-option .adv-search-item{position: relative;}
#realty_widget_quick_search .adv-search-option #suburb_list{position: relative;}
#realty_widget_quick_search .adv-search-option #suburb_list input{
	padding:5px; border:1px solid #EAEAEA; font-family:inherit; font-size:inherit; color:#ccc; 
	-moz-transition: all 0.5s; -webkit-transition: all 0.5s; -o-transition: all 0.5s; width: 248px
}
#realty_widget_quick_search .adv-search-option #suburb_list .span-arrow {display: none}
#realty_widget_quick_search .adv-search-option #select_suburb{
	background-color: #FFF;border: 1px solid #EAEAEA;color: #CCC;
	display: block !important;height: 60px;overflow: auto;padding: 5px;position: relative;width: 248px
}

/***** DESCRIPTION *****/
.realty_widget_property_description { padding: 20px 0px}
.realty_widget_property_description h2 { float: none !important}
.realty_widget_property_description ul.rooms {position: absolute; right: 0px}
.realty_widget_property_description .block { margin:0 0 20px}
.realty_widget_property_description p.property_description { padding-top: 20px}

/***** MEDIA *****/
.realty_widget_media {border-top:none; margin-bottom:15px}
.realty_widget_media .media_div.with_scroller { position:relative}

.media-main { margin:0 0 1px}
.media-main a { display:block; width:630px; height:419px; overflow:hidden}
.media-main img { max-width:630px; }
.media-main img.portrait { max-width:inherit; max-height:419px; margin:0 auto !important; }

#scroll-container {position:absolute; width: 100%;height:84px; overflow:hidden; left: 0px;bottom: 0px}
#scroll-content  { position:relative; left:0}
#scroll-content a { float:left; height:77px; overflow:hidden; margin:0 1px 0 0}
#scroll-content a img  { max-height:77px}

#scroll-controls a {display:block; position:absolute; top:50%; width:24px;height:24px; margin-top:-12px;background-image:url(../img/media-arrow.png); background-repeat:no-repeat}
#scroll-controls a.up-arrow { left:10px; background-position:0 0}
#scroll-controls a.up-arrow:hover { background-position:0 -24px}
#scroll-controls a.down-arrow { right:10px; background-position:-24px 0}
#scroll-controls a.down-arrow:hover { background-position:-24px -24px}

/***** MAP & WALKSCORE *****/
.realty_widget_map_and_walkscore {border-top: 1px solid #CBCBCB;}
.realty_widget_map_and_walkscore ul.sales_data {
	height:40px; line-height:40px; padding:0 20px;
	background:#F4F4F4;
	background:-moz-linear-gradient(top, #FAFAFA 0%, #F4F4F4 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#F4F4F4));
	background:-webkit-linear-gradient(top, #FAFAFA 0%,#F4F4F4 100%);
	background:-o-linear-gradient(top, #FAFAFA 0%,#F4F4F4 100%);
	background:-ms-linear-gradient(top, #FAFAFA 0%,#F4F4F4 100%);
	background:linear-gradient(top, #FAFAFA 0%,#F4F4F4 100%);
}
#property_stats { clear:both; border-bottom:none}
#ws-walkscore-tile {width: 100% !important}
#ws-walkscore-tile iframe {width: 100% !important}

/***** PROPERTY TABLE *****/
.realty_widget_property_table td { padding:3px 0 4px; border-bottom:1px dotted #F0F0F0}
.realty_widget_property_table td.field { width:120px}
.realty_widget_property_table #currency_converter { padding:7px 0; border-bottom:1px dotted #F0F0F0}
.realty_widget_property_table #currency_converter span { display:inline-block; width:117px}
.realty_widget_property_table #currency_converter select { width:117px}
.realty_widget_property_table p.link-back {position: absolute;bottom: 0px;right: 0px;margin: 10px 10px 10px 0px}
.realty_widget_property_table p.link-back a { display:block; padding:0 0 0 21px; background:url(../img/back_curve.png) 0 center no-repeat}

/***** ACTION BUTTONS *****/
#property_tools p.button { float:left; width:50%; padding:0 0 15px}
#property_tools p.button a {
	display:block; height:16px; line-height:16px; padding:0 0 0 26px;
	color:#666; background-image:url(../img/action_buttons.png);
	background-repeat:no-repeat; border: medium none
}
#property_tools p.button a.email { background-position:0 2px}
#property_tools p.button a.brochure { background-position:0 -16px}
#property_tools p.button a.add_favs { background-position:0 -32px}
#property_tools p.button a.add_remove_favs { background-position:0 -48px}
#property_tools p.button a.view_favs { background-position:0 -64px}
#property_tools p.button a.view_photos { background-position:0 -80px}
#property_tools p.button a.map { background-position:0 -96px}
#property_tools p.button a.walkscore { background-position:0 -111px}
#property_tools p.button.video a { background-position:0 -128px}
#property_tools p.button.add_remove_favs a { background-position: 0px -96px}
#property_tools p.button.view_favs a {background-position: 0px -64px}
#property_tools p.button a:hover { text-decoration:none; color: #181818}

/***** CONTACT AGENT *****/
.realty_widget_contact_agent .agent_info { margin:0 0 20px}
.realty_widget_contact_agent .image { width:70px}
.realty_widget_contact_agent .image a { display:block; width:70px; height:88px; overflow:hidden}
.realty_widget_contact_agent .image img { max-width:70px}
.realty_widget_contact_agent .details { width:153px; margin:-6px 0 0}
.realty_widget_contact_agent .details p.agent-name { margin:0 0 3px; font-weight:400}
.realty_widget_contact_agent .details p.email_agent a { display:block; padding:0 0 0 26px; background:url(../img/email_16_grey.png) 0 7px no-repeat}
.realty_widget_contact_agent .details p strong { display:inline-block; width:25px}

/***** PROPERTY FEATURES *****/
.realty_widget_property_features ul { list-style:disc}
.realty_widget_property_features ul li { margin:0 0 0 14px}
.realty_widget_property_features #open_times ul { list-style:none}
.realty_widget_property_features #open_times ul li { margin:0 0 5px; padding:0 0 5px; border-bottom:1px dotted #F0F0F0}

/***** INSPECTION *****/
table.date_container {margin-bottom:20px;border: 1px solid #F0F0F0;border-top: none; width: 100%;}
table.date_container th.opentimes_date { 
	padding:7px 20px; border-bottom:1px solid #EAEAEA; border-top:solid 1px #F0F0F0; text-shadow:1px 1px 0 rgba(255, 255, 255, 0.5);
	background:#F4F4F4;
	background:-moz-linear-gradient(top, #FAFAFA 0%, #F4F4F4 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#F4F4F4));
	background:-webkit-linear-gradient(top, #FAFAFA 0%,#F4F4F4 100%);
	background:-o-linear-gradient(top, #FAFAFA 0%,#F4F4F4 100%);
	background:-ms-linear-gradient(top, #FAFAFA 0%,#F4F4F4 100%);
	background:linear-gradient(top, #FAFAFA 0%,#F4F4F4 100%);
	text-transform:uppercase
}
table.date_container tr.alt {background-color: #FAFAFA}
table.date_container tr td {font-size: 13px;}
td.time_cell {width: 130px;}
a.calendar {background-image: url("../img/calendar.png");
    display: inline-block;
    float: left;
    height: 16px;
    margin-right: 3px;
    margin-top: 1px;
    overflow: hidden;
    text-indent: -999px;
    width: 16px
}
body#property-search #bottom_pagination, 
body#buying #bottom_pagination,
body#recent-sales #bottom_pagination,
body#renting #bottom_pagination,
body#recently-leased #bottom_pagination,
body#currently-for-lease #bottom_pagination{float: right; clear: both;}
#thumbnail_format .details p.suburb a {float: left !important;}



body#property #sidebar ul.rooms li:first-child {margin-left: 0;}