body #sidebar {height:280px}
body#home ul.contact-list li .image_office h3 {color:#797572}

.homepage-footer {padding:20px 0 0}
.homepage-footer h3 {}
.homepage-footer h3 i {}
.homepage-contact .contact-list {display: inline-block;width: 100%}
.homepage-footer .homepage-contact ul.contact-list li {margin-bottom: 10px;margin-right: 1.02041%;width: 32.6531%}
.homepage-footer .homepage-contact ul.contact-list li .clcl {padding: 10px;width: auto}
.homepage-footer .homepage-contact ul.contact-list .image {height:149px}

body#contact-us #content {width:50% !important}
#contact-us .default-post {padding:0}
#contact-us .default-post .entry > p {display:none}
body#contact-us #sidebar {width: 50% !important; padding:0 !important}
#contact-us .mackay, #contact-us .townsville, #contact-us .brisbane {
    display: block !important;
    float: left;
    margin: 0 0 15px;
    width: 49%;
}
#contact-us .mackay {margin: 0 2% 0 0}
body#contact-us #sidebar .mackay img, body#contact-us #sidebar .townsville img {width: 100% !important}
#contact-us h2.title-office {background:#66bcd1 !important;color: #ffffff;float: none !important;margin: 0 0 10px;padding: 5px 7px}
#contact-us ol.cf-ol li label {width: 35%}
#contact-us ol.cf-ol li input[type="text"] {float: right;margin: 0 5% 0 0;width: 58%; padding:0.5%}
#contact-us ol.cf-ol li select {float: right;margin: 0 5% 0 0;padding: 0.5%;width: 59.3%}
#contact-us ol.cf-ol li textarea {float: right; margin: 0 5% 0 0;padding: 0.5%; width: 58%}
body#contact-us #content .entry form.contact_form.form_email_subscription .buttons.signup_button {margin: 0 0 0 36%}
#contact-us input[type="submit"] {
    background:-moz-linear-gradient(center top , #3c3c3c 0%, #797572 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#3c3c3c), color-stop(100%,#797572));
	background:-webkit-linear-gradient(top, #3c3c3c 0%,#797572 100%);
	background:-o-linear-gradient(top, #3c3c3c 0%,#797572 100%);
	background:-ms-linear-gradient(top, #3c3c3c 0%,#797572 100%);
	background:linear-gradient(top, #3c3c3c 0%,#797572 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c3c3c', endColorstr='#797572',GradientType=0 );
	color: #fff;
    margin: 0;
}
.homepage-image .wrap-map .map-image {margin: 0 !important; width:100%; height:auto}

body#renting .homepage-header .homepage-image,
body#buying .homepage-header .homepage-image {height:auto}

.wrap-map {position:relative}
#renting .homepage-image .wrap-map a, #buying .homepage-image .wrap-map a,
#purchased-properties .homepage-image .wrap-map a, #recently-purchased .homepage-image .wrap-map a,
#recently-rented .homepage-image .wrap-map a {height: 33px;position: absolute;width: 33px}

.homepage-image .wrap-map a.townsville {left: 38.3%;top: 43%}
.homepage-image .wrap-map a.mackay {left: 45.5%;top: 62%}

#purchased-properties #sidebar, #renting #sidebar, #buying #sidebar {height: 281px}

#our-people .default-post .entry > select {margin:0 0 20px}

/**** Quick Search 2 ****/
#side_realty_widget_quick_search_2 ul.qs-ul {width: 94%}
#side_realty_widget_quick_search_2 ul.qs-ul > li {margin: 0 1% 0 0 !important;padding: 0; width:18.5%}
#side_realty_widget_quick_search_2 ul.qs-ul > li.last {margin:0 !important}
#side_realty_widget_quick_search_2 ul.qs-ul > li.search_city {width:14%}
#side_realty_widget_quick_search_2 ul.qs-ul > li.price {width: 22%}
#side_realty_widget_quick_search_2 ul.qs-ul > li.location {width: 23%}
#side_realty_widget_quick_search_2 li label {display: block;float: none !important;padding: 0 !important}
#side_realty_widget_quick_search_2 ul.qs-ul > li select {width: 100% !important}

.search_quick-wrap ul.qs-ul li#price_for_sale.price .prices {width:47.5% !important; margin:0}
.search_quick-wrap ul.qs-ul li#price_for_sale.price .price_min {margin: 0 5% 0 0}

#side_realty_widget_quick_search_2 .suburb_select {margin:0; float:none}
#side_realty_widget_quick_search_2 .suburb_select #suburb_list input#suburb {padding:1.5%;width: 96%}
#side_realty_widget_quick_search_2 .suburb_select #select_suburb {padding: 2%;width: 94%}
#side_realty_widget_quick_search_2 fieldset li.house_rooms .numberofrooms,
#side_realty_widget_quick_search_2 fieldset li.price .prices {margin: 0;width: 100%}
#side_realty_widget_quick_search_2 p.button.quick_search_btn {float: right;margin: 20px 0 0 !important;width: 6%; clear:none !important}
#side_realty_widget_quick_search_2 p.button.quick_search_btn .btn {padding: 2px 0;width: 100%}

/*** LISTINGS ***/
#thumbnail_format .list-wrap {padding:0; width:32.3333%}
#thumbnail_format .list-wrap.alt {margin: 0 1.5% !important}
#thumbnail_format .image a {display: block;position: relative}
#thumbnail_format .image {width:100%}
#thumbnail_format .image img {width:100%}
#thumbnail_format .details ul.rooms {left: 0;top: 5px}

#list_format .image {width:21%}
#list_format .image img {width:100%; max-width:100%}
#list_format .details {width:76%}

#agents_list .agent-row {display: inline-block;width: 100%}
#agents_list .agent-row .agent {border: medium none;height: auto;margin: 0 1.02041% 15px 0;width: 32.6531%}
#agents_list .agent-row .agent:last-child {margin:0}
#agents_list .agent-row .agent .agent-image {float: none;height: auto;width: 100%}
#agents_list .agent-row .agent .agent-image a {height: auto;position: relative;width: 100%}
#agents_list .agent-row .agent .agent-image a img {position: relative;width: 100%}
#agents_list .agent-row .agent-details {border-bottom: 1px dotted #eaeaea;float: none;margin: 0;min-height: 45px;padding: 10px 0;width: 100%}
#agents_list .agent-row .agent-details ul {margin: 0}
#agents_list .agent-row .agent-details ul li {float: none;padding: 0}
#agents_list .agent-row .agent-details ul li a {display:block;float:none;font-size:14px;overflow:hidden;padding:0;text-overflow:ellipsis;white-space:nowrap;width:100%}

#team-2 .default-post {padding:0}
#team-2 .default-post .agent-details {display:inline-block}
#team-2 .agent-details .agent-image {margin: 0;width: 20%}
#team-2 .agent-details .agent-image span.agent-frame img {width:100%}
#team-2 .agent-details ._agentdesc {width:77%; position:relative}
#team-2 .agent-details .back {
    background:#f3f3f4;
    border: 1px solid #e2e3e4;
    border-radius: 100%;
    color: #5c6a61;
    font-size: 11px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: -10px;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
    top: 0;
    width: 40px;
}
#team-2 .agent-details .back:hover {background:#6fcde4;color: #fff;text-shadow: none}
#team-2 .agent-details .agent-info {border-top: 1px dotted #eaeaea;margin: 15px 0 0 !important;padding: 15px 0 0}
#team-2 .agent-details .agent-info li {float: none;margin: 0;padding: 0}
#team-2 .agent-details i.fa {color: #959595;font-size: 16px;width: 20px}

#agent #list_format .list-wrap {background:url("../img/wrap-shad.png") repeat-x scroll 0 0 #fefefe}
#agent #list_format .image {padding: 0.8%;width: 20%}
#agent #list_format .details {padding: 0;width: 76%}
#agent #list_format .details p.headline {font-size:16px}
#agent #list_format .details .street-address {margin:10px 0}

#searchform > div {display: inline-block;width: 100%; margin:20px 0}
#searchform input#s {float: left;margin: 0 5px 0 0;padding: 3px 5px 4px}

@media screen and (max-width:1023px) { 
	.homepage-footer h3 {background:#66bcd1;color: #fff;padding: 7px}
	body#home ul.contact-list li a h3:hover {color:#fff !important}
	body#home ul.contact-list li .image_office h3 {color:#fff}
	body#home #sidebar #gform_wrapper_2 {height:auto}
	#our-people .default-post .entry > select {margin:0 10px 10px}
	body#our-people #agents_list {margin:0}
	
	#team-2 .agent-details .back {right:10px}
}
@media screen and (max-width:900px) {
	#contact-us .mackay, #contact-us .townsville, #contact-us .brisbane {float: none;margin: 0 0 10px;width: 100%}
}
@media screen and (max-width:767px) {
body #sidebar {height:auto}
#purchased-properties #sidebar, #renting #sidebar, #buying #sidebar {height:auto}
.homepage-footer h3 {font-size:16px}

body#home #sidebar {height:auto}
.homepage-search .gform_heading, #gform_2 .gform_heading {border-bottom: 1px solid #e1e1e1;float: none;margin: 0;padding: 0 0 15px}
.homepage-search .gform_body, #gform_2 .gform_body {border-top: 1px solid #f8f8f8;float: none;padding: 15px 0 0;width: 100%}
.homepage-search ul li {display: inline-block;padding: 0 0 0px !important;width: 100%}
.homepage-search li .gfield_label {float: none;font-size: 13px;padding: 0;width: 100%}
.homepage-search .gform_fields input[type="text"] {padding: 0.5%;width: 98.7% !important}
.homepage-search .gform_footer.top_label {float: none;margin: 0 0 10px;padding: 0 !important}
.homepage-search .gform_footer.top_label input#gform_submit_button_2[type="submit"] {
	background:-moz-linear-gradient(center top , #3c3c3c 0%, #797572 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#3c3c3c), color-stop(100%,#797572));
	background:-webkit-linear-gradient(top, #3c3c3c 0%,#797572 100%);
	background:-o-linear-gradient(top, #3c3c3c 0%,#797572 100%);
	background:-ms-linear-gradient(top, #3c3c3c 0%,#797572 100%);
	background:linear-gradient(top, #3c3c3c 0%,#797572 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c3c3c', endColorstr='#797572',GradientType=0 );
	color: #fff;padding: 3px 0;width: 100%}

.search_wrap {margin:0 10px}

#side_realty_widget_quick_search_2 ul.qs-ul {width:100%}
#side_realty_widget_quick_search_2 ul.qs-ul > li {margin: 0 0 10px !important;width: 100% !important}
#side_realty_widget_quick_search_2 ul.qs-ul > li.price > div {display: inline-block;width: 100%}
.search_quick-wrap ul.qs-ul li#price_for_sale.price .price_min {margin: 0 1% 0 0}
.search_quick-wrap ul.qs-ul li#price_for_sale.price .prices {width:49.5% !important}
#side_realty_widget_quick_search_2 .suburb_select #suburb_list input#suburb {padding: 4px;width: 98.5%}
#side_realty_widget_quick_search_2 p.button.quick_search_btn {margin: 10px 0 0 !important; width:100%}

/*** LISTINGS ***/
.page-template-realty-php .entry > h2 {position:relative; top:auto; right:auto}

#search_results .tools {background: none;border: medium none;padding: 10px 0 0}
#search_results .tools .view_option {border-bottom: 1px solid #f4f4f4;display: inline-block;float: none;margin: 0 !important;text-align: center;width: 100%}
#search_results .tools .view_option li {margin: 0;padding: 0}
#search_results .tools .view_option li a {
    background: -moz-linear-gradient(center top , #fafafa 0%, #f4f4f4 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#f4f4f4));
	background:-webkit-linear-gradient(top, #fafafa 0%,#f4f4f4 100%);
	background:-o-linear-gradient(top, #fafafa 0%,#f4f4f4 100%);
	background:-ms-linear-gradient(top, #fafafa 0%,#f4f4f4 100%);
	background:linear-gradient(top, #fafafa 0%,#f4f4f4 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#f4f4f4',GradientType=0 );
    border-radius: 5px 5px 0 0;
    display: block;
    height: 30px;
    line-height: 30px;
    margin: 0 1px 0 0;
    padding: 0 10px;
}
#search_results .tools .paging-sorter {border-bottom: 1px solid #f4f4f4;display: inline-block;float: none;margin: 10px 0 5px;padding: 0 0 15px;width: 100%}
#search_results .tools .page_toolbar {margin:2px 0 0}
#search_results .tools .paging-sorter select {float: right;margin: 0 0 0 3px}
.page_toolbar p a {background:#f3f3f4;border-radius:100%;font-size: 11px;height:20px;line-height:20px;margin:0 1px 0 0;padding:0;text-align:center;width:20px}
.page_toolbar p.page_numbers {margin:0}

#thumbnail_format .list-wrap {float: none;margin: 0 0 15px;width: 100%}
#thumbnail_format .list-wrap.alt {margin: 0 0 15px !important}

#listings #list_format.ui-tabs-panel.ui-widget-content.ui-corner-bottom .list-wrap .details {width: 50% !important}
#list_format .image {padding: 1%;width: 45%}

.has-account {border-bottom: 1px dotted #eaeaea;font-size: 14px;font-weight: bold;padding: 0 0 10px}
#subscribe #content {width:auto !important}
.form_email_subscription {padding: 0;width: 100%}
#manage_profile ol.cf-ol li input[type="text"] {padding: 0.5%}
body#subscribe .default-post .post .entry ol.cf-ol ul.prop_alerts_ul li input[type="checkbox"] {margin: 3px 5px 0 0}
#manage_profile ol.cf-ol ul.prop_alerts_ul > li#list4 .checkbox {margin: 8px 5px 0 0}
.site-alerts-wrap {margin:0}
body#subscribe .buttons.signup_button {margin:0 !important}
body#subscribe .buttons.signup_button input.btn, #gform_2 .gform_footer input {
    padding: 5px 0;
    width: 100%;
	background:-moz-linear-gradient(center top , #3c3c3c 0%, #797572 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#3c3c3c), color-stop(100%,#797572));
	background:-webkit-linear-gradient(top, #3c3c3c 0%,#797572 100%);
	background:-o-linear-gradient(top, #3c3c3c 0%,#797572 100%);
	background:-ms-linear-gradient(top, #3c3c3c 0%,#797572 100%);
	background:linear-gradient(top, #3c3c3c 0%,#797572 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c3c3c', endColorstr='#797572',GradientType=0 );
	color: #fff;
}
body#subscribe .buttons.signup_button input.btn:hover, #gform_2 .gform_footer input:hover {background:#797572;color: #fff}

#gform_2 li.gfield {float: none;padding: 0 0 5px;width: 100%}
#gform_2 li.gfield label {float: none;font-size: 13px;padding: 0}
#gform_2 li.gfield input[type="text"] {padding: 0.5%;width: 98.7% !important}
#gform_2 .gform_footer {margin: 10px 0 0;padding: 0 !important}
#sidebar #gform_wrapper_2 .gform_fields select{ width:100%; }
#sidebar #gform_wrapper_4 .gform_fields select{ width:100%; }

body#contact-us #content {float: none;width: 100% !important}
#contact-us ol.cf-ol li label {display: block;float: none;width: 100%}
#manage_profile ol.cf-ol li input[type="text"] {float: none;margin: 0;width: 98.3%}
#contact-us ol.cf-ol li select {float: none;width: 100%}
#contact-us ol.cf-ol li textarea {float: none;width: 98.3%; margin:0}
body#contact-us #content .entry form.contact_form.form_email_subscription .buttons.signup_button {margin:0}
#contact-us input[type="submit"] {padding: 5px 0;width: 100%}
body#contact-us #sidebar {width: 100% !important}

#searchform > div {margin: 20px 10px}

}

@media screen and (min-width:605px) { 
	.nav ul ul {width:215px}
	#header .nav ul.sub-menu li {padding:0; margin:0 15px; border-bottom: 1px solid #c0c0c2;border-top: 1px solid #f9f9f9}
	#header .nav ul.sub-menu li.first {border-top:none}
	#header .nav ul.sub-menu li.last {border-bottom:none}
	#header .nav ul.sub-menu li a {height: 37px;line-height: 35px;padding: 0; font-size:12px}
}

@media screen and (max-width:480px) {
	#renting .homepage-image .wrap-map a, #buying .homepage-image .wrap-map a,
	#purchased-properties .homepage-image .wrap-map a, #recently-purchased .homepage-image .wrap-map a,
	#recently-rented .homepage-image .wrap-map a {height: 25px;position: absolute;width: 25px}
	
	.homepage-image .wrap-map a.mackay {left: 45.5%;top: 61%}
	
	#side_realty_widget_quick_search_2 ul.qs-ul > li select {width: 100% !important}
	#side_realty_widget_quick_search_2 .suburb_select #suburb_list input#suburb {width: 97% !important}
	#side_realty_widget_quick_search_2 fieldset li.house_rooms .numberofrooms,
	#side_realty_widget_quick_search_2 fieldset li.price .prices {width:100% !important}
	
	#footer ul.menu {margin: 0 0 0 65px !important}
	#footer ul.menu li {float: left;height: auto;width: 33%}
	#footer ul.menu li a {background: none;border: medium none;display: block;line-height: normal;padding: 0}
	#footerwrap .footer-credit {border-top: 1px dotted #eaeaea;font-size: 10px;margin: 10px 0 0 65px !important;padding: 10px 0 0}
}

@media screen and (max-width:320px) {
	#search_results .tools .view_option li {width: 33.3333%}
	#search_results .tools .page_toolbar {float: none;margin: 0;padding: 0 0 10px;width: 100%}
	.page_toolbar p a {height: 26px;line-height: 26px;width: 26px}
	#search_results .tools .paging-sorter select {margin: 0 1%;padding: 1%;text-align: center;width: 48%}
	#bottom_pagination {border-bottom: 1px dotted #eaeaea;border-top: 1px dotted #eaeaea;margin: 10px 0;padding: 15px 0}
	#agents_list .agent-row .agent {float: none;margin: 0 0 10px;width: 100%}
	
	#team-2 .agent-details .agent-image {float: none;margin: 0 0 10px;width: 100%}
	#team-2 .agent-details ._agentdesc {float: none;width: 100%}
	#team-2 .agent-details ._agentdesc h2 {padding:0 !important}
	#team-2 .agent-details .back {top:-60px}
	
	#agent #list_format .image {float: none;margin: 0 0 10px;padding: 2%;width: 95.5%}
	#agent #list_format .details {float:none; width:100%}
}

