/* LAYOUT 
==================================================================================================== */
html, body { height:100%; }
body { background: url(../img/bg_shadow.png) repeat-y top center white; /*background: white; /*#D1D1C4;*/ font-size:12px; line-height:18px; font-family:Arial, Helvetica, sans-serif; color:#3C3C3C; }
#wrapper { width:940px; padding:15px; margin:0 auto;  }
#header { width:100%; position:relative; z-index:3; }


/* GLOBAL CLASSES
==================================================================================================== */
h1, h2, h3, h4, h5, h6 { margin:0 0 15px; line-height:normal; font-weight:bold; }
h1 { font-size:24px; }
h2 { font-size:22px; }
h3 { font-size:20px; }
h4 { font-size:18px; }
h5 { font-size:16px; }
h6 { font-size:15px; }

	h1.page-title { color:#00467E; font-weight:normal; }
	h1.section_title {}
	#sidebar h3 { font-size:16px; }

strong { font-weight:bold; }
a { color:#00467E; text-decoration:none; outline:0; }
a:hover { color:#DD0000; }

input[type="text"], select, textarea { 
	padding:2px; font:12px/normal Arial, Helvetica, sans-serif; 
	border:solid 1px #eee; border-radius:2px; 
}
input.radio, input.checkbox { float:left; margin:2px 5px 0 0; }
input[type="submit"], input[type="button"], a.btn {
	padding:5px 15px; cursor:pointer; color:#fff; border:none; border-radius:2px;
	background:#00467E;
	background:-moz-linear-gradient(top, #00467E 0%, #003864 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#00467E), color-stop(100%,#003864));
	background:-webkit-linear-gradient(top, #00467E 0%,#003864 100%);
	background:-o-linear-gradient(top, #00467E 0%,#003864 100%);
	background:-ms-linear-gradient(top, #00467E 0%,#003864 100%);
	background:linear-gradient(top, #00467E 0%,#003864 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#00467E', endColorstr='#003864',GradientType=0 );
}
	a.btn { text-decoration:none; }
	@-moz-document url-prefix() {}
	
input[type="submit"]:hover, input[type="button"]:hover, a.btn:hover {
	background:#666;
	background:-moz-linear-gradient(top, #666 0%, #353535 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#666), color-stop(100%,#353535));
	background:-webkit-linear-gradient(top, #666 0%,#353535 100%);
	background:-o-linear-gradient(top, #666 0%,#353535 100%);
	background:-ms-linear-gradient(top, #666 0%,#353535 100%);
	background:linear-gradient(top, #666 0%,#353535 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#353535',GradientType=0 );
}

.ui-tabs-nav { 
	display:inline-block; height:36px; padding:0 0 0 6px; 
	border-radius:2px 2px 0 0; box-shadow:0 0 1px rgba(255, 255, 255, 0.5) inset; border:solid 1px #3C3C3C; border-bottom:none;
	background:#666;
	background:-moz-linear-gradient(top, #666 0%, #353535 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#666), color-stop(100%,#353535));
	background:-webkit-linear-gradient(top, #666 0%,#353535 100%);
	background:-o-linear-gradient(top, #666 0%,#353535 100%);
	background:-ms-linear-gradient(top, #666 0%,#353535 100%);
	background:linear-gradient(top, #666 0%,#353535 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#353535',GradientType=0 );
}
.ui-tabs-nav li { float:left; margin:5px 1px 0 0; }
.ui-tabs-nav li a { 
	display:block; height:30px; line-height:30px; padding:0 15px; border-radius:2px 2px 0 0; color:#fff; 
	text-shadow:1px 1px 0 rgba(0, 0, 0, 0.25); box-shadow:0 1px 0px rgba(255, 255, 255, 0.25) inset; background:#5C5C5C;
	background:-moz-linear-gradient(top, #8C8C8C 0%, #5C5C5C 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#8C8C8C), color-stop(100%,#5C5C5C));
	background:-webkit-linear-gradient(top, #8C8C8C 0%,#5C5C5C 100%);
	background:-o-linear-gradient(top, #8C8C8C 0%,#5C5C5C 100%);
	background:-ms-linear-gradient(top, #8C8C8C 0%,#5C5C5C 100%);
	background:linear-gradient(top, #8C8C8C 0%,#5C5C5C 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#8C8C8C', endColorstr='#5C5C5C',GradientType=0 );
}
.ui-tabs-nav li.ui-state-active a, .ui-tabs-nav li a:hover {
	background:#7C7C7C;
	background:-moz-linear-gradient(top, #CCCCCC 0%, #7C7C7C 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#CCCCCC), color-stop(100%,#7C7C7C));
	background:-webkit-linear-gradient(top, #CCCCCC 0%,#7C7C7C 100%);
	background:-o-linear-gradient(top, #CCCCCC 0%,#7C7C7C 100%);
	background:-ms-linear-gradient(top, #CCCCCC 0%,#7C7C7C 100%);
	background:linear-gradient(top, #CCCCCC 0%,#7C7C7C 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#CCCCCC', endColorstr='#7C7C7C',GradientType=0 );
}
.ui-tabs-panel { background:#EEEEEE; }
.ui-tabs-hide, .ui-tabs-hide { display:none; }

table {}
caption { text-align:center; }
th, td { vertical-align:top; padding:5px; }
th { text-align:center; }

/***** GENERICS *****/
.clearer, .clear { clear:both; }
.aquo { font-family:Georgia, "Times New Roman", Times, serif; }
.left, .float-left, .alignleft { float:left; }
.right, .float-right, .alignright { float:right; }
.alignnone { float:none; }
.aligncenter { margin:0 auto; display:block; }
.text-left { text-align:left; }
.text-right { text-align:right; }
.text-center { text-align:center; }
.text-justify { text-align:justify; }
.uppercase { text-transform:uppercase; }
.capitalize { text-transform:capitalize; }
.bold { font-weight:bold; }
.italic { font-style:italic; }
.underline { border-bottom:1px solid; }

.entry > p, .entry > ul, .entry > ol { margin:0 0 15px; }
.entry > ul { list-style:disc; }
	.entry > ul li { margin:0 0 0 14px; }
.entry > ol { list-style:decimal; }
	.entry > ol li { margin:0 0 0 18px; }


/* HEADER
==================================================================================================== */
.headerwrap { width:940px; height:167px; margin:0 auto; position:relative;  }

h1.logo	{ width:auto; position:absolute; top:27px; left:0; }
h1.logo a {}
h1.logo a img { width: 390px;}

.office-address { position:absolute; top:0; right:0; padding:5px 10px 5px 15px; background:#00467E; border-radius:0 0 0 30px; }
.office-address span { color:#fff; }
	.office-address span.phone { padding:0 0 0 24px; margin:0 0 0 15px; background:url(../img/phonew.png) 2px 0px no-repeat; }

.social-networks { position:absolute; bottom:52px; right:0; }
.social-networks div.logotag { /*font-size: 25px; font-weight: 500; font-family: "Arial";*/ background:url(../img/logotag.png) no-repeat; position:absolute; right: 102px; bottom: 4pxpx; color:#4e4e50; width:200px; height:25px;}
.social-networks ul {}
.social-networks ul li { float:left; margin:0 0 0 5px; }
.social-networks ul li a { display:block; width:32px; height:32px; background-image:url(../img/icon_socials.png); background-repeat:no-repeat; }
	.social-networks ul li a.facebook { background-position:0 0; }
	.social-networks ul li a.twitter { background-position:0 -32px; }
	.social-networks ul li a.youtube { background-position:0 -64px; }
	.social-networks ul li a.linkedin { background-position:0 -96px; }

/* NAV */
.ddsmoothmenu { 
	position:absolute; bottom:0; left:-15px; width:970px; 
	background:#00467E;
	background:-moz-linear-gradient(top, #00467E 0%, #003864 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#00467E), color-stop(100%,#003864));
	background:-webkit-linear-gradient(top, #00467E 0%,#003864 100%);
	background:-o-linear-gradient(top, #00467E 0%,#003864 100%);
	background:-ms-linear-gradient(top, #00467E 0%,#003864 100%);
	background:linear-gradient(top, #00467E 0%,#003864 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#00467E', endColorstr='#003864',GradientType=0 );
}
	* html .ddsmoothmenu { height:1%; } .ie7 .ddsmoothmenu { filter:none; }

.ddsmoothmenu ul {}
.ddsmoothmenu ul li { float:left; position:relative; }
	.ddsmoothmenu > ul > li { float:left; }

* html .ddsmoothmenu ul li a { display:inline-block; }
.ddsmoothmenu ul li a { display:block; color:#fff; text-shadow:1px 1px 0 rgba(0, 0, 0, 0.25); }
	.ddsmoothmenu > ul > li > a {
		padding:0 18px; height:40px; line-height:40px; 
		font-size:12px; font-weight:bold; background-image:url(../img/nav_a.png); background-position:100% center; background-repeat:no-repeat;
	}
	.ddsmoothmenu > ul > li.last > a { padding:0 20px 0 21px; background-image:none; }

.ddsmoothmenu ul li ul {
	display:none; visibility:hidden; position:absolute; left:0 !important; box-shadow:0 0 2px rgba(0, 0, 0, .5); 
}
.ddsmoothmenu ul ul li a { width:200px; padding:8px 10px; background:none repeat scroll 0 0 #003965; }

.ddsmoothmenu > ul > li.current_page_item > a, .ddsmoothmenu > ul > li:hover > a { 
	background:url(../img/nav_a.png) 100% center no-repeat #00467E;
	background:url(../img/nav_a.png) 100% center no-repeat, -moz-linear-gradient(top, #00467E 0%, #0066B7 100%);
	background:url(../img/nav_a.png) 100% center no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00467E), color-stop(100%,#0066B7));
	background:url(../img/nav_a.png) 100% center no-repeat, -webkit-linear-gradient(top, #00467E 0%,#0066B7 100%);
	background:url(../img/nav_a.png) 100% center no-repeat, -o-linear-gradient(top, #00467E 0%,#0066B7 100%);
	background:url(../img/nav_a.png) 100% center no-repeat, -ms-linear-gradient(top, #00467E 0%,#0066B7 100%);
	background:url(../img/nav_a.png) 100% center no-repeat, linear-gradient(top, #00467E 0%,#0066B7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#00467E', endColorstr='#0066B7',GradientType=0 );
}
	.ddsmoothmenu > ul > li.last:hover > a {
		background:#00467E;
		background:-moz-linear-gradient(top, #00467E 0%, #0066B7 100%);
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#00467E), color-stop(100%,#0066B7));
		background:-webkit-linear-gradient(top, #00467E 0%,#0066B7 100%);
		background:-o-linear-gradient(top, #00467E 0%,#0066B7 100%);
		background:-ms-linear-gradient(top, #00467E 0%,#0066B7 100%);
		background:linear-gradient(top, #00467E 0%,#0066B7 100%);
		filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#00467E', endColorstr='#0066B7',GradientType=0 );
	}
.ddsmoothmenu ul ul li.current_page_item > a, 
.ddsmoothmenu ul ul li:hover > a { background:#CCCCCC; color:#3C3C3C; font-weight:bold; text-shadow:1px 1px 0 rgba(255, 255, 255, 0.3); }


/* CONTAINER
==================================================================================================== */
#container { width:940px; margin:0 auto; padding:15px 0 30px; position:relative; z-index:1; }
	#home #container { padding:15px 0; }


/* CONTENT
==================================================================================================== */
#content {}


/* SIDEBAR
==================================================================================================== */
#sidebar { margin:0 0 15px; }
#sidebar .side_block {}


/* FOOTER
==================================================================================================== */
#footer { width:100%; font-size:11px; }
#footer .footerwrap { padding:30px 0 15px; background:url("../img/bg_footer.png") no-repeat center top; }
#footer p { margin:0; color:#999999; }
#footer p.left {}
#footer p.right {}
#footer a { color:#999999; }
#footer a:hover { color:#DD0000; }


/* HOMEPAGE
==================================================================================================== */
.home-top { position:relative; width:940px; margin:-15px 0 0 -15px; padding:15px 15px 0; z-index:1; }
.home-top div.slideshow { float:left; width:611px; height:320px; overflow:hidden; }
.home-top div.slideshow .slide { width:611px; height:320px; text-align:center; }
.home-top div.slideshow img { height:320px; }

.ads { float:right; width:314px; height:320px; }
.ads a { float:left; }
.ads a:hover {}

.home-middle { padding:15px 0;}

.home-bottom {}
.link-box-new { float:right; width:314px; }
.link-box-new a { display:block; height:97px; overflow:hidden; }
	.link-box-new a.newsletter { display:block; width:314px; height:96px; background:url(../img/home-links-newsletter.png) 0 -96px no-repeat; margin:0 0 16px; }
	.link-box-new a.contact { display:block; width:314px; height:96px; background:url(../img/home-links-contact.png) 0 -96px no-repeat; }
	.link-box-new a:hover.contact {  }
	.link-box-new a:hover.newsletter img { display:none;  }
	.link-box-new a:hover.contact img { display:none;  }
.link-box-new img { max-width:314px; }


/***** NOT BEEN VERIFIED *****/
table.share_enjoy { width:245px; }
table.share_enjoy td { padding:5px 0; }
table.share_enjoy td img, table.share_enjoy td a { float:left; }
table.share_enjoy td img { width:16px; height:16px; margin:0 5px 0 0; }

/* Posts */
.post { padding:0 0 15px; margin:0 0 15px; background:url(../images/backgrounds/inset.png) 0 bottom repeat-x; position:relative; }
p.author_thumb { width:50px; height:50px; padding:0; margin:0 10px 0 0; float:left; overflow:hidden; }
p.author_thumb img { max-width:50px; height:auto; }

p.author_pic { width:110px; height:110px; padding:0 5px 6px 0; float:right; }
p.author_pic img { width:105px; height:105px; border:0; }

.post_title_date { width:568px; margin:0; float:left;  }
	.post_title_date.no_author_thumb { width:100% !important; margin-bottom:9px; }

.post_title_date h2	{ padding:0; border:none !important; font-size:14px; font-weight:normal; color:#fff; }
	.post_title_date h2	a { color:#fff; }

p.postdate { margin:0; padding:0; text-transform:capitalize; font-size:11px; }
	p.postdate a {}

.flag { position:absolute; top:0; right:0; text-align:center;  text-transform:uppercase; display:none; }
	.flag a { 
		width:140px; height:23px; line-height:23px; padding:0; display:block; 
		background:url(../images/backgrounds/bg_cat.png) repeat-x 0 0; 
		 color:#fff !important;
	}
	.flag a:hover { color:#000 !important; text-decoration:none; }

.post-content { text-align:justify; }
.single .post-content { padding:15px 0 0; clear:both; }
.single .post-content p, .commentcontent p { margin:0 0 10px; }

/* Posts Page */
p.postmetadata { width:595px; height:18px; clear:both; }
p.postmetadata a, .more-link {  }
	span.post_filed_cats { float:left; }

.navigation {}
	.navigation p { margin:0 !important; }

#blog-div.single #content .navigation p { padding-bottom:4px; }

#blog-div .navigation p a { padding:2px 4px; }
#blog-div.single .navigation p a { padding:0; }

/* Comments */
/* Comment List */
div#comments { padding:0 0 15px; margin:0 0 15px; background:url(../images/backgrounds/inset.png) 0 bottom repeat-x; }
div#comments h4 { color:#fff; font-size:14px; font-weight:normal; margin:0 0 10px; }
div#comments .navigation { display:none; }

#content ul.commentlist {}
#content ul.commentlist li {}
	#content ul.commentlist li ul.children {}
ul.commentlist li.alt {}

.comment-author { float:left; width:110px; padding:0 10px 0 0; font-size:11px; }
.comment-author img { max-width:50px; }

.commentcontent { float:right; width:510px; margin:0 0 15px; text-align:justify; }
.commentcontent .reply a { color:#fff; }

span.says { display:none; }

/* Leave a Reply */
#commentform-container { position:relative; }
#content #commentform-container h4 { color:#fff; font-size:14px; font-weight:normal; margin:0 0 10px; }
#commentform-container .cancel-comment-reply { display:none; }
#commentform-container form input.textbox	{ width:305px; }
#commentform-container form textarea { width:460px; height:180px; margin:0; }
#commentform-container p.logged { position:absolute; top:0; right:0; font-style:italic; }
#commentform-container form#commentform p { clear:both; }
#commentform-container form#commentform label { float:left; width:120px; }
#commentform-container form#commentform input { width:200px; margin:0 0 5px; }
#commentform-container form#commentform textarea { width:400px; height:75px; margin:0 0 5px; }
#commentform-container form#commentform p.button { padding:0 0 0 120px; }
	#commentform-container form#commentform p.button input.btn { width:100px; }

/* Related Posts (after Leave a Reply) */
#wp_related_posts { padding:10px; }
#wp_related_posts h3 { margin:0 0 5px; font-size:14px; font-weight:bold; }
#wp_related_posts li { margin:0 0 3px 15px; }

/* Where did they go from here */
#wherego_related { margin-bottom:5px; padding-top:20px; padding-bottom:16px; }

/* OPENTIMES PAGE
---------------------------------------------------------- */
table.date_container { width:100%; margin:0 0 15px; }
table.date_container th { background:#00467E;  color:#fff; }
table.date_container td { background:#4e4e4e; text-align:center; }
	table.date_container .alt td { background:none; }
	table.date_container td.time_cell { width:120px; }
	table.date_container td.suburb_cell { width:200px; }
	table.date_container td.address_cell { /* width:130px; */ }
	table.date_container td.property_type_cell { width:130px; }
	table.date_container td.bedrooms_cell { width:30px; }
	table.date_container td.bathrooms_cell { width:30px; }
	table.date_container td.carspaces_cell { width:30px; }
	table.date_container td.price_cell {width:140px; }
	table.date_container td.property_link { width:30px; text-align:right; }
.results { width:100%; }
.results th { background:#00467E; }
.results .alt td { background:#4e4e4e; }
.results td { text-align:center; }
.td_address, .td_suburb, .th_address, .th_suburb, .address_cell, .suburb_cell { text-align:left !important; }
.auction_time { width:90px; }
.opentimes_date { background:#D79EC0; color:#404040; font-weight:bold; padding:5px 0 5px; text-align:center; }
.table-wrap { margin:10px 0 0; }

/* LOCATION INFO
---------------------------------------------------------- */
.location_info_table ul { background:url("../images/backgrounds/inset.png") repeat-x scroll 0 bottom transparent; margin:0 0 15px; padding:0 0 15px; width:100%; float:left; }
.location_info_table ul.alt {}
.location_info_table ul li { float:left; margin:0 15px 0px 0; }
	.location_info_table ul li .image { float:left; width:200px; }
	.location_info_table ul li .image a {}
	.location_info_table ul li .image img { max-width:200px; }

.suburb-description h4.location_heading { background:url("../images/backgrounds/inset.png") repeat-x scroll 0 bottom transparent; font-size:18px; font-weight:normal; margin:0 0 15px; padding:0 0 15px; }

.location_image {}
	.location_image .image { width:244px; float:right; margin:5px 0 0 15px; }
	.location_image img { max-width:244px; }

.location_short_info { margin:0 0 15px; }
	.location_short_info span.field { display:inline-block; width:85px; }
	.location_short_info span.colon { display:inline-block; width:13px; }

.location_amenities { margin:0 0 15px; }

.location_description { text-align:justify; margin:0 0 15px; }

.location_sold h4, .location_leased h4 { margin:0 0 10px; font-size:14px; font-weight:normal; }
.suburb-description .results tr.th { background:url("../images/backgrounds/date_container-th.png") no-repeat scroll 0 0 transparent; }
.suburb-description .results tr.th th { color:#000; }

.location_sold { margin:0 0 15px; }
.location_leased { margin:0 0 15px; }

.suburb-description .gsmsc-idleMapDiv { 
	border:1px solid #4D4D4E !important; width:628px !important; height:244px !important; margin:0 !important; 
	-moz-box-shadow:0 0 3px rgba(255,255,255,.5); -webkit-box-shadow:0 0 3px rgba(255,255,255,.5); box-shadow:0 0 3px rgba(255,255,255,.5); 
}

.suburb-description .gsmsc-controls {}
.suburb-description .gsmsc-controls form, .suburb-description .gsmsc-controls table { margin:0; }
.suburb-description .gsmsc-controls table td { padding:0; }
.suburb-description .gsmsc-controls form input {}
	.suburb-description .gsmsc-controls form input.gsc-input { border:1px solid #3B3B3B; padding:2px !important; width:564px !important; }
	.suburb-description .gsmsc-controls form input.gsc-search-button { padding:1px 5px; cursor:pointer; }
.suburb-description .gsmsc-controls form .gsc-branding-text { color:#fff; }
.suburb-description .gsmsc-controls form .gsc-branding img.gsc-branding-img-noclear { padding-top:5px !important; }

/* .gform_wrapper */
.gform_wrapper {  padding:0 10px 10px;  margin:0 0 10px; }
.gform_wrapper .gform_heading { padding:0 0 10px; }
.gform_wrapper .gform_body ul li.gfield { clear:both; }
.gform_wrapper .gform_body ul li.gfield .gsection_title { padding:20px 0 10px; }
.gform_wrapper .gform_body ul li.gfield > label { float:left; width:170px; text-align:left; margin-right:10px; }
.gform_wrapper .gform_body ul li.gfield .ginput_container { float:left; padding:0 0 5px; }

.gform_wrapper .gform_body .ginput_container span { float:left; margin:0 10px 0 0; }
	.gform_wrapper .gform_body .ginput_container span input, .gform_wrapper .gform_body .ginput_container span label { display:block; position:relative; }
	.gform_wrapper .gform_body .ginput_container span input { top:18px; }
	.gform_wrapper .gform_body .ginput_container span label { top:-21px; }

.gform_wrapper .validation_error { color:#EE0000; }
.gform_wrapper .gform_body .validation_message { color:#EE0000; }
.gform_wrapper .gform_body ul li.gfield > .validation_message { clear:both; padding:0 0 10px 150px; font-family:'CenturyGothic', arial, tahoma, serif; font-style:italic; }
.gform_wrapper .gform_body ul li.gfield .ginput_container .validation_message { padding:0 0 0 10px; float:right; }

.gform_wrapper .gform_body input { width:222px; background:#fff; }
.gform_wrapper .gform_body select { background:#fff;width:228px; }
	.gform_wrapper .gform_body select#input_1_5, .gform_wrapper .gform_body select#input_1_11 { width:206px; }
.gform_wrapper .gform_body .textarea { width:400px; height:100px; background:#fff; }
.gform_wrapper .gform_footer { clear:both; padding:0 0 0 180px; }



