body#print-property #main_body{width:750px;background:none;margin:0 auto;padding:0; }

#print-property {
	background:#ffffff;
}

#print-property h1.page-title {
	display:none;
}

#print-property .entry {
	background:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}

#print-property #container {
	color:#333333;
	
	width:750px;
}

#print-property #sidebar h3 {
	padding:15px;
	border-bottom:1px solid #FFFFFF;
}

#print-property #sidebar {
	background:none;
	color:#FFFFFF;
	width:auto;
}

#page_nav_buttons a {
	color:#FF8900;
	font-weight:bold;
}

#page_nav_buttons #print_page {
    border-right:1px solid;
    float:left;
    margin-right:10px;
    padding-right:10px;
}

#page_nav_buttons {
	position:relative;
	top:-20px;
}

body#print-property #headerwrap{width:750px;margin:0 auto; }
body#print-property .realty_widget_property_table,body#print-property .realty_widget_property_table #details{height:auto;margin:0;padding:0;float:none; }
body#print-property .realty_widget_property_table{padding:0;position:relative; }
body#print-property .realty_widget_property_table p.property_headline{margin:11px 0 10px;padding:0;border:0;font-size:18px; }

body#print-property .headerwrap { 
	width:700px;
}

body#print-property h2 {
    border-bottom:1px solid;
    font-size:1.75em;
    margin:0px 0 0.5em;
    padding-bottom:10px;
}

body#print-property h4 {
    font-size:1.25em;
    margin:0.825em 0;
}

body#print-property .agent_photo {
	display:inline-block;
	float:left;
	margin-right:20px;
}

body#print-property #content {
    float:right;
    margin:0 0 0 40px;
    width:430px;
}

body#print-property #property_description {width:430px;margin:0 0 25px;float:none; }
body#print-property #property_images_medium { width:430px; height:340px; margin:0 0 15px; }
body#print-property #property_images_medium .photo { width:210px; height:158px; margin:0 5px 5px 0; float:left; }
body#print-property #property_images_medium .photo img { width:208px; height:156px; border:1px solid #333; }

body#print-property .property_map{width:428px; }
body#print-property #map_canvas{ width:428px !important; height:321px !important; border:1px solid #333; }
body#print-property #sidebar{width:250px;background:0;margin:0 0 0 0;padding:0px 0;border:0;float:right; }
body#print-property .side_block{margin:0 0 20px;padding:0;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none; }
body#print-property table,body#print-property tr{width:100%;background:none;margin:0 0 30px; }
body#print-property #details .block_bottom {width:auto;margin:0;padding:0;border:0; }