/* LISTINGS
==================================================================================================== */
/***** LISTINGS TOOLS *****/
#sorter_pagination { position:relative; margin:0 0 15px; padding:0 0 15px; border-bottom:1px dotted #CCCCCC; }

#sorter_pagination a {}
.sorter_search_quick { position:absolute; top:-5px; right:0px; }
.sorter_search_quick select { width:105px; }
#sorter_pagination .page_toolbar { top:-2px; position:absolute; right:120px; }
.page_toolbar p { float:left; }
	.page_toolbar .page_numbers { margin:0 5px; }
	.page_toolbar .page_prev, .page_toolbar .page_next { font:14px Georgia, "Times New Roman", Times, serif; }
.page_toolbar a { display:inline-block; }
	.page_toolbar .page_numbers a { padding:0 5px; }
	.page_toolbar a.current_page_link { background:#CCCCCC; color:#3C3C3C; border-radius:1px; }
	.page_toolbar a.current_page_link:hover {}
.page_toolbar .page_prev a, .page_toolbar .page_next a {}

#bottom_pagination { padding:10px 0 0; }
#bottom_pagination .page_toolbar { float:right; }

#tabbed_listings #sorter_pagination { height:40px; }
#tabbed_listings #sorter_pagination .page_toolbar { top:10px; }


/***** ROOMS *****/
ul.rooms { display:inline-block; }
ul.rooms li { margin:0 0 0 10px; float:left; }
	
ul.rooms li span { float:left; margin:0 0 0 5px; line-height:16px; }
ul.rooms li span.room_count { color:#fff; font-weight:bold; }
ul.rooms li span.room_type { width:16px; height:16px; background-image:url(../img/rooms_white.png); background-repeat:no-repeat; }
ul.rooms li.bedrooms span.room_type { background-position:0 0; }
ul.rooms li.bathrooms span.room_type { background-position:0 -16px; }
ul.rooms li.carspaces span.room_type { background-position:0 -32px; }
	

/***** LIST *****/
table.property {}
table.property td.listCont { padding:0; }

.listWrap { margin:0 0 15px; padding:0 0 15px; border-bottom:1px dotted #CCCCCC; }

.listWrap .tdContent { float:right; width:725px; position:relative; }
	.listWrap p { margin:0 0 10px; }
	.listWrap p.headline { width:530px; font-size:16px; font-weight:bold; line-height:normal; }
	.listWrap p.description {}
	
	.listWrap p.suburb { clear:both; position:absolute; top:20px; right:0; }
	.listWrap p.price, .listWrap p.property_type { float:left; margin:0 10px 0 0; font-weight:bold; }
		.listWrap p.price { padding:0 15px 0 0; background:url(../img/strip.png) 100% center no-repeat; }
	.listWrap .property_id, .listWrap .id { position:absolute; right:0; top:0; }
	.listWrap .url { position:absolute; right:0; top:70px; }
	
	#list_format .rooms-wrap { position:absolute; top:0; right:0; padding:5px 15px 5px 5px; background:#00467E; border-radius:0 0 0 30px; }

.listWrap .image { position:relative; float:left; width:200px; }
	.listWrap .image a { display:block; width:200px; }
	.listWrap .image a img { max-width:200px; }

.image_overlay { position:absolute; top:-4px; left:-4px; }
.image_overlay .sticker {}
.image_overlay .sticker a { display:block; width:200px; height:133px; }
	.image_overlay .sticker.sold a { background:url(../img/sticker_sold.png) 0 0 no-repeat; }
	.image_overlay .sticker.leased a { background:url(../img/sticker_leased.png) 0 0 no-repeat; }
	.image_overlay .sticker.under_offer a { background:url(../img/sticker_offer.png) 0 0 no-repeat; }
	.image_overlay .sticker.open_home a { background:url(../img/sticker_open.png) 0 0 no-repeat; }
.image_overlay .sticker span { display:none; }

p.inspection {clear: both;padding: 15px 0 0}
.property-main .realty_widget_property_description p.inspection {padding: 0 0 15px}
p.inspection a {background:#00467E;border-radius: 3px;color: #FFFFFF;padding: 7px 10px}
p.inspection a:hover {background:#0059A0}


/* PROPERTY
==================================================================================================== */
.property-main { float:left; width:611px; }
	.property-main .property_block, .property-side .side_block { margin:0 0 15px; padding:0 0 15px; border-bottom:dotted 1px #CCCCCC; }
	.property-main h2.section_title, .property-side h3 { font-size:16px; color:#00467E; }
.property-side { float:right; width:314px; }


/* TEAMS
==================================================================================================== */
#agents_list .row { margin:0 0 15px; padding:0 0 15px; border-bottom:1px dotted #CCCCCC; }
.agent_item {} 
	#agents_list .agent_item { float:left; width:313px; }
	#agent .agent_item { padding:0 0 30px; }

.imageCont, .descCont { float:left; }
	.imageCont { width:115px; }
	.imageCont .image { width:100px; height:125px; overflow:hidden; }
	.imageCont img { max-width:100px; }

.descCont { width:825px; } #agents_list .descCont { width:183px; }
	.descCont .agent_name h4 { margin:0; font-size:14px; font-weight:bold; }
	.descCont .agent_detail { margin:0 0 10px; }
	.descCont p.agent_description { margin:10px 0 0; text-align:justify; }
	.descCont p#agent_contact_form { padding:10px 0 0; }

/***** AGENT *****/
span.agent-title { padding:0 0 0 10px; font-size:12px; color:#3C3C3C; }
#agent #tabbed_listings { position:relative; }
#agent .ui-tabs-nav { width:932px; }
#agent .ui-tabs-panel { padding:15px; }
#agent .pagination { position:absolute; top:9px; right:11px; }
	#agent .pagination .page_toolbar a { color:#fff; } #agent .pagination .page_toolbar a:hover { color:#d00; }
	#agent .pagination .page_toolbar a.current_page_link { color:#3C3C3C; }
#agent .listWrap .tdContent { width:695px; }
#agent #bottom_pagination { padding:0; }


/* SUBSCRIBE PAGE
==================================================================================================== */
p.registered, #return { padding:0 0 15px; margin:0 0 15px; font-style:italic; border-bottom:dotted 1px #ccc; }
p.registered a { text-decoration:underline; }

.contact_form {}
.contact_form .buttons { padding:0 0 0 150px; }

.cf-ol {}
.cf-ol li { padding:0 0 5px; clear:both; }

.cf-ol label { float:left; width:150px; font-weight:bold; }
.cf-ol input[type="text"] { width:200px; }
.cf-ol input[type="checkbox"] {}
.cf-ol select { width:206px; }
.cf-ol textarea { width:200px; height:100px; margin:0; }

.cf-ol .alert-options { padding:10px 0; }
.cf-ol .alert-types {}
.cf-ol .alert-types p.type-title { float:left; width:150px; font-weight:bold; }
.cf-ol .alert-types .prop_alerts_ul { float:left; width:790px; }
.cf-ol .alert-types .prop_alerts_ul > li { float:left; width:220px; clear:none; }
.cf-ol .alert-types .prop_alerts_ul > li .alert-option {}
.cf-ol .alert-types .prop_alerts_ul ul.check-options { width:185px; margin:7px 0px 0; padding:10px; background:#F8F8F8; }
	.cf-ol ul ul .numberofrooms, .cf-ol ul ul .prices { float:left; width:90px; }
	.cf-ol ul ul .bedrooms.numberofrooms, .cf-ol ul ul .price_min.prices { width:91px; padding:0 4px 0 0; }
	.cf-ol .alert-types .prop_alerts_ul ul.check-options select { width:100%; }


/* PROPERTY ALERTS
==================================================================================================== */
.sm_page {}
.sm_page p.has-account { margin:0 0 15px; }
.cancel-subscription { margin:15px 0 0; padding:15px; background:#FFFFDD; border:solid 1px #ffefb4; }
.cancel-subscription h6 { margin:0 0 10px; }
.cancel-subscription p { margin:0 0 5px; }
.cancel-subscription .searchbox { float:left; padding:5px; margin:0px 3px 0 0; border:solid 1px #ddd; }
.cancel-subscription .btn { float:left; }


/* POPUPS
==================================================================================================== */
#email_subscribe { background:#fff; }
#email_subscribe #main_body { background:url("../img/home-top-shadow.png") repeat-x scroll 0 42px transparent; }
#email_subscribe #main_body h2 {
	padding:0 15px;	height:41px; line-height:41px; font-size:18px; font-weight:normal; color:#fff;
	background:#00467E;
	background:-moz-linear-gradient(top, #00467E 0%, #003864 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#00467E), color-stop(100%,#003864));
	background:-webkit-linear-gradient(top, #00467E 0%,#003864 100%);
	background:-o-linear-gradient(top, #00467E 0%,#003864 100%);
	background:-ms-linear-gradient(top, #00467E 0%,#003864 100%);
	background:linear-gradient(top, #00467E 0%,#003864 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#00467E', endColorstr='#003864',GradientType=0 );
}

#email_subscribe #main_body form { padding:5px 15px 15px; }
#email_subscribe #main_body form .cf-ol select { width:200px; }
#email_subscribe #main_body form p.submit_btn { clear:both; padding:0 0 10px 150px; }
#email_subscribe #main_body form p.submit_btn  a { display:block; width: 75px; text-align:center;}
#email_subscribe #main_body form p.submit_btn #contact_agent_submit {
	padding:5px 15px; cursor:pointer; color:#fff; border:none; border-radius:2px;
	background:#00467E;
	background:-moz-linear-gradient(top, #00467E 0%, #003864 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#00467E), color-stop(100%,#003864));
	background:-webkit-linear-gradient(top, #00467E 0%,#003864 100%);
	background:-o-linear-gradient(top, #00467E 0%,#003864 100%);
	background:-ms-linear-gradient(top, #00467E 0%,#003864 100%);
	background:linear-gradient(top, #00467E 0%,#003864 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#00467E', endColorstr='#003864',GradientType=0 );
}
#email_subscribe #main_body form p.submit_btn input { 
	padding:5px 15px; cursor:pointer; color:#fff; border:none; border-radius:2px;
	background:#00467E;
	background:-moz-linear-gradient(top, #00467E 0%, #003864 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#00467E), color-stop(100%,#003864));
	background:-webkit-linear-gradient(top, #00467E 0%,#003864 100%);
	background:-o-linear-gradient(top, #00467E 0%,#003864 100%);
	background:-ms-linear-gradient(top, #00467E 0%,#003864 100%);
	background:linear-gradient(top, #00467E 0%,#003864 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#00467E', endColorstr='#003864',GradientType=0 );
}

#email_subscribe #main_body form p.requi { padding:0 0 0 150px; font-style:italic; }


/* WIDGETS
==================================================================================================== */
/***** FEATURED LISTINGS *****/
.realty_widget_featured_listings { float:left; width:611px; }
.realty_widget_featured_listings .featured {}
.realty_widget_featured_listings ul.slideshow {}
.realty_widget_featured_listings ul.slideshow li {}
.realty_widget_featured_listings .feature_image { width:611px; height:320px; overflow:hidden; }
	.realty_widget_featured_listings .feature_image img { max-width:611px; }
.realty_widget_featured_listings .feature_info { position:absolute; bottom:0; left:0; display:none; }

/***** QUICK SEARCH *****/
.realty_widget_quick_search {}
.realty_widget_quick_search_2 {}

#quick_search { height:38px; border-radius:2px; background:#ccc; border:1px solid #BBBBBB; box-shadow:0 0 1px rgba(255, 255, 255, 0.75) inset; }
#quick_search .section_title{
    float:left; width:76px; height:36px; margin:-1px 0 0 -1px; padding:4px 0 0 45px; text-shadow:1px 1px 0 rgba(0, 0, 0, 0.25); 
	background:url(../img/search_title.png) 0 0 no-repeat; color:#fff; font-size:14px; line-height:16px; font-weight:bold; 
}

#search_quick { float:right; width:804px; }
#search_quick ul {}
#search_quick ul li { float:left; margin:5px 5px 0 0; }
	#search_quick ul li.button { margin:6px 0 0; }

#search_quick ul li.search_types {}
	.search_types .for-sale, .search_types .for-lease { float:left; padding:5px; background:#3c3c3c; border-radius:2px; color:#fff; }
	.search_types .for-sale.active, .search_types .for-lease.active { background:#00467E; }
	.search_types .for-sale { margin-right:5px; }
	.search_types .for-sale  input.radio { *vertical-align: top; }
	.search_types .for-sale  label { *vertical-align: bottom; *font-size:12px; }
	

#search_quick ul li select { width:138px; padding:4px; border:1px solid #AAAAAA; box-shadow:0 0 2px rgba(0, 0, 0, 0.3) inset; }
#search_quick ul li input[type="submit"] { padding:5px; width:30px; }


/***** PROPERTY OF THE WEEK *****/
.realty_widget_properties_of_the_week { float:left; width:611px; }

#week_house, #week_rental { float:left; width:298px; }
#week_house { margin:0 15px 0 0; }

.realty_widget_properties_of_the_week h2.section_title { 
	margin:0; padding:8px 15px; font-size:14px; color:#fff; text-shadow:1px 1px 0 rgba(0, 0, 0, 0.25);
	border-radius:2px 2px 0 0; background:#00467E;
	background:-moz-linear-gradient(top, #00467E 0%, #003864 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#00467E), color-stop(100%,#003864));
	background:-webkit-linear-gradient(top, #00467E 0%,#003864 100%);
	background:-o-linear-gradient(top, #00467E 0%,#003864 100%);
	background:-ms-linear-gradient(top, #00467E 0%,#003864 100%);
	background:linear-gradient(top, #00467E 0%,#003864 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#00467E', endColorstr='#003864',GradientType=0 );
}
.realty_widget_properties_of_the_week .week_listings { position:relative; width:298px; height:175px; overflow:hidden; }
.realty_widget_properties_of_the_week a { display:block; }
.realty_widget_properties_of_the_week img { width:298px; }
.realty_widget_properties_of_the_week .desc { position:absolute; bottom:5px; left:0; width:100%; padding:5px 0; background:rgba(0, 0, 0, 0.3); color:#FFFFFF; text-align:center; }


/***** MEDIA *****/
.img-media { 
	width:940px; padding:15px; margin:-15px 0 15px -15px; 
	/*background:#0066B7; 
	background:-moz-linear-gradient(top, #0066B7 0%, #00467E 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#0066B7), color-stop(100%,#00467E));
	background:-webkit-linear-gradient(top, #0066B7 0%,#00467E 100%);
	background:-o-linear-gradient(top, #0066B7 0%,#00467E 100%);
	background:-ms-linear-gradient(top, #0066B7 0%,#00467E 100%);
	background:linear-gradient(top, #0066B7 0%,#00467E 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#0066B7', endColorstr='#00467E',GradientType=0 );*/
}
.realty_widget_media { margin:0; }

#mainpropimageContainer { position:relative; float:left; width:611px; height:406px; overflow:hidden; margin:0 0 15px; background:#fff; }
#mainpropimage {}
	#mainpropimage img { max-width:611px; }
#imageload {}
	#imageload img { display:block; position:absolute; left:50%; top:50%; margin:-16px 0 0 -16px; }
	#imageloadcount { position:absolute; top:60%; width:100%; text-align:center; }

#propcontainer { 
	width:940px; height:80px; position:relative; clear:both; border-radius:2px;
	box-shadow:0 0 2px rgba(0, 0, 0, 0.2), 0 0 1px rgba(255, 255, 255, 0.5) inset;
	background:#00467E;
	background:-moz-linear-gradient(top, #00467E 0%, #003864 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#00467E), color-stop(100%,#003864));
	background:-webkit-linear-gradient(top, #00467E 0%,#003864 100%);
	background:-o-linear-gradient(top, #00467E 0%,#003864 100%);
	background:-ms-linear-gradient(top, #00467E 0%,#003864 100%);
	background:linear-gradient(top, #00467E 0%,#003864 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#00467E', endColorstr='#003864',GradientType=0 );
	/*background:#0066B7; 
	background:-moz-linear-gradient(top, #0066B7 0%, #00589E 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#0066B7), color-stop(100%,#00589E));
	background:-webkit-linear-gradient(top, #0066B7 0%,#00589E 100%);
	background:-o-linear-gradient(top, #0066B7 0%,#00589E 100%);
	background:-ms-linear-gradient(top, #0066B7 0%,#00589E 100%);
	background:linear-gradient(top, #0066B7 0%,#00589E 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#0066B7', endColorstr='#00589E',GradientType=0 );*/
}
#imagesMainContainer { width:856px; height:60px; overflow:hidden; margin:0; padding:0; position:absolute; top:10px; left:42px; }
#propimages { width:856px; height:60px; margin:0; padding:0; }
#propimages a { border:none; background:none; }
#propimages a:hover { border:none; background:none; }

#smallpropimageContainer { width:95px; height:60px; float:left; }
#smallpropimage { width:90px; height:60px; overflow:hidden; }
#smallpropimage img { width:90px; }
#imageborder { margin:0; padding:0; z-index:1000; position:absolute; top:0px; left:5px; }

#propcontainer .arrow { position:absolute; top:50%; width:12px; height:16px; margin:-8px 0 0; background-image:url(../img/arrows_white.png); background-repeat:no-repeat; }
	#propcontainer .arrow.left { left:15px; background-position:0 0; }
	#propcontainer .arrow.right { right:15px; background-position:0 -16px; }

#googlemap { float:right; width:314px; height:406px; margin:0 0 15px; background:#fff; }
    #googlemap_image { width:314px; height:406px; overflow:hidden; }


/***** ACTION BUTTONS *****/
#property_tools {}
#property_tools p.link { float:left; margin:0 15px 0 0; }
#property_tools p.link a { 
	display:block; height:24px; line-height:24px; padding:0 0 0 29px; color:#3c3c3c; 
	background-image:url(../img/action_buttons.png?v=0.3); background-repeat:no-repeat; 
}
#property_tools p.link a:hover { color:#d00; }
	#property_tools p.email_to_self a { background-position:0 0; }
	#property_tools p.email_to_friend a { background-position:0 0; }
	#property_tools p.brochure a { background-position:0 -24px; }
	#property_tools p.add_favs a { background-position:0 -48px; }
	#property_tools p.add_remove_favs a { background-position:0 -72px; }
	#property_tools p.view_favs a { background-position:0 -96px; }
	#property_tools p.photo_btn a { background-position:0 -120px; }
	#property_tools p.floorplan a { background-position:0 -168px; }
	#property_tools p.print_page a { background-position:0 -144px; }


/***** PROPERTY DESCRIPTION *****/
.property-main .realty_widget_property_description { padding:0; border-bottom:none; }
.realty_widget_property_description .price_address { margin:0 0 15px; font-weight:bold; }


/***** SALES DATA *****/
.property-main .realty_widget_sales_data { padding:0; border-bottom:none; }
.realty_widget_sales_data .ui-tabs-nav { width:603px; }

#similar_listings { padding:15px 15px 0; }
#similar_listings .block { float:left; width:288px; margin:0 0 15px; }

#similar_listings .block .image { float:left; width:125px; }
	#similar_listings .block .image a { display:block; width:125px; height:83px; overflow:hidden; }
	#similar_listings .block .image img { max-width:125px; }

#similar_listings .block .similar_property_info { float:left; margin:0 0 0 10px;  width:150px; }
	#similar_listings .block .similar_property_info li.sim_price { padding:0 0 5px; }
		#similar_listings .block .similar_property_info li.sim_price { padding:0 0 10px; }
	#similar_listings .block .similar_property_info span.field { display:inline-block; width:50px; font-weight:bold; }


/***** PROPERTY TABLE *****/
.realty_widget_property_table .property_headline { display:none; }
.realty_widget_property_table table {}
.realty_widget_property_table table td {}
	.realty_widget_property_table table td.field { width:100px; background:#f8f8f8; border-bottom:solid 1px #fff; font-weight:bold; }
	.realty_widget_property_table table td.value { border-bottom:dotted 1px #f8f8f8; }
.realty_widget_property_table .link-back { padding:15px 0px 0; }
	.realty_widget_property_table .link-back a { display:block; line-height:16px; padding:0 0 0 21px; background:url(../img/link_back.png) 0 center no-repeat; }


/***** CONTACT AGENT *****/
.property-main .realty_widget_contact_agent { padding:0; }
.realty_widget_contact_agent .agent_info { padding:0 0 15px; }
.realty_widget_contact_agent .agent_photo { float:left; width:100px; }
	.realty_widget_contact_agent .agent_photo a { display:block; width:100px; height:125px; overflow:hidden; }
	.realty_widget_contact_agent .agent_photo a img { max-width:100px; }
.realty_widget_contact_agent .agent_contact_info {  float:left; width:199px; margin:0 0 0 15px; }
.realty_widget_contact_agent .agent_contact_info h4 { margin:0 0 10px; font-size:14px; }
.realty_widget_contact_agent .agent_contact_info p.email_agent { margin:10px 0 0; }


/***** MAP WALKSCORE *****/
.property-side .realty_widget_walk_score { margin:0; padding:0; border-bottom:none; }







