#featured {}

#featImg { 
	height:306px; position:relative; width:638px; margin:15px; z-index:0; border:solid 1px #3D3D3E; background:#EBEBEB; overflow:hidden; 
	-moz-box-shadow:0 0 3px rgba(255,255,255,.7); -webkit-box-shadow:0 0 3px rgba(255,255,255,.7); box-shadow:0 0 3px rgba(255,255,255,.7);
}
#featImg a {}
#featImg a img { max-width:638px; margin:-53px 0 0; /* it could be 86px */ }

ul#featProperties { position:absolute; bottom:2px; left:17px; width:636px; margin:0; overflow:hidden; list-style:none; z-index:1; *bottom:17px; }
#featProperties li { float:left; padding:5px; margin:0 0 0 1px; height:30px; width:148px; background:url(images/backgrounds/transparent-black-50.png) 0 0 repeat; color:#fff; }
	#featProperties li:first-child { margin:0; width:149px; }
	#featProperties li:hover { background:url(images/backgrounds/transparent-black-90.png) 0 0 repeat; cursor:pointer; }
	#featProperties li.featuresSelected { background:url(images/backgrounds/transparent-black-90.png) 0 0 repeat; }
	#featProperties li:hover a, #featProperties li.featuresSelected a { color:#F0480A; text-decoration:none; }
.home-full #featured #featProperties li:hover h2 a, .home-full #featured #featProperties li:hover h3 { color: #ffffff; }
#featProperties li a { color:#fff; }
#featProperties li a img { float:left; max-width:47px; height:auto; display:none; }
#featProperties li h2, #featProperties li h3 { float:right; font-size:11px; width:147px; font-weight:normal; line-height:15px; word-wrap:break-word; }

#featProperties li h2 { font-size: 14px; }

#featured .featTag { 
	position:absolute; bottom:10px; right:4px; width:117px; height:38px; 
	background: url(images/icons/featured-tag.png) no-repeat 0 0; 
}