@font-face {
    font-family: 'CenturyGothic';
    src: url('CenturyGothic.eot');
    src:  url('CenturyGothic.eot?#iefix') format('embedded-opentype'),
         url('CenturyGothic.ttf') format('truetype'),
         url('CenturyGothic.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CenturyGothic';
    src: url('CenturyGothic-Bold.eot');
    src: url('CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
         url('CenturyGothic-Bold.ttf') format('truetype'),
         url('CenturyGothic-Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;

}

